<section class="
  section--tipsfabriken
  module
  module--white-bg
  module--padding
  module--black">
  <div class="wrap">
    <div class="form module-content">
      <h3>{% t tipsfabriken.form.title %}</h3>
      <form action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
        <input type=hidden name="oid" value="00D58000000cNvl">
        <input type=hidden name="retURL" value="http://justarrived.se/thanks/feedback">
        <label for="first_name">{% t tipsfabriken.form.first_name %}</label><input  id="first_name" maxlength="40" name="first_name" size="20" type="text" /><br>
        <label for="last_name">{% t tipsfabriken.form.last_name %}</label><input  id="last_name" maxlength="80" name="last_name" size="20" type="text" /><br>
        <label for="email">{% t tipsfabriken.form.email %}</label><input  id="email" maxlength="80" name="email" size="20" type="text" /><br>
        <label for="city">{% t tipsfabriken.form.city %}</label><input  id="city" maxlength="40" name="city" size="20" type="text" /><br>
        <label for="city">{% t tipsfabriken.form.feedback %}</label><input  id="city" maxlength="40" name="city" size="20" type="text" /><br>
        <input class="btn-centered primary-btn btn-large" type="submit" name="submit">
      </form>
    </div>
  </div>
</section>
