---
layout: default
---

<div class="home">
  <div id="content" class="xmas">

    {% include xmas/xmas_banner.html %}

    <section class="intro-section">
      <h2 class="primary-color">Let's make this year count!</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam diam non lectus volutpat, placerat euismod sem viverra. Cras et risus quis lacus sollicitudin fringilla. Nulla facilisi. Nulla facilisi. Duis id odio ultrices, interdum massa et, commodo nibh. Donec eget sollicitudin tortor. Curabitur tempor massa quis nulla commodo facilisis.
      </p>
    </section>
    <section class="enfotin-images">
      <h2 class="secondary-color">#enfotin</h2>
      <div class="pics">
        <img class="hashtag-pic" src="/assets/images/xmas/placeholder.jpeg" alt="" />
        <img class="hashtag-pic" src="/assets/images/xmas/placeholder.jpeg" alt="" />
        <img class="hashtag-pic" src="/assets/images/xmas/placeholder.jpeg" alt="" />
        <img class="hashtag-pic" src="/assets/images/xmas/placeholder.jpeg" alt="" />
        <img class="hashtag-pic mobile-pic" src="/assets/images/xmas/placeholder.jpeg" alt="" />
        <img class="hashtag-pic mobile-pic" src="/assets/images/xmas/placeholder.jpeg" alt="" />
        <img class="hashtag-pic mobile-pic" src="/assets/images/xmas/placeholder.jpeg" alt="" />
        <img class="hashtag-pic mobile-pic" src="/assets/images/xmas/placeholder.jpeg" alt="" />
        <img class="hashtag-pic mobile-pic" src="/assets/images/xmas/placeholder.jpeg" alt="" />
        <img class="hashtag-pic mobile-pic" src="/assets/images/xmas/placeholder.jpeg" alt="" />
      </div>
    </section>
    <section class="supporters">
      <h2 class="secondary-color">Latest supporters</h2>
      <ul>
        <li><span class="primary-color supporter-name">Be the first one to register!</span></li>
      </ul>
    </section>
    {% include xmas/register_section.html %}
    <section class="counter">
      <div class="counter-diamond">
        <img class="counter-diamond-image" src="/assets/images/xmas/counter_blue.png" alt="counter" />
        <span class="counter-number">0</span>
      </div>
      <p style="font-size:18px;"><span class="primary-color">0</span>/150 registrations</p>
    </section>
  </div>
</div>
