.git
.sass-cache
.DS_Store

node_modules/
npm-shrinkwrap.json
Gemfile.lock
tmp/

LICENSE
_site

script/

# Locale ignores
ar/en
ar/sv
ar/ar

sv/en
sv/sv
sv/ar

en/en
en/sv
en/ar

ar/assets/
sv/assets/
en/assets/

ar/script/
sv/script/
en/script/

ar/LICENSE
sv/LICENSE
en/LICENSE

ar/README.md
sv/README.md
en/README.md

ar/Gemfile
sv/Gemfile
en/Gemfile

ar/Gemfile.lock
sv/Gemfile.lock
en/Gemfile.lock

ar/tmp/
sv/tmp/
en/tmp/
