---
title: We give newcomers in Sweden a chance to enter the labor market
layout: default
description: We give newcomers in Sweden a chance to enter the labor market
---

<div class="home">
  <div id="content">

    <div id="almedalen-2017-notice" style="display:none;background: #0069d2;color: #fff;padding: 15px 0;">
      <h2 style="margin: 0px 0;text-align:center;font-size: 18px;">
        Just Arrived är i Almedalen.
        <a href="/almedalen/" style="color: #E8218D;">
          Läs mer.
        </a>
      </h2>
    </div>
    <script type="text/javascript">
      if (new Date() > new Date(2017, 6, 1) && new Date() < new Date(2017, 6, 7)) {
        var element = document.getElementById('almedalen-2017-notice');
        if (element) {
          element.style.display = 'block';
        }
      }
    </script>

    {% include sections/top_banner_v2.html %}
    {% include sections/job_cards.html %}

    <section>
      <div class="ui grid section--newcomer-faq">
        <div class="two column stackable equal width row newcomer-faq-container">
          <div class="column section--newcomer-faq-left">
            <div class="row">
              <h3 class="section-subtitle">Ta första steget till ett jobb i Sverige</h3>
            </div>
            <div class="row">
              <p class="section-text">Just Arrived matchar dig som är ny i Sverige med arbetsgivare som behöver din kunskap och erfarenhet.</p>
            </div>
            <div class="row section-button-wrapper">
              <a href="{{site.app_register_link}}?&utm_source={{site.utm.source}}&utm_medium={{site.utm.medium}}" class="primary-btn border-btn--pink section-button">
                Registera profil
              </a>
              <a href="{{site.app_jobs_link}}?&utm_source={{site.utm.source}}&utm_medium={{site.utm.medium}}" class="primary-btn border-btn--pink section-button">
                Se aktuella jobb
              </a>
            </div>
          </div>
          <div class="column computer tablet only section-image" style="margin-top: 16px;"></div>
        </div>
      </div>
    </section>

    <section>
      <div class="ui grid section--newcomer-faq">
        <div class="two column stackable equal width row newcomer-faq-container">
          <div class="column computer tablet only section-image" style="margin-top: 16px;"></div>
          <div class="column section--newcomer-faq-left" style="background-color: #e5007d;">
            <div class="row">
              <h3 class="section-subtitle">Vi hjälper dig att hitta medarbetare med stor potential</h3>
            </div>
            <div class="row">
              <p class="section-text">Snabbt, enkelt och tryggt!</p>
            </div>
            <div class="row section-button-wrapper">
              <a href="/company" class="primary-btn border-btn--pink section-button">
                Läs mer
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include sections/home_how_we_match.html %}
    {% include sections/company/post_job_form.html %}
  </div>
</div>
