---
title: We give newcomers in Sweden a chance to enter the labor market
layout: default
description: We give newcomers in Sweden a chance to enter the labor market
---

<div class="home">
  <div id="content">
    {% capture top_banner_title %}{% t start.top_banner.title %}{% endcapture %}
    {% include v3/sections/top_banner.html title=top_banner_title %}
    {% capture job_cards_title %}{% t start.job_cards.title %}{% endcapture %}
    {% include sections/job_cards.html title=job_cards_title %}
    {% include v3/sections/first_step_to_your_new_job.html %}
    {% include v3/sections/find_employees_with_great_potential.html %}
    {% include v3/sections/win_win.html %}
    {% include v3/sections/central_station_event.html %}
    {% include sections/company/post_job_form.html %}
  </div>
</div>
