---
layout: post
title: Press
no_meta_section: true
---

<ul>
  <li>
    <a href="#in-the-press">{% t press.press_clips.title %}</a>
  </li>
  <li>
    <a href="#press-kit">{% t press.press_kit.title %}</a>
  </li>
</ul>

<hr>

<h4 id="in-the-press">{% t press.press_clips.title %}</h4>
<ul class="press-clip-list">
{% for press_clip in site.data.press_clips %}
  <li>
    {{press_clip.media}} - {{press_clip.date}}<br>
    <strong>{{ press_clip.title }}</strong><br>
    <a href="{{press_clip.url}}">
      {% t press.read_article_link %}
    </a>
  </li>
{% endfor %}
</ul>

<hr>

<div id="press-kit"></div>
<h2>Just Arrived</h2>
<h4>{% t press.press_kit.title %}</h4>
<p>
  <a href="{{ site.full_style_guide_url }}">
    <em>{% t press.full_style_guide_link %}</em>
  </a>
</p>

<p>
  <a rel="nofollow" href="{{"/assets/files/logos.zip" | prepend: site.github.url }}">{% t press.press_pack_zip %}</a>
</p>

<div class="press-logos module--txt-c">
  <h2 class="bordered bordered--primary bordered--centered">{% t press.logos.title %}</h2>
  <div>
    <p class="press-logo">
      <img src="{{"/assets/images/press/just-arrived-logo-long.png" | prepend: site.github.url }}" alt="Just Arrived Logo Long">
      Just Arrived Logo Long
    </p>

    <p class="press-logo">
      <img src="{{"/assets/images/press/just-arrived-logo-square-with-name-as-text.png" | prepend: site.github.url }}" alt="Just Arrived Logo Square with Name as Text">
      Just Arrived Logo Square
    </p>

    <p class="press-logo">
      <img src="{{"/assets/images/press/just-arrived-logo.png" | prepend: site.github.url }}" alt="Just Arrived Logo">
      Just Arrived Logo
    </p>

    <div class="press-logo">
      {% include ja_logo_animation.html %}
    </div>
  </div>

  <div class="module--charcoal-bg module--white" style="padding: 1em;">
    <h2 class="bordered bordered--primary bordered--centered">{% t press.logos.on_dark %}</h2>
    <p class="press-logo">
      <img src="{{"/assets/images/press/just-arrived-logo-long-white.png" | prepend: site.github.url }}" alt="Just Arrived Logo Long White">
      Just Arrived Logo Long White
    </p>
  </div>
</div>
