.almedalen-twitter-feed {
  margin-top: 40px;
}

.section--top_banner_v2.almedalen {
  background-image: url("/assets/images/almedalen-2017/visby.jpg");
  min-height: 600px;

  @media(max-width: 900px) {
    min-height: 450px;
  }

  .main-almedalen-header {
    text-align: center;
    color: #fff;
    margin-top: 45px;
    margin-bottom: 0;
  }
}

.justarrived-logo-almedalen-top {
  margin-top: 40px;
  max-width: 550px;
}

.almedalen-small-videos {
  text-align: center;
}

.almedalen-bottom-text {
  font-size: 1.33em;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  color: #fff;
  font-size: 1.5em;
  margin-bottom: 50px;
  margin: 0 auto;
  max-width: 750px;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
}
