.blog-title-container {
  text-align: center;
}

.blog-icon {
  width: 80px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.read-more-btn {
  margin-top: 32px;
}

.blog-post-separator {
  margin-top: 20px;
  width: 40px;
  height: 1px;
  background-color: $cerise;
  margin-left: auto;
  margin-right: auto;
}

.blog-post-separator:last-child {
  display: none;
}

.section--blog {
  & .module-content--centered {
		max-width: 740px;
	}

  h1.post-title {
    font-size: 2.6em;
  }
}

.post-content {
  margin-bottom: 60px;
}

.post-list-cover {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 15%;
  margin-bottom: 10px;
}

// Blog
.blog-categories-container {
  margin-top: 60px;
  &::before {
    content: "";
    height: 4px;
    background: #0069d2;
    width: 150px;
    display: block;
    margin-bottom: 6px;
  }
}

.blog-categories-links {
  &.blog-categories-large {
    columns: 2;
    @include tablet {
      columns: 4;
    }
  }

  &.blog-categories-medium {
    columns: 2;
  }

  .blog-categories-title {
    font-size: 1.2rem;
  }

  .blog-categories-item {
    margin-top: 30px;
    &:first-child {
      margin-top: 0;
    }
  }

  li {
    margin: 15px 0;
    // Prevent column break within an sub-list element
    break-inside: avoid-column;
  }
}

.blog-index-latest-post {
  display: none;
  @include tablet {
    display: block;
  }
}

.blog-page {
  .post-link {
    color: $cerise;
  }
}

.post-meta {
  a {
    color: $black;
  }
}
