.section--company-banner {
	& .wrap {
		max-width: 700px;
	}
	& .contribute-btn {
		margin-top: 1em;
	}
}


.section--our-customers {
  & .title {
    text-align: center;
  }
  & .company-logo {
		position: relative;
		top: 1em;
    max-width: 130px;
    margin: 10px 0;
    @include tablet {
      margin: 0;
    }
  }
  & ul {
    color: $black;
    display: block;
    margin-bottom: 0;
    @include tablet {
      justify-content: space-around;
      display: flex;
    }
    & li {
      display: block;
    }
  }
}

.company-submit-interest-button {
  text-align: center;
  margin-top: 10px;
}

.mobile-company-register-button {
	display: block;
	@include tablet {
		display: none;
	}
}

.company-register-button {
	display: none;
	@include tablet {
		display: inline-block;
		position: absolute;
		bottom: 2em;
		left: 50%;
		margin-left: -6.5em;
	}
}

.column-company {
	@include tablet {
		height: 25em;
	}
}

@media (max-width: 1050px) {
	.visible-tablet {
		position: relative;
		top: 1.3em;
		font-size: 10px;
	}
}
