.section--company-banner {
	& .wrap {
		max-width: 700px;
	}
	& .contribute-btn {
		margin-top: 1em;
	}
}

.section--company-recommendation {
  background-color: $background-color;

	padding-left: 8% !important;
	padding-right: 8% !important;

	.profile-circle {
    height: 135px;
    width: 135px;
    background-size: cover;
    border-radius: 500px;
    margin: 0 auto;
  }

  .sara-brandt {
    background-image: url(../images/profile-pictures/sara-brandt.jpg);
  }

  .johnny-warstrom {
    background-image: url(../images/profile-pictures/johnny-warstrom.jpg);
  }

  .fredrik-skytt {
    background-image: url(../images/profile-pictures/fredrik-skytt.png);
  }

  .section-title-container {
    text-align: center;
    margin-top: 50px;

    .section-title {
      color: $cerise;
    }
  }

  .name-cell {
    border-color: $cerise;
    text-align: center;
    opacity: 0.5;

    .title-cell {
      width: 100%;

      h4 {
        color: $black;
        margin-top: 2px;
        margin-bottom: 2px;
      }
    }

    .center-border-title-cell {
      @media(min-width: 768px) {
        border-left: 1px solid $cerise;
        border-right: 1px solid $cerise;
      }
    }
  }

  .name-cell-active {
    opacity: 1;
  }

  .section-footer {
    text-align: center;
    color: $black;
    margin-bottom: 50px;
  }
}

.section--companies-information {
  background: url(/assets/images/v2/company-information-section-bg.jpg) no-repeat;
  background-size: cover;
  color: $white;

	padding-left: 8% !important;
	padding-right: 8% !important;

  .title-container {
    text-align: center;
    margin-top: 50px;
  }

  .button-container {
    text-align: center;
    margin-bottom: 50px;
  }

  .information-text-container {
    text-align: center;
  }
}

.section--companies-grid {
  text-align: center;
  color: $cerise;

  .company-grid-container {
    .company-grid-cell {
      height: 400px;
  		padding: 0 !important;

      .company-grid-cell-overlay {
        position: relative;
        display: block;
        float: left;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        vertical-align: middle;

        .company-grid-cell-overlay-container {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 85%;
          width: 85%;
          border: 2px solid rgba(255, 255, 255, 0.8);

          .company-grid-cell-overlay-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
          }
        }
      }
    }

    .company-grid-cell-one {
      background: url(/assets/images/v2/company-grid-1-bg.jpg) no-repeat;
      background-size: cover;
    }

    .company-grid-cell-two {
      background: url(/assets/images/v2/company-grid-2-bg.jpg) no-repeat;
      background-size: cover;
    }

    .company-grid-cell-three {
      background: url(/assets/images/v2/company-grid-3-bg.jpg) no-repeat;
      background-size: cover;
    }

    .company-grid-cell-four {
      background: url(/assets/images/v2/company-grid-4-bg.jpg) no-repeat;
      background-size: cover;
    }

    .company-grid-cell-five {
      background: url(/assets/images/v2/company-grid-5-bg.jpg) no-repeat;
      background-size: cover;
    }

    .company-grid-cell-six {
      background: url(/assets/images/v2/company-grid-6-bg.jpg) no-repeat;
      background-size: cover;
    }
  }
}

.section--company-post-job-container {
	padding-left: 8% !important;
	padding-right: 8% !important;
	margin-top: 0 !important;
	padding-top: 100px !important;
	padding-bottom: 60px !important;

	background-image:    url("/assets/images/v2/company-form-background.jpg");
	background-size:     cover;
	background-repeat:   no-repeat;
	background-position: center center;

  .post-job-image-container {
    margin-bottom: 20px;

    .post-job-image {
      width: 300px;
      max-width: 100%;
      height: auto;

  	}
  }

	.single-input-container {
		.double-input-left {
			width: 47%;
			display:inline-block;
			float: left;
		}
		.double-input-right {
			width: 47%;
			display:inline-block;
			float: right;
		}
	}

	input {
		margin-bottom: 40px;
		background-color: $gray700;
		border: 1px solid white;
		border-radius: 10px;
	}

	textarea {
		padding-top: 4px;
		resize: none;
		min-height: 200px;
		background-color: $gray700;
		border: 1px solid white;
		border-radius: 10px;
		// a focused input (or hovered on)
	  &:focus,
	  &:active {
	    background-color: lighten($gray, 4%);
	    outline: none;
	  } // end hover or focus

	  // error notification
	  &.error,
	  &.is-invalid {
	    background-position: 99% center;
	    background-repeat: no-repeat;
	    outline-color: $alert-red;
	  } // end invalid input

	  // success notification
	  &.success,
	  &.is-valid {
	    color: $alert-green;
	    border-color: $alert-green;
	    background-color: $white;
	    background-position: 99% center;
	    background-repeat: no-repeat;
	    outline-color: $alert-green;
	  } // end valid input

	  // a disabled input
	  &[disabled],
	  &.is-disabled {
	    cursor: not-allowed;
	    border-color: $disabled-gray;
	    opacity: 0.6;

	    &:focus,
	    &:active {
	      background-color: $alert-blue;
	    } // end disabled focus

	  }
	}

	.form-post-now-button-container {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		.post-now-button {
			float: right;
		}
	}

}

.section--what-we-offer {
  background-color: $white;
  text-align: center;

	padding-left: 8% !important;
	padding-right: 8% !important;

  .section-title {
    color: $cerise;
    margin-top: 50px;
  }

  .section-subtitle {
    color: $black;
  }
	.what_we_offer_info_text {
		margin-bottom: 50px;
	}

}

.section--company-faq {
  background-color: $gray700;
  color: $white;

  .company-faq-container {
    padding-top:0 !important;

    .section--company-faq-left {
  		padding-left: 8% !important;
  		padding-right: 8% !important;
  	}

    .section-title {
      color: $cerise;
      margin-top: 50px;

    }

    .section-text {
      margin-bottom: 100px;
    }

    .section-button {
      margin-bottom: 50px;
    }

    .section-image {
  		background-image:    url("/assets/images/v2/company-faq-bg.jpg");
  	  background-size:     cover;
  	  background-repeat:   no-repeat;
  	  background-position: center center;
    }
  }
}

.section--our-customers {
  & .title {
    text-align: center;
  }
  & .company-logo {
		position: relative;
		top: 1em;
    max-width: 130px;
    margin: 10px 0;
    @include tablet {
      margin: 0;
    }
  }
  & ul {
    color: $black;
    display: block;
    margin-bottom: 0;
    @include tablet {
      justify-content: space-around;
      display: flex;
    }
    & li {
      display: block;
    }
  }
}

.company-small-bottom-border {
  margin-top: 20px;
  width: 40px;
  height: 1px;
  background-color: $cerise;
  margin-left: auto;
  margin-right: auto;
}

.company-submit-interest-button {
  text-align: center;
  margin-top: 10px;
}

.mobile-company-register-button {
	display: block;
	@include tablet {
		display: none;
	}
}

.company-register-button {
	display: none;
	@include tablet {
		display: inline-block;
		position: absolute;
		bottom: 2em;
		left: 50%;
		margin-left: -6.5em;
	}
}

.column-company {
	@include tablet {
		height: 25em;
	}
}

@media (max-width: 1050px) {
	.visible-tablet {
		position: relative;
		top: 1.3em;
		font-size: 10px;
	}
}
