$job-card-width: 280px;
$job-card-desktop-width: 240px;
$job-card-tablet-width: 212px;
$job-card-padding: 15px;

.job-cards-list {
  & li {
    display: inline-block;
  }
}

.job-cards-container {
  margin: 0 auto;
  max-width: $job-card-width * 4 + 60;
  text-align: center;

  @media (min-width: 768px) and (max-width: 1125px) {
    .job-cards-list li:last-child .job-card {
      display: none;
    }
  }
}

.job-card {
  text-align: left;
  height: 350px;
  cursor: pointer;
  width: $job-card-width;
  padding: $job-card-padding;
  margin: 10px 5px;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  vertical-align: top;
  @include tablet {
    display: inline-block;
    width: $job-card-tablet-width;
    .job-header {
      h4 {
        font-size: 18px;
      }
    }
  }
  @include desktop {
    width: $job-card-desktop-width;
  }
  .job-header {
    h4 {
      font-size: 20px;
      line-height: 23px;
      color: $black;
      //Constrain the hight and number of rows
      @include giveMeEllipsis(22px, 3);
    }
  }
  .company-name {
    max-width: $job-card-width - 30px;
    position: absolute;
    top: 7.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    @include tablet {
      max-width: $job-card-tablet-width - 30px;
    }
    @include desktop {
      max-width: $job-card-desktop-width - 30px;
    }
    span {
      color: $dark-hot-pink;
      font-weight: bold;
      letter-spacing: normal;
    }
  }
  .emphasize-title {
    text-transform: uppercase;
    display: block;
  }
  .city-name {
    position: absolute;
    top: 9.5em;
  }
  .company-name,
  .emphasize-title {
    font-size: 12px;
  }
  .job-description {
    font-size: 14px;
    color: $black;
    position: absolute;
    top: 10em;
    margin-right: 10px;
  }
  .job-meta-info {
    position: absolute;
    top: 13em;
    hr {
      width: $job-card-width - 2 * $job-card-padding;
      border: 1px solid $gray;
      @include tablet {
        width: $job-card-tablet-width - 2 * $job-card-padding;
      }
      @include desktop {
        width: $job-card-desktop-width - 2 * $job-card-padding;
      }
    }
    .total-amount {
      .amount {
        color: $dark-hot-pink;
        font-size: 48px;
        margin-right: 5px;
      }
      .currency {
        font-size: 24px;
      }
      .details {
        .left { float: left; }
        .right { float: right; }
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        @include tablet {
          font-size: 11px;
        }
        @include desktop {
          font-size: 12px;
        }
      }
    }
  }
}
