.section--testimonial {
	& .wrap {
		max-width: 750px;
	}

  .profile-circle {
    margin-top: 20px; // Magic number to align the circle with the quote next to it

    height: 135px;
    width: 135px;
    background-image: url(../images/profile-pictures/sara-brandt.jpg);
    background-size: cover;
    border-radius: 500px;
    margin: 0 auto;
  }

  .testimonial-quote-icon {
    font-size: 100px;
    float: left;
    line-height: 80px;
    margin-right: 10px;
  }

  .testimonial-body {
    text-align: right;
    font-size: 1.2rem;
  }

  .body-divider {
    margin: 40px 34px;
  }

  .testimonial-meta-author {
    text-align: right;
    margin-top: 30px;
    font-size: 1.1rem;
    font-style: italic;
  }
}
