.xmas {

  $mobile: 500px;

  text-align: center;

  .header-bg {
    background-image: url('/assets/images/xmas/new-banner.png');
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    height: 500px;
  }

  h1 {
    font-size: 64px;
  }

  .hero-title {
    max-width: 650px;
    color: white;

    @media(max-width: $mobile) {
      max-width: 400px;
      font-size: 48px;
    }
  }

  h2 {
    font-size: 48px;
    margin-bottom: 1em;

    @media(max-width: $mobile) {
      font-size: 36px;
    }
  }

  .intro-section {
    padding-top: 8em;
    .how-it-works {
      padding-top: 4em;
      padding-bottom: 8em;
    }
  }

  .primary-color {
    color: $cerise;
  }

  .secondary-color {
    color: #2B2E39;
  }

  p {
    margin: 0 auto;
    font-size: 18px;
    width: 50%;
    min-width: 250px;
  }

  section {
    padding: 5em 0;
  }

  .enfotin-images {
    background-color: #D8E6F7;

    .pics {
      text-align: left;

      .hashtag-pic {
        max-width: 25%;
        margin: -3px -2px;
        @media (max-width: 700px) {
          max-width: 50%;
        }
      }

      @media (max-width: 700px) {
        .mobile-pic {
          display: none;
        }
      }
    }
  }

  .supporters {

    li {
      margin: 0 auto;
      padding: 1em 0;
      font-size: 18px;
      border-bottom: 1px solid #DDDDE0;
      max-width: 600px;

      span {
        margin-right: 10px;
      }
    }

    .supporter-name {
      font-weight: bold;
      color: $cerise;
      a {
        color: $cerise;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .register-button {
    margin-top: 0.8em;
    font-size: 18px;
    color: white;
    background-color: $cerise;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    padding: 0.6em 3.8em;
    border: none;
    outline: none;

    &:active {
      background-color: $dark-cerise;
    }
  }

  .register {
    padding: 7em 0;
    height: 600px;
  }

  .counter {
    padding: 14em 0;
    margin: 0 auto;
    .counter-summary {
      font-size: 18px;
    }
    .counter-diamond-image {
      width: 450px;
      position: relative;
    }
    .counter-number {
      font-size: 144px;
      position: absolute;
      left: 0em;
      width: 100%;
      bottom: 5.8em;
      text-shadow: 2px 2px #000;
      color: white;

      @media (max-width: 770px) {
        bottom: 6.8em;
      }

      @media (max-width: 600px) {
        bottom: 7.9em;
      }
    }
  }
}
