<section class="
    section--change
    module
    module--txt-img
    module--white
    module--secondary-bg">
  <div class="module--img module--img-left" style="background-image: url({{ "/assets/images/bgs/bethechange.jpg" | prepend: site.baseurl_root }}); background-position: 50% 50%;">
  </div>

  <div class="
        module--txt
        module--txt-right
        ">
    <h2 class="bordered bordered--white bordered--left">Be the Change</h2>
    <p>In 2015, more than 160,000 people applied for asylum in Sweden. These are people like you and me, with the same needs and desires. However, statistics show that it takes many years for most new arrivals to get a job and support themselves in Sweden.*</p>

    <p><strong> Now, Swedish companies have the opportunity to make a difference.</strong></p>

    <p>Just Arrived exists to make it easy for companies to help. To create a sense of belonging and community by outsourcing simple tasks and jobs.</p>

    <p><small><em>* After ten years, only 60% of all immigrants have a job by which they can support themselves. http://forte.se/artikel/svarforcerad-arbetsmarknad-for-nyanlanda.</small></em>
    </p>
  </div>

</section>
