<section class="
    section--change
    module
    module--txt-img
    module--white
    module--secondary-bg">
  <div class="module--img module--img-left" style="background-image: url({{ "/assets/images/bgs/bethechange.jpg" | prepend: site.github.url }}); background-position: 50% 50%;">
  </div>

  <div class="
        module--txt
        module--txt-right
        ">
    <h2 class="bordered bordered--white bordered--left">{% t be_the_change.title %}</h2>
    <p>{% t be_the_change.description_start %}</p>

    <p><strong>{% t be_the_change.description_emphasis %}</strong></p>

    <p>{% t be_the_change.description_end %}</p>

    <p><a href="#" class="border-btn border-btn--white-blue btn-large cd-popup-trigger-signin">{% t be_the_change.cta %}</a></p>
    <p><small><em>{% t be_the_change.description_asterix %}</small></em>
    </p>
  </div>

</section>
