<section class="
  module
  module--white
  module--txt-c">

  <div class="module-content">
    <div class="columns">
      <div class="column-1-3 column-secondary">
        <div>
          <h2>{% t companies_howto.first.title %}</h2>
          <p>{% t companies_howto.first.body %}</p>
        </div>
      </div>

      <div class="column-1-3 column-primary">
        <div>
          <h2>{% t companies_howto.second.title %}</h2>
          <p>{% t companies_howto.second.body %}</p>
        </div>
      </div>

      <div class="column-1-3 column-charcoal">
        <div>
          <h2>{% t companies_howto.third.title %}</h2>
          <p>{% t companies_howto.third.body %}</p>
        </div>
      </div>
    </div>

  </div>

</section>
