<section class="
    module
    module--padding
    module--txt-img
    module--white
    module--charcoal-bg">
  <div class="wrap">
    <div class="product-image">
      <img src="{{ "/assets/images/inline/iphone6.png" | prepend: site.github.url }}">
    </div>
    <div class="product-summary">
      <h2 class="bordered bordered--white bordered--left">{% t company_what_we_offer.title %}</h2>
      <p>{% t company_what_we_offer.description %}</p>
      <!-- <ul class="bullet">
        <li> -->
          <p>
            <strong>{% t company_what_we_offer.feature_list.flexibility.title %}</strong> <br>
          </p>
          <p>
            {% t company_what_we_offer.feature_list.flexibility.body %}
          </p>
        <!-- </li>
        <li> -->
          <p>
            <strong>{% t company_what_we_offer.feature_list.speed.title %}</strong> <br>
          </p>
          <p>
            {% t company_what_we_offer.feature_list.speed.body %}
          </p>
        <!-- </li>
        <li> -->
          <p>
            <strong>{% t company_what_we_offer.feature_list.simplicity.title %}</strong> <br>
          </p>
          <p>
            {% t company_what_we_offer.feature_list.simplicity.body %}
          </p>
        <!-- </li>
        <li> -->
          <p>
            <strong>{% t company_what_we_offer.feature_list.sustainability.title %}</strong> <br>
          </p>
          <p>
            {% t company_what_we_offer.feature_list.sustainability.body %}
          </p>
        <!-- </li>
        <li> -->
          <p>
            <strong>{% t company_what_we_offer.feature_list.prices.title %}</strong> <br>
          </p>
          <p>
            {% t company_what_we_offer.feature_list.prices.body %}
          </p>
        <!-- </li>
      </ul> -->
    </div>
  </div>
</section>
