<section class="
  section--how-to
  module
  module--padding
  module--black
  module--gray-bg
  module--txt-c">
  <div class="wrap">
    <div class="module-content">
      <h2 class="bordered">Just Arrived makes it simple for companies to engage or employ a new arrival.</h2>

      <div class="columns">
        <div class="column-1-3">
          <div class="icon icon--tick">
            <p>We pay the taxes, social fees and insurance associated with hiring a new employee.</p>
          </div>
        </div>
        <div class="column-1-3">
          <div class="icon icon--pen">
            <p>We lower companies' administrative burden by taking full employment responsibility.</p>
          </div>
        </div>
        <div class="column-1-3">
          <div class="icon icon--profile">
            <p>Our database is an effective way to locate potential new employees.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
