<section class="
  section--say-hej
  module
  module--txt-c
  module--padding
  module--white
  module--black-bg">
  <div class="wrap">
    <div class="module-content">
      <h2 class="bordered bordered--secondary bordered--centered">{% t company_contact_us.title %}</h2>

      <div class="columns columns--inline">
        <div>
          <img class="profile-pic" src="{{ "/assets/images/profile-pictures/yazan_al_rayyes.jpg" | prepend: site.github.url }}">
          <p>
            <strong>Yazan Al Rayyes</strong>
            <br> Business Development Manager
            <br>
            <a class="txt-link" href="mailto:yazan.alryyes@justarrived.se">yazan.alrayyes@justarrived.se</a>
            <br>
            <a class="txt-link formatted-number" href="tel:0046768002780">+46 76 800 27 80</a>
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
