<section class="
  section--how-to
  module
  module--padding
  module--black
  module--gray-bg
  module--txt-c">
  <div class="wrap">
    <div class="module-content">
      <h2 class="bordered">{% t companies_engage.title %}</h2>

      <div class="columns">
        <div class="column-1-3">
          <div class="icon icon--tick">
            <p>{% t companies_engage.responsibility_description %}</p>
          </div>
        </div>
        <div class="column-1-3">
          <div class="icon icon--pen">
            <p>{% t companies_engage.low_administration_description %}</p>
          </div>
        </div>
        <div class="column-1-3">
          <div class="icon icon--profile">
            <p>{% t companies_engage.effective_description %}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
