<section class="
  section--mailinglist
  module
  module--padding
  module--white
  module--secondary-bg">
  <div class="wrap">
    <div class="
    module-content
    module-content--centered
    module--txt-c
    ">
      <h2 class="bordered bordered--white">{% t contribute.title %}</h2>
      <p>
        <a href="#" class="cd-popup-trigger-signin contribute-btn border-btn btn-large border-btn--white border-btn--white-blue">{% t contribute.cta %}</a>
      </p>
    </div>
  </div>
</section>
