<div class="covered-by-section">
  <div class="ui grid">
    <div class="sixteen wide column module--black module--txt-c">
      <h2 class="bordered bordered--primary bordered--centered">{% t covered_by.title %}</h2>
    </div>

    <div class="equal width stackable row tablet only computer only">
      <div class="column">
        <a href="http://digital.di.se/artikel/har-ska-klarna-miljardarens-samhallsforbattrare-sitta">
          <img class="ui fluid image" src="{{ "/assets/images/logos/di.svg" | prepend: site.github.url }}">
        </a>
      </div>
      <div class="column">
        <a href="http://www.metro.se/artikel/l%C3%A5t-ny-teknik-hantera-utanf%C3%B6rskapet-xr">
          <img class="ui fluid image" src="{{ "/assets/images/logos/metro.png" | prepend: site.github.url }}">
        </a>
      </div>
      <div class="column">
        <a href="http://www.huffingtonpost.com/entry/58c0210fe4b070e55af9e9ef">
          <img class="ui fluid image" src="{{ "/assets/images/logos/huffington-post.png" | prepend: site.github.url }}">
        </a>
      </div>
      <div class="column">
        <a href="https://www.dn.se/nyheter/sverige/elisabeth-svantesson-jag-ser-valdigt-annorlunda-pa-varlden-i-dag/">
          <img class="ui fluid image" src="{{ "/assets/images/logos/dn.png" | prepend: site.github.url }}">
        </a>
      </div>
      <div class="column">
        <a href="https://www.va.se/nyheter/2016/08/26/just-arrived/">
          <img class="ui fluid image" src="{{ "/assets/images/logos/veckans-affarer-white.png" | prepend: site.github.url }}">
        </a>
      </div>
    </div>
  </div>

  <div class="ui centered grid row mobile only">
    <div class="eight wide column">
      <a href="http://digital.di.se/artikel/har-ska-klarna-miljardarens-samhallsforbattrare-sitta">
        <img class="ui fluid image" src="{{ "/assets/images/logos/di.svg" | prepend: site.github.url }}">
      </a>
    </div>
    <div class="eight wide column">
      <a href="http://www.metro.se/artikel/l%C3%A5t-ny-teknik-hantera-utanf%C3%B6rskapet-xr">
        <img class="ui fluid image" src="{{ "/assets/images/logos/metro.png" | prepend: site.github.url }}">
      </a>
    </div>
    <div class="eight wide column">
      <a href="https://www.dn.se/nyheter/sverige/elisabeth-svantesson-jag-ser-valdigt-annorlunda-pa-varlden-i-dag/">
        <img class="ui fluid image" src="{{ "/assets/images/logos/dn.png" | prepend: site.github.url }}">
      </a>
    </div>
    <div class="eight wide column">
      <a href="https://www.va.se/nyheter/2016/08/26/just-arrived/">
        <img class="ui fluid image" src="{{ "/assets/images/logos/veckans-affarer-white.png" | prepend: site.github.url }}">
      </a>
    </div>
    <div class="eight wide column">
      <a href="http://www.huffingtonpost.com/entry/58c0210fe4b070e55af9e9ef">
        <img class="ui fluid image" src="{{ "/assets/images/logos/huffington-post.png" | prepend: site.github.url }}">
      </a>
    </div>
  </div>
</div>
