<section class="
  section--cta-bar
  module
  module--padding-half
  module--black
  module--gray-bg
  module--txt-c">

  <div class="module-content module-content--left-half">
    <p class="bordered bordered--primary bordered--center text">{% t cta_bar.company_cta_text %}</p>
    <a href="#" class="primary-btn btn-large cd-popup-trigger-signin">{% t cta_bar.company_cta_link_text %}</a>
  </div>

  <div class="module-content module-content--right-half">
    <p class="bordered bordered--primary bordered--center text">{% t cta_bar.arriver_cta_text %}</p>
    <a href="#" class="primary-btn btn-large cd-popup-trigger-signin">{% t cta_bar.arriver_cta_link_text %}</a>
  </div>

</section>
