<section class="
  section--cta-bar
  module
  module--padding-half
  module--black
  module--gray-bg
  module--txt-c">

  <div class="module-content module-content--left-half module-content--border-right">
    <div class="cta-container equal-height">
      <h3 class="bordered bordered--primary bordered--centered">{% t cta_bar.newcomer_title %}</h3>
      <p class="text">{% t cta_bar.newcomer_cta_text %}</p>
    </div>
    <a href="{{ "/newcomer/" | prepend: site.baseurl }}"
      class="primary-btn btn-large"
      data-action="click"
      data-action-label="Goto newcomer page click (cta bar)"
      category="{{site.analytics.categories.cta}}">
      {% t cta_bar.newcomer_cta_link_text %}
    </a>
  </div>

  <div class="module-content module-content--right-half">
    <div class="cta-container equal-height">
      <h3 class="bordered bordered--primary bordered--centered">{% t cta_bar.company_title %}</h3>
      <p class="text">{% t cta_bar.company_cta_text %}</p>
    </div>
    <a href="{{ "/company/" | prepend: site.baseurl }}"
      class="primary-btn btn-large"
      data-action="click"
      data-action-label="Goto company page click (cta bar)"
      category="{{site.analytics.categories.cta}}">
      {% t cta_bar.company_cta_link_text %}
    </a>
  </div>

</section>
