<section class="
  section--cta-bar
  module
  module--padding-half
  module--black
  module--gray-bg
  module--txt-c">

  <div class="module-content module-content--left-half module-content--border-right">
    <h3 class="bordered bordered--primary bordered--centered">{% t cta_bar.company_title %}</h3>
    <p class="text">{% t cta_bar.company_cta_text %}</p>
    <a href="/company/" class="primary-btn btn-large">{% t cta_bar.company_cta_link_text %}</a>
  </div>

  <div class="module-content module-content--right-half">
    <h3 class="bordered bordered--primary bordered--centered">{% t cta_bar.arriver_title %}</h3>
    <p class="text">{% t cta_bar.arriver_cta_text %}</p>
    <a href="/arriver/" class="primary-btn btn-large">{% t cta_bar.arriver_cta_link_text %}</a>
  </div>

</section>
