<section class="
  section--companies
  module
  module--padding
  module--black">
  <div class="wrap">
    <div class="
    module-content
    module--txt-c
    ">
      <h2 class="bordered bordered--secondary">Enablers</h2>
      <div class="companies">
        <div class="company">
          <img src="{{ "/assets/images/logos/hero.png" | prepend: site.github.url }}">
        </div>
        <div class="company">
          <img src="{{ "/assets/images/logos/migrationsverket.png" | prepend: site.github.url }}">
        </div>
        <div class="company">
          <img src="{{ "/assets/images/logos/rodakorset.png" | prepend: site.github.url }}">
        </div>
        <div class="company">
          <img src="{{ "/assets/images/logos/nem.png" | prepend: site.github.url }}">
        </div>
        <div class="company">
          <img src="{{ "/assets/images/logos/skrivbyra.png" | prepend: site.github.url }}">
        </div>
        <div class="company">
          <img src="{{ "/assets/images/logos/wintrgarden.png" | prepend: site.github.url }}">
        </div>
        <div class="company">
          <img src="{{ "/assets/images/logos/semantix.png" | prepend: site.github.url }}">
        </div>
        <div class="company">
          <img src="{{ "/assets/images/logos/skeppsbron.png" | prepend: site.github.url }}">
        </div>
        <div class="company">
          <img src="{{ "/assets/images/logos/welcome.png" | prepend: site.github.url }}">
        </div>
      </div>
      <h4>Caroline Olsson, Elena Rahimova, Olle Norgren</h4>
    </div>
  </div>
</section>
