<section class="
    section--change
    module
    module--txt-img
    module--white
    module--charcoal-bg">
  <div class="module--img module--img-left"
  style="background:
    linear-gradient(
      141deg,
      rgba(229,0,125, 0.5) 0%,
      rgba(233,44,147, 0.3) 51%,
      rgba(206,0,112, 0.2) 75%
    ), url({{ "/assets/images/bgs/bethechange.jpg" | prepend: site.github.url }}); background-position: 50% 50%; background-size: 100%;">
  </div>

  <div class="
        module--txt
        module--txt-right
        ">

    <h2>Vi matchar dig med nyanlända som vill jobba</h2>
    <p>Är det stressigt på kontoret med många uppgifter som inte är en del av ditt (eller andras) jobb? Är du i behov av assistans, hjälp till event eller någon kan hjälpa er?</p>

    <p>Varför inte anställa genom Just Arrived?</p>

    <a href="#" class="primary-btn btn-large">
      Kom igång
    </a>

  </div>

</section>
