<section class="
    section--change
    module
    module--txt-img
    module--white
    module--charcoal-bg">

  <div class="
        module--txt
        module--txt-left
        ">

    <h2>Vi get nyanlända i Sverige en chans att komma in på arbertsmarknaden</h2>

    <p>Genom att matcha dig med svenska företag kan Just Arrived hjälpa dig få de referenser du behöver för att komma in på den svenska arbetsmarknaden.</p>

    <a href="https://app.justarrived.se/user/register" class="border-btn border-btn--white-pink">Skapa ett konto</a>
    <a href="https://app.justarrived.se/jobs" class="border-btn border-btn--white-pink">Kolla in våra jobb</a>
  </div>

  <div class="module--img module--img-right" style="background:
    linear-gradient(
      141deg,
      rgba(229,0,125, 0.5) 0%,
      rgba(233,44,147, 0.3) 51%,
      rgba(206,0,112, 0.2) 75%
    ), url({{ "/assets/images/v2/placeholder3.jpg" | prepend: site.github.url }}); background-position: 50% 50%;background-size: 100%;">
  </div>

</section>
