<section class="
    startpage-newcomer
    section--change
    module
    module--txt-img">

  <h2>Vi get nyanlända i Sverige en chans att komma in på arbertsmarknaden</h2>
  <p class="newcomer-description">Genom att matcha dig med svenska företag kan Just Arrived hjälpa dig få de referenser du behöver för att komma in på den svenska arbetsmarknaden.</p>

  <div class="ui two column stackable equal width">
      <a href="https://app.justarrived.se/user/register" class="btn-large primary-btn border-btn--white-pink">Skapa ett konto</a>
      <a href="https://app.justarrived.se/jobs" class="btn-large border-btn border-btn--pink">Kolla in våra jobb</a>
  </div>

</section>
