<section class="
  module
  module--padding-half
  module--black
  module--white-bg">

  <div class="columns">
    <div class="column-1-3">
      <img src="{{ "/assets/images/logos/di.svg" | prepend: site.github.url }}" alt="Dagens Industri" />
      <a href="http://digital.di.se/artikel/klarna-grundare-satsar-miljoner-pa-flyktingar"  rel="noopener noreferrer" target="_blank" >
        Läs artikeln...
      </a>
    </div>
    <div class="column-1-3">
      <img src="{{ "/assets/images/logos/veckans-affarer.png" | prepend: site.github.url }}" alt="Veckans Affärer" />
      <a href="http://www.va.se/nyheter/2016/08/26/just-arrived/"  rel="noopener noreferrer" target="_blank" >
        Läs artikeln...
      </a>
    </div>
    <div class="column-1-3">
      <img src="{{ "/assets/images/logos/breakit.svg" | prepend: site.github.url }}" alt="Breakit" />
      <a href="http://www.breakit.se/artikel/3809/klarna-grundare-investerar-2-miljoner-kronor-i-justarrived"  rel="noopener noreferrer" target="_blank" >
        Läs artikeln...
      </a>
    </div>
  </div>

</section>
