<section class="
  section--introduction
  module
  module--padding
  module--black
  module--white-bg">
  <div class="wrap">
    <div class="
    module-content
    module--txt-c">
      <h2 class="bordered bordered--primary ">{% t job_opportunities.title %}</h2>
      <div class="columns">
        <div class="column-1-2 module--txt-l">
          <p>{% t job_opportunities.first_paragraph %}</p>
        </div>
        <div class="column-1-2 module--txt-l">
          <p>{% t job_opportunities.second_paragraph %}</p>
        </div>
        <div>
          <br><br>
          <p class="company-cta-paragraph"><strong>{% t job_opportunities.emphasis %}</strong></p>
        </div>
        <a href="#" class="primary-btn btn-large cd-popup-trigger-signin">{% t job_opportunities.cta %}</a>
      </div>
    </div>
  </div>
</section>
