<!-- START: HTML TEMPLATE -->
<div id="js-job-cards-template" style="display:none;">
  <li>
    <div class="job-card" dir="ltr">
      <a href="{{site.app_job_link}}%job_id%?locale={{site.lang}}&utm_source={{site.utm.source}}&utm_medium={{site.utm.medium}}&utm_content=card" class="card-link">
        <div class="job-header">
          <h4>%job_name%</h4>
        </div>
        <div class="company-name">
          <span>%job_company%</span>
        </div>
        <span class="emphasize-title city-name">%job_city%</span>
        <span class="job-description">%job_description%</span>

        <div class="job-meta-info">
          <div class="details">
            <span class="left">%job_hours% {% t form.job_hours %}</span>
            <span class="right">%job_hourly_pay%</span>
          </div>
        </div>
      </a>
    </div>
  </li>
</div>
<!-- END: HTML TEMPLATE -->

<section class="
  module
  module--padding-half
  module--black
  module--white-bg">

  <div class="section-divider"></div>
  <div class="job-cards-wrapper">
    <div class="job-cards-container">
      {% if include.title %}
        <h2 class="title bordered bordered--secondary bordered--centered">{{ include.title }}</h2>
      {% endif %}

      <ul id="js-job-cards" class="job-cards-list">
      </ul>
    </div>
  </div>
</section>
