<section class="
  section--joinus
  module
  module--padding
  module--black">
  <div class="wrap">
    <div class="module-content module-content--left">
      <h2 class="bordered bordered--secondary bordered--left">Join us</h2>
      <p>Just Arrived is driven by a team of volunteers that wants to make a difference. If you think you can help in any way, please click the button below.</p>
      <p>We're currently looking for programmers (AngularJS, Ruby on Rails), translators and sponsors. If you're a developer, we’d love you to contribute to our GitHub repository.</p>
    </div>

    <div class="module--checklist module-content module-content--right">
      <h4>Checklist</h4>
      <ul class="checklist">
        <li class="complete">
          Building landing page
          <span class="completed-by">Contribution by <a href="http://nova.com" rel="noopener noreferrer" target="_blank" title="nova.com">Nova</a></span>
        </li>
        <li class="complete">
          Translating landing page
          <span class="completed-by">Contribution by Zaher Barood</span>
        </li>
        <li class="incomplete">Support with accounting services</li>
        <li class="incomplete">Development of sales collateral</li>
        <li class="incomplete">Desktop optimization of app</li>
        <li class="incomplete">Translating application to kurmanji, dari, pushto or tigrinya</li>
      </ul>
    </div>
    <div class="module-content module-content--left">
      <p>
        <a href="#" class="cd-popup-trigger-signin contribute-btn border-btn border-btn--blue btn-large">I would like to help out</a>
      </p>
    </div>
  </div>
</section>
