<section class="
  section--joinus
  module
  module--padding
  module--black">
  <div class="wrap">
    <div class="module-content module-content--left">
      <h2 class="bordered bordered--secondary bordered--left">{% t join_us.title %}</h2>
      <p>{% t join_us.first_paragraph %}</p>
      <p>{% t join_us.second_paragraph %}</p>
    </div>

    <div class="module--checklist module-content module-content--right">
      <h4>{% t join_us.checklist.title %}</h4>
      <ul class="checklist">
        <li class="complete">
          {% t join_us.checklist.first %}
          <span class="completed-by">{% t join_us.checklist.contribution_by %} <a href="http://nova.com" rel="noopener noreferrer" target="_blank" title="nova.com">Nova</a></span>
        </li>
        <li class="complete">
          {% t join_us.checklist.second %}
          <span class="completed-by">{% t join_us.checklist.contribution_by %} Zaher Barood</span>
        </li>
        <li class="complete">{% t join_us.checklist.third %}</li>
        <li class="complete">{% t join_us.checklist.forth %}</li>
        <li class="incomplete">{% t join_us.checklist.fifth %}</li>
        <li class="incomplete">{% t join_us.checklist.sixth %}</li>
      </ul>
    </div>
    <div class="module-content module-content--left">
      <p>
        <a href="#" class="cd-popup-trigger-signin contribute-btn border-btn border-btn--blue btn-large">{% t join_us.cta %}</a>
      </p>
    </div>
  </div>
</section>
