<section class="
  module--meet-team-text
  module--padding
  module--black">
  <div class="wrap">
    <div class="
    module-content
    module-content--centered
    module--txt-c
    ">
      <h2 class="bordered bordered--primary">{% t meet_the_team.title %}</h2>
      <div class="module--txt-l">
        <p>{% t meet_the_team.description %}</p>
      </div>
    </div>
  </div>
</section>

<section class="
  section--meet-team
  module
  module--padding
  module--white
  module--bg-cover" style="background-image: url({{ "/assets/images/bgs/team.jpg" | prepend: site.github.url }})">
</section>
