<!-- <section class="
  module--meet-team-text
  module--padding
  module--black">
  <div class="wrap">
    <div class="
    module-content
    module-content--centered
    module--txt-c
    ">
      <div class="module--txt-l">
        <p>{% t meet_the_team.description %}</p>
      </div>
    </div>
  </div>
</section> -->

<section>
  <div class="ui grid marketing-section">
    <div class="two column centered stackable equal width row section-container secondary">
      <div class="column section-content">
        <p class="section-text large" style="margin-top: 80px;">
          {% t meet_the_team.description %}
        </p>
      </div>
    </div>
  </div>
</section>
