<section class="
  module
  module--padding-half
  module--black
  module--txt-c">
  <h2 class="bordered bordered--primary bordered--centered">{% t meet_the_team.title %}</h2>
</section>

<section class="
  section--meet-team
  module
  module--padding
  module--white
  module--bg-cover" style="background-image: url({{ "/assets/images/bgs/team.jpg" | prepend: site.github.url }})">
</section>

<section class="
  module--meet-team-text
  module--padding
  module--black">
  <div class="wrap">
    <div class="
    module-content
    module-content--centered
    module--txt-c
    ">
      <div class="module--txt-l">
        <p>{% t meet_the_team.description %}</p>
        <p class="module--txt-c">
          <br>
          <a href="{{ "/careers/" | prepend: site.baseurl }}" class="primary-btn btn-large">{% t meet_the_team.careers_link_text %}</a>
        </p>
      </div>
    </div>
  </div>
</section>
