<section class="
    section--product
    module
    module--padding
    module--txt-img
    module--white
    module--charcoal-bg">
  <div class="wrap">
    <div class="product-image">
      <img src="{{ "/assets/images/inline/iphone6.png" | prepend: site.github.url }}">
    </div>
    <div class="product-summary">
      <h2 class="bordered bordered--white bordered--left">{% t our_product.title %}</h2>
      <p>{% t our_product.description %}</p>
      <ul class="bullet">
        <li><strong>{% t our_product.feature_list.swedish_company %}</strong> {% t our_product.feature_list.first %}</li>
        <li><strong>{% t our_product.feature_list.new_arrival %}</strong> {% t our_product.feature_list.second %}</li>
        <li><strong>{% t our_product.feature_list.swedish_company %}</strong> {% t our_product.feature_list.third %}</li>
        <li><strong>{% t our_product.feature_list.swedish_company %}</strong> {% t our_product.feature_list.forth %}</li>
        <li><strong>{% t our_product.feature_list.new_arrival %}</strong> {% t our_product.feature_list.fifth %}</li>
      </ul>
      <p><small>{% t our_product.feature_list.asterix %}</small></p>
    </div>
  </div>
</section>
