<section class="
  section--our-customers
  module
  module--padding-half
  module--black
  module--white-bg
  module--txt-c">

  <h2 class="title bordered bordered--primary bordered--centered hidden-tablet">{% t our_customers.title %}</h2>
  <ul>
    <li class="visible-tablet">
      <h2 class="bordered bordered--primary bordered--centered" style="white-space: nowrap;">{% t our_customers.title %}</h2>
    </li>
    <li>
      <img style="max-width: 105px;margin-top:5px;" alt="Hemsö" class="company-logo" src="{{ "/assets/images/client-logos/hemso.png" | prepend: site.github.url }}">
    </li>
    <li>
      <img alt="Utbudet" class="company-logo" src="{{ "/assets/images/client-logos/utbudet.png" | prepend: site.github.url }}">
    </li>
    <li>
      <img alt="Väsbyhem" class="company-logo" src="{{ "/assets/images/client-logos/vasbyhem.png" | prepend: site.github.url }}">
    </li>
    <li>
      <img alt="Norrsken" class="company-logo" src="{{ "/assets/images/client-logos/norrsken.png" | prepend: site.github.url }}">
    </li>
    <li>
      <img alt="Universum" class="company-logo" src="{{ "/assets/images/client-logos/universum.png" | prepend: site.github.url }}">
    </li>
    <li>
      <img alt="Mentimeter" class="company-logo" src="{{ "/assets/images/client-logos/mentimeter.png" | prepend: site.github.url }}">
    </li>
  </ul>

</section>
