<section class="
  section--our-customers
  module
  module--padding-half
  module--black
  module--white-bg
  module--txt-c">


  <!-- <div class="columns">
    <h2 class="bordered bordered--primary">{% t our_customers.title %}</h2>

    <div class="column-1-3">
      <img class="company-logo" src="{{ "/assets/images/logos/frilansfinans.png" | prepend: site.github.url }}" alt="">
    </div>

    <div class="column-1-3">
      <img class="company-logo" src="{{ "/assets/images/logos/janssonnorin.png" | prepend: site.github.url }}" alt="">
    </div>

    <div class="column-1-3">
      <img class="company-logo" src="{{ "/assets/images/logos/rodakorset.png" | prepend: site.github.url }}" alt="">
    </div>
  </div> -->

  <h2 class="bordered bordered--primary bordered--left hidden-tablet">{% t our_customers.title %}</h2>
  <ul>
    <li class="visible-tablet">
      <h2 class="bordered bordered--primary bordered--left">{% t our_customers.title %}</h2>
    </li>
    <li>
      <img class="company-logo" src="{{ "/assets/images/logos/frilansfinans.png" | prepend: site.github.url }}" alt="">
    </li>
    <li>
      <img class="company-logo" src="{{ "/assets/images/logos/janssonnorin.png" | prepend: site.github.url }}" alt="">
    </li>
    <li>
      <img class="company-logo" src="{{ "/assets/images/logos/rodakorset.png" | prepend: site.github.url }}" alt="">
    </li>
  </ul>

</section>
