<section class="
    section--product
    module
    module--padding
    module--txt-img
    module--white
    module--charcoal-bg">
  <div class="wrap">
    <div class="product-image">
      <img src="{{ "/assets/images/inline/iphone6.png" | prepend: site.baseurl_root }}">
    </div>
    <div class="product-summary">
      <h2 class="bordered bordered--white bordered--left">Our Product</h2>
      <p>Just Arrived is a digital application that matches New Arrivals in Sweden with potential assignments provided by Swedish companies. It is done through an intuitive web interface, accessible through all kinds of devices and with extensive language
        and translation support. The application work as follows:</p>
      <ul class="bullet">
        <li><strong>Swedish company</strong> posts an assigment (from 1 hour to 6 months) on the application without cost</li>
        <li><strong>New Arrival</strong> can register a digital CV and apply for the assigment*</li>
        <li><strong>Swedish company</strong> can choose a candidate based on their digital CV and reviews from other assignments</li>
        <li><strong>Swedish company</strong> and New Arrival verify that the job is perfomed and an invoice is sent</li>
        <li><strong>New Arrival</strong> recieves the full amount invoiced (after deduction of taxes and other administrative costs)</li>
      </ul>
      <p><small>* Requires AT-UND, personal identity number or co-ordination number and access to bank account.</small></p>
    </div>
  </div>
</section>
