<section class="
  section--companies
  module
  module--white-bg
  module--padding
  module--black">
  <div class="wrap">
    <div class="
    module-content
    module--txt-c
    ">
      <h2 class="bordered bordered--primary bordered--centered">{% t partners.title %}</h2>
      <div class="companies">
        <div class="company">
          <img src="{{ "/assets/images/logos/antrop.png" | prepend: site.github.url }}">
        </div>
        <div class="company">
          <img src="{{ "/assets/images/logos/hallvarsson.jpg" | prepend: site.github.url }}">
        </div>
        <div class="company">
          <img src="{{ "/assets/images/logos/janssonnorin.png" | prepend: site.github.url }}">
        </div>
        <div class="company">
          <img src="{{ "/assets/images/logos/frilansfinans.png" | prepend: site.github.url }}">
        </div>
        <div class="company">
          <img src="{{ "/assets/images/logos/cygni.png" | prepend: site.github.url }}">
        </div>
        <div class="company">
          <img src="{{ "/assets/images/logos/universum.png" | prepend: site.github.url }}">
        </div>
        <div class="company">
          <img src="{{ "/assets/images/logos/nova.png" | prepend: site.github.url }}">
        </div>
        <div class="company">
          <img src="{{ "/assets/images/logos/bondstreet.png" | prepend: site.github.url }}">
        </div>
      </div>
      <h4><br>Yuliya Bilinskaya, Carolin He, Mattias Bengtsson</h4>

      {% if include.with_cta == "true" %}
        <p>
          <a href="/about-us/" class="primary-btn btn-large">{% t partners.cta %}</a>
        </p>
      {% endif %}
    </div>
  </div>
</section>
