<section class="
  section--say-hej
  module
  module--txt-c
  module--padding
  module--white
  module--black-bg">
  <div class="wrap">
    <div class="module-content">
      <h2 class="bordered bordered--secondary bordered--centered">{% t say_hej.title %}</h2>

      <div class="columns columns--inline" dir="ltr">
        <div class="column-1-3 profile-card">
          <img class="profile-pic profile-pic--no-border" src="{{ "/assets/images/profile-pictures/general.png" | prepend: site.github.url }}">
          <p>
            <strong>{% t say_hej.enquiries %}</strong>
            <br>
            <a class="txt-link" href="mailto:hej@justarrived.se">hej@justarrived.se</a>
            <br>
          </p>
        </div>
        <div class="column-1-3 profile-card">
          <img class="profile-pic" src="{{ "/assets/images/profile-pictures/andreas_konig.jpg" | prepend: site.github.url }}">
          <p>
            <strong>Andreas König</strong>
            <br> CEO
            <br>
            <a class="txt-link" href="mailto:andreas@justarrived.se">andreas@justarrived.se</a>
            <br>
            <a class="txt-link formatted-number" href="tel:0046733868656">+46 73 386 86 56</a>
          </p>
        </div>
        <div class="column-1-3 profile-card">
          <img class="profile-pic" src="{{ "/assets/images/profile-pictures/jacob_burenstam.jpg" | prepend: site.github.url }}">
          <p>
            <strong>Jacob Burenstam</strong>
            <br> CTO
            <br>
            <a class="txt-link" href="mailto:jacob@justarrived.se">jacob@justarrived.se</a>
            <br>
            <a class="txt-link formatted-number" href="tel:0046767855866">+46 76 785 58 66</a>
          </p>
        </div>
        <div class="column-1-3 profile-card">
          <img class="profile-pic" src="{{ "/assets/images/profile-pictures/per_clingweld.jpg" | prepend: site.github.url }}">
          <p>
            <strong>Per Clingweld</strong>
            <br> CMO
            <br>
            <a class="txt-link" href="mailto:per@justarrived.se">per.clingweld@justarrived.se</a>
            <br>
            <a class="txt-link formatted-number" href="tel:0046723019191">+46 72 301 91 91</a>
          </p>
        </div>
        <div class="column-1-3 profile-card">
          <img class="profile-pic" src="{{ "/assets/images/profile-pictures/yazan_al_rayyes.jpg" | prepend: site.github.url }}">
          <p>
            <strong>Yazan Al Rayyes</strong>
            <br> Business Development Manager
            <br>
            <a class="txt-link" href="mailto:yazan.alrayyes@justarrived.se">yazan.alrayyes@justarrived.se</a>
            <br>
            <a class="txt-link formatted-number" href="tel:0046768002780">+46 76 800 27 80</a>
          </p>
        </div>
        <div class="column-1-3 profile-card">
          <img class="profile-pic" src="{{ "/assets/images/profile-pictures/anna_hornmark.jpg" | prepend: site.github.url }}">
          <p>
            <strong>Anna Hörnmark</strong>
            <br> Operations Manager
            <br>
            <a class="txt-link" href="mailto:anna.hornmark@justarrived.se">anna.hornmark@justarrived.se</a>
            <br>
            <a class="txt-link formatted-number" href="tel:0046768025997">+46 76 802 59 97</a>
          </p>
        </div>
        <div class="column-1-3 profile-card">
          <img class="profile-pic filter--black-and-white" src="{{ "/assets/images/logos/just-arrived-logo.png" | prepend: site.github.url }}">
          <p>
            <strong>Lova Westlund</strong>
            <br> Operations Manager
            <br>
            <a class="txt-link" href="mailto:lova.westlund@justarrived.se">lova.westlund@justarrived.se</a>
            <br>
            <a class="txt-link formatted-number" href="#">+46 79 538 33 86</a>
          </p>
        </div>
        <div class="column-1-3 profile-card">
          <img class="profile-pic filter--black-and-white" src="{{ "/assets/images/logos/just-arrived-logo.png" | prepend: site.github.url }}">
          <p>
            <strong>Neven Jugo</strong>
            <br> Customer Success Manager
            <br>
            <a class="txt-link" href="mailto:neven.jugo@justarrived.se">neven.jugo@justarrived.se</a>
            <br>
            <a class="txt-link formatted-number" href="tel:0046709329962">+46 70 932 99 62</a>
          </p>
        </div>
        <div class="column-1-3 profile-card">
          <img class="profile-pic filter--black-and-white" src="{{ "/assets/images/logos/just-arrived-logo.png" | prepend: site.github.url }}">
          <p>
            <strong>Per Strängberg</strong>
            <br> Customer Success Manager
            <br>
            <a class="txt-link" href="mailto:per.strangberg@justarrived.se">per.strangberg@justarrived.se</a>
            <br>
            <a class="txt-link formatted-number" href="tel:0046734348359">+46 73 434 83 59</a>
          </p>
        </div>
        <div class="column-1-3 profile-card">
          <img class="profile-pic filter--black-and-white" src="{{ "/assets/images/logos/just-arrived-logo.png" | prepend: site.github.url }}">
          <p class="hack--salam-name">
            <strong>Salam Alhennawi</strong>
            <br> Financial Administrator
            <br>
            <a class="txt-link" href="mailto:salam.alhennawi@justarrived.se">salam.alhennawi@justarrived.se</a>
            <br>
            <a class="txt-link formatted-number" href="#">+46 73 632 72 06</a>
          </p>
        </div>
        <div class="column-1-3 profile-card">
          <img class="profile-pic filter--black-and-white" src="{{ "/assets/images/logos/just-arrived-logo.png" | prepend: site.github.url }}">
          <p>
            <strong>Tobias Tikka</strong>
            <br> Business &amp; Product Developer
            <br>
            <a class="txt-link" href="mailto:tobias.tikka@justarrived.se">tobias.tikka@justarrived.se</a>
            <br>
            <a class="txt-link formatted-number" href="#">+46 76 857 43 16</a>
          </p>
        </div>
        <div class="column-1-3 profile-card">
          <img class="profile-pic filter--black-and-white" src="{{ "/assets/images/logos/just-arrived-logo.png" | prepend: site.github.url }}">
          <p>
            <strong>Henrik Tengberg</strong>
            <br> Business Developer
            <br>
            <a class="txt-link" href="mailto:henrik.tengberg@justarrived.se">henrik.tengberg@justarrived.se</a>
            <br>
            <a class="txt-link formatted-number" href="#">+46 73 546 64 90</a>
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
