<section class="
  section--say-hej
  module
  module--txt-c
  module--padding">
  <div class="wrap">
    <div class="module-content">
      <h2 class="bordered bordered--primary bordered--centered">{% t say_hej.title %}</h2>
    </div>
  </div>

  <br>

  <div class="ui padded centered grid">
    <div class="sixteen wide mobile six wide tablet four wide computer column">
      <div class="ui card">
        <div class="image">
          <img src="/assets/images/employees/missing.png">
        </div>
        <div class="content">
          <a href="mailto:hej@justarrived.se" class="header">Just Arrived</a>
          <div class="meta">
            <span class="date">Say hej!</span>
          </div>
        </div>
        <div class="extra content">
          Vi pratar gärna :)
        </div>
        <div class="extra content">
          <a href="mailto:hej@justarrived.se">hej@justarrived.se</a>
        </div>
      </div>
    </div>

    {% for employee in site.data.listed_employees %}
      <div class="sixteen wide mobile six wide tablet four wide computer column">
        <div class="ui card">
          <div class="image">
            {% if employee.profile_photo_path %}
            <img src="/assets/images/employees/{{employee.profile_photo_path}}.jpg">
            {% else %}
            <img src="/assets/images/employees/missing.png">
            {% endif %}
          </div>
          <div class="content">
            <a href="mailto:{{employee.email}}" class="header">{{employee.name}}</a>
            <div class="meta">
              <span class="date">{{employee.title}}</span>
            </div>
          </div>
          <div class="extra content">
            {% if employee.phone %}
            <a href="tel:{{employee.phone}}">{{employee.phone}}</a>
            {% else %}
              -
            {% endif %}
          </div>
          <div class="extra content">
            {% if employee.email %}
              <a href="mailto:{{employee.email}}">{{employee.email}}</a>
            {% else %}
              -
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
