<section class="
  section--testimonial
  module
  module--padding
  {% if include.background == 'blue' %}
    module--white
    module--secondary-bg
  {% else %}
    module--black
    module--gray-bg
  {% endif %}">
  <div class="wrap">
    <div class="module-content module-content--right">
      <div class="profile-circle {{ include.profile_image_class }}"></div>
    </div>

    <div class="module-content module-content--left">
      <p class="testimonial-body">
        <span class="testimonial-quote-icon">"</span>
        {{ include.body }}
      </p>
      <p class="testimonial-meta-author">{{ include.author }}</p>
    </div>
  </div>
</section>
