<section class="
  section--hero
  module
  module--padding
  module--white
  module--bg-cover" style="background-image: url({{ "/assets/images/bgs/smiles.png" | prepend: site.baseurl_root }});">
  <div class="table">
    <div class="table-cell">
      <div class="wrap">
        <div class="module-content">
          <h1>We give new arrivals in Sweden the chance to enter the job market</h1>
          <p>Are you a new arrival? Apply to qualify and gain access to the Just Arrived app.</p>
          <a href="#" class="border-btn border-btn--white-pink btn-large cd-popup-trigger-signin">Sign up to find a job</a>
          <div class="section--hero__social-media">
            <a href="https://www.facebook.com/JustArrivedSE/" title="Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>&nbsp; Facebook</a>
            <a href="https://twitter.com/JustArrivedSE" title="Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i>&nbsp; Twitter</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="module__overlay module__overlay--light-black"></div>
</section>
