<section class="
  section--hero
  module
  module--padding
  module--white
  module--bg-cover" style="background-image: url({{ "/assets/images/bgs/smiles.png" | prepend: site.github.url }});">
  <div class="table">
    <div class="table-cell">
      <div class="wrap">
        <div class="module-content">
          <h1>{% t top_banner.title %}</h1>
          <p>{% t top_banner.subtitle %}</p>
          <!-- <a href="/company/" class="border-btn border-btn--white-pink btn-large">
            {% t top_banner.signup_for_job %}
          </a>
          <a href="/arriver/" class="border-btn border-btn--white-pink btn-large">
            {% t top_banner.arriver_cta %}
          </a> -->
          <div class="section--hero__social-media">
            <a href="https://www.facebook.com/JustArrivedSE/" title="Facebook" rel="noopener noreferrer" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>&nbsp; {% t global.facebook %}</a>
            <a href="https://twitter.com/JustArrivedSE" title="Twitter" rel="noopener noreferrer" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i>&nbsp; {% t global.twitter %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="module__overlay module__overlay--light-black"></div>
</section>
