<div class="content section--top_banner_v2">
  <div class="ui grid two column equal width stackable homepage_top_banner_v2_bottom_container">
    <div class="column bottom aligned content homepage_top_banner_v2_bottom_container_left">
      <h2>
        Vi ger nyanlända i Sverige en chans att komma in på arbetsmarknaden
      </h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>
    </div>

    <div class="column bottom aligned content homepage_top_banner_v2_bottom_container_right">
      <div class="ui grid row two equal width stackable" style="text-align: center;">
        <div class="column cta-wrapper">
          <img class="cta-img" src="{{ "/assets/images/social-media/twitter.png" | prepend: site.github.url }}">
          <div class="cta-text">
            <h4>Nyanländ</h4>
            <p>Registrera</p>
          </div>
        </div>
        <div class="column cta-wrapper">
          <img class="cta-img" src="{{ "/assets/images/social-media/twitter.png" | prepend: site.github.url }}">
          <div class="cta-text">
            <h4>Företag</h4>
            <p>Skapa jobb</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
