<section class="
  section--hero
  section--hero-v2
  module
  module--white
  module--bg-gradient
  module--bg-cover"
  style="
    background:
      linear-gradient(
        141deg,
        rgba(229,0,125, 0.5) 0%,
        rgba(233,44,147, 0.3) 51%,
        rgba(206,0,112, 0.2) 75%
      ),
      url({{ "/assets/images/v2/placeholder0.jpg" | prepend: site.github.url }});
      background-size: 100%;">

  <div class="bottom-section tag-line">
    <h1>{% t tob_banner_v2.tag_line %}</h1>
    <p>{% t tob_banner_v2.tag_line_description %}</p>
  </div>

  <div class="bottom-section action-buttons">
    <div class="action-cta">
      <div class="action-icon">
        <i class="fa fa-users fa-2x"></i>
      </div>
      <div class="action-link">
        <h3 class="title">Nyanlända</h3>
        <p class="subtitle">Registrera</p>
      </div>
    </div>

    <div class="action-cta">
      <div class="action-icon">
        <i class="fa fa-briefcase fa-2x"></i>
      </div>
      <div class="action-link">
        <h3 class="title">Företag</h3>
        <p class="subtitle">Skapa job</p>
      </div>
    </div>
  </div>
</section>
