<section class="
  section--testimonial
  module
  module--padding
  module--white
  module--secondary-bg">
  <div class="wrap">
    <div class="module-content module-content--left">
      <p class="testimonial-body">
        <!-- <i class="fa fa-quote-left fa-2x fa-pull-left" aria-hidden="true"></i> -->
        <span class="testimonial-quote-icon">"</span>
        {% t vasbyhem_testimonial.first_body %}
      </p>
      <!-- <hr class="body-divider">
      <p class="testimonial-body">
        <i class="fa fa-quote-left fa-2x fa-pull-left" aria-hidden="true"></i>
        {% t vasbyhem_testimonial.second_body %}
      </p> -->
      <p>
        <p class="testimonial-meta-author">Sara Brandt, Väsbyhem</p>
      </p>
    </div>

    <div class="module-content module-content--right">
      <div class="profile-circle"></div>
    </div>
  </div>
</section>
