<section class="
  section--testimonial
  module
  module--white-bg
  module--padding
  module--black">
  <div class="wrap">
    <div class="module-content module-content--left">
      <p class="testimonial-body">
        <i class="fa fa-quote-right fa-2x fa-pull-right" aria-hidden="true"></i>
        {% t vasbyhem_testimonial.first_body %}
      </p>
      <hr class="body-divider">
      <p class="testimonial-body">
        <i class="fa fa-quote-left fa-2x fa-pull-left" aria-hidden="true"></i>
        {% t vasbyhem_testimonial.second_body %}
      </p>
    </div>

    <div class="module-content module-content--right">
      <div class="profile-circle"></div>
      <p class="testimonial-meta-author">Sara Brandt, Väsbyhem</p>
    </div>
  </div>
</section>
