<!-- <iframe
  src="https://platform.twitter.com/widgets/tweet_button.html?size=l&url={{ include.href | uri_escape }}&via=JustArrivedSE&related=twitterapi%2Ctwitter&text={{ include.text | uri_escape}}"
  width="140"
  height="28"
  title="Twitter Tweet Button"
  style="border: 0; overflow: hidden;">
</iframe> -->
<a href="https://twitter.com/share"
  class="twitter-share-button"
  data-size="large"
  data-dnt="true"
  data-show-count="false">Tweet</a>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
