/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
  display: inline-block;
  position: relative;
  font-family: $sans-serif;
  text-decoration: none;
  color: $white;
  font-size: 14px;
  line-height: 2.3;
  font-weight: normal;
  padding: 0 18px;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  @include transition(background-color 0.14s ease-in-out);

  // hovering on the btn
  &:hover, &:focus {
    color: $white;
    text-decoration: none !important;
    outline: none;
  } // end hover

  // clicking on the button
  &:active {

  } // end active
  &:visited {
    color: $white;
  }

  @include tablet-small {
    font-size: em(14);
  }

} // end .button

/*
An example button.
You can use this example if you want. Just replace all the variables
and it will create a button dependant on those variables.
*/
.blue-btn {
  @extend %btn; // here we load the btn defaults
  background-color: $blue;

  &:hover,
  &:focus {
    background-color: darken($blue, 4%);
  } // end hover

  &:active {
    background-color: darken($blue, 5%);
  } // end active

} // end blue button

.primary-btn {
  @extend %btn;
  background-color: $cerise;
  border: 1px solid $cerise;
  &:hover {
    background-color: darken($cerise, 4%);
    color: $white;
  }
  &:active {
    background-color: darken($cerise, 5%);
  }
  &:visited {
    // color: $white;
  }
}

.border-btn {
  @extend %btn;
  background-color: transparent;
  border: 1px solid #fff;
  &:hover {
    // background-color: darken($cerise, 4%);
  }
  &:active {
    // background-color: darken($cerise, 5%);
  }
  &.border-btn--pink {
    border-color: $cerise;
    color: $cerise;
    &:hover {
      background: $cerise;
      color: #fff;
    }
  }
  &.border-btn--blue {
    border-color: $bluesea;
    color: $bluesea;
    &:hover {
      background: $bluesea;
      color: #fff;
    }
  }
  &.border-btn--white-blue {
    &:hover {
      background: #fff;
      color: $bluesea;
    }
  }
  &.border-btn--white-pink {
    &:hover {
      background: #fff;
      color: $cerise;
    }
  }
}

.transparent-btn {
  @extend %btn;
  background-color: transparent;
  border: 1px solid transparent;
  &:hover {
    // background-color: darken($cerise, 4%);
  }
  &:active {
    // background-color: darken($cerise, 5%);
  }
}

.transparent-btn--blue {
  @extend %btn;
  &:hover {
    background: #fff;
    color: $bluesea;
  }
}

.transparent-btn--pink {
  &:hover {
    background: #fff;
    color: $cerise;
  }
}

.btn-large {
  font-size: 16px;
  padding: 0 24px;
  // line-height: 2.3;
}

.btn-wide {
  width: 220px;
}

.transparent-btn.transparent-btn--pink-txt {
  color: $cerise;
  border: 1px solid $cerise;
}
