.header {
  padding: 0.5em 0;
  background-color: #222531;
  display: inline-block;
  width: 100%;
  margin-bottom: -7px;

  .header__logo {
    background: url(../images/justarrived-logo.png) no-repeat;
    background-size: 219px 42px;
    width: 219px;
    height: 42px;
    float: left;
    text-indent: -9999em;
    margin-left: 1em;
  }

  .lang-options {
    float: left;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 1.2em;
    margin-left: 1em;
    display: inline-block;

    & a {
      text-decoration: none;
      outline: 0;
      white-space: nowrap;
    }

    & span {
      color: $stone-dark;
      cursor: pointer;
      padding: 0.5em;
      &:hover {
        color: #fff;
      }
    }
  }

  /* Remove margins and padding from the list, and add a black background color */
  .topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 2em;
    overflow: hidden;
  }

  .responsive, .topnav {
    /* Float the list items side by side */
    & li {
      float: right;

      /* Style the links inside the list items */
      & a {
        display: inline-block;
        outline: 0;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        padding: 14px 10px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 12px;
      }

      /* Change background color of links on hover */
      & a:hover {
        background-color: #383f4e;
        border-radius: 5px;
      }
    }
  }

  /* Hide the list item that contains the link that should open and close the topnav on small screens */
  .hamburger-icon {display: none;}

  .hide, .responsive {display: none;}

  /* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
  @media screen and (max-width:1000px) {

    .topnav {
      & li {
        display: none;
      }

      .show-on-tablet, .hamburger-icon {
        float: right;
        display: inline-block;
      }
    }

    .header__logo {
      transform: scale(0.8);
      margin-right: 0;
      padding-left: 0;
    }

    .responsive {
      width: 100%;
      display: inline-block;
      text-align: left;
      margin-left: 1em;
    }

    .responsive li {
      float: none;
      // display: block;
      clear: both;
    }
    .responsive li a {
      max-width: 260px;
    }
  }

  @media screen and (max-width:740px) {
    .topnav {
      .show-on-tablet {
        display: none;
      }
    }
  }

  @media screen and (max-width:500px) {
    .lang-options {
      clear: both;
      position: relative;
      bottom: 0.7em;
      left: 0.6em;
    }
  }
}
