.header {
  background-color: $header-bg;
  padding: 12px 0;
  z-index: 1;
  position: relative;
}

.header__logo {
  background: url(../images/justarrived-logo.png) no-repeat;
  background-size: 219px 42px;
  width: 219px;
  height: 42px;
  margin: 0 auto 1em;
  text-indent: -9999em;
  @include desktop-small {
    margin: 0 auto 1em;
  }
  @include desktop-l {
    float: left;
    margin: 0;
  }
}

.nav-links {
  margin-top: 10px;
  margin-left: 15px;
  text-align: center;

  .nav-left {
    @include tablet {
      float: left;
      margin-left: 15px;
    }
  }

  .nav-right {
    @include tablet {
      float: right;
    }
  }
}

.header__btns {
  clear: both;
  width: 100%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0.5em;
  width: 100%;
  & > a {
    margin: 0 0.3em 1em;
  }
  & .transparent-btn {
    padding: 0;
  }
  @include tablet {
    clear: none;
    width: auto;
    position: relative;
    & > a {
      margin: 0 0 0 0.6em;
    }
  }
  @include desktop-l {
    float: right;
    margin-bottom: 0;
  }
}

// .lang-dropdown {
//   opacity: 0;
//   visibility: hidden;
//   position: absolute;
//   background: #fff;
//   width: 130px;
//   text-align: left;
//   right: 0;
//   border-radius: 4px;
//   color: $charcoal;
//   &.is-visible {
//     opacity: 1;
//     visibility: visible;
//   }
//   & ul {
//     margin: 0.4em 0;
//   }
//   & li {
//     padding: 0.1em 1em;
//     &:hover {
//       background: $stone;
//     }
//   }
// }

.lang-options, .nav-right {
  font-size: 14px;
  margin: 0 0 1em 0;
  @include tablet {
    display: inline-block;
    margin: 0 1em 0 0;
  }
  & a {
    text-decoration: none;
    outline: 0;
    white-space: nowrap;
  }
  & span {
    color: $stone-dark;
    cursor: pointer;
    padding: 0.5em;
    &:hover {
      color: #fff;
    }
  }
}

.en-locale {
  & .lang-en {
    color: #fff;
    cursor: default;
  }
}

.ar-locale {
  & .lang-ar {
    color: #fff;
    cursor: default;
  }
}

.sv-locale {
  & .lang-sv {
    color: #fff;
    cursor: default;
  }
}

.rtl-locale-direction {
  & .bordered {
    &:before {
      margin-left: 0;
      margin-right: 0;
    }
    &.bordered--centered {
      &:before {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  & .module--txt,
  & .module--txt-l,
  & .module--txt-c {
    text-align: initial;
    direction: rtl;
  }
  & .product-summary {
    direction: rtl;
  }
  & .module-content {
    direction: rtl;
  }
}

.nav-right {
  & span {
    color: $white;
    &:hover {
      color: $bluesky;
    }
  }
}
