.progress-widget {
  margin: 10px auto;

  .counter-summary {
    font-size: 18px;
  }

  .counter-bg-overlay {
    height: 65px;
    background-color: #e5007d;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
    margin-bottom: 20px;
  }

  .counter-bg-base {
    position: relative;
    background-color: #106ccf;
    display: inline-block;
    z-index: 1;
  }

  .counter-bg-ring {
    background: url(/assets/images/xmas/counter_transparent.png);
    z-index: 3;
    background-repeat: no-repeat;
    background-size: 300px 330px;
    height: 330px;
    width: 299px;
    background-position: center;
    display: inline-block;
    position: relative;
    border: 1px solid white;
  }
  .counter-number-large {
    text-align: center;
    padding-top: 96px;
    font-size: 100px;
    color: white;
    text-shadow: 2px 2px #000;
  }
  .counter-summary {
    padding-top: 10px;
  }
}
