<div class="ui grid section--newcomer-how_it_works">
  <div class="sixteen wide column how_it_works_header">
    <h2>Hur funkar det?</h2>
    <div class="company-small-bottom-border"></div>
  </div>

  <div class="equal width stackable row">
    <div class="column">
      <img class="how_it_works_icon" src="{{ "/assets/images/v2/how_it_works_icon-1.png" | prepend: site.github.url }}">
      <h3 class="how_it_works_img_header">1. Kom igång</h3>
      <p>Skapa ditt konto på Just Arrived. Registreringen tar en minut att göra färdigt och kan göras av alla nyanlända och asylsökande. Efter registreringen kommer du också få nyheter och uppdateringar från Just Arrived.</p>
    </div>
    <div class="column">
      <img class="how_it_works_icon" src="{{ "/assets/images/v2/how_it_works_icon-2.png" | prepend: site.github.url }}">
      <h3 class="how_it_works_img_header">2. Profil</h3>
      <p>Detta är det allra viktigaste för att öka dina chanser att få ett jobb via Just Arrived!</p>
      <p>Se till att du fyller i all relevant information och alla dina olika kompetenser. Om din profil är tom så kommer du inte matchas med några jobb.</p>
    </div>
    <div class="column">
      <img class="how_it_works_icon" src="{{ "/assets/images/v2/how_it_works_icon-3.png" | prepend: site.github.url }}">
      <h3 class="how_it_works_img_header">3. Sök jobb</h3>
      <p>Nu är det dags att börja söka jobb!</p>
      <p>Sök till varje, och alla jobb du vill ha. Glöm inte att logga in ofta för att se om vi har lagt upp några nya jobb!</p>
    </div>
  </div>

  <div class="equal width row">
    <div class="column">
      <a class="primary-btn btn-large left-button" href="https://app.justarrived.se/register">Skapa ett konto</a>
    </div>

    <div class="column">
      <a class="primary-btn btn-large right-button" href="https://app.justarrived.se/jobs">Kolla in våra jobb</a>
    </div>
  </div>

</div>
