<section class="
  module-howto
  module
  module--white">

  <div class="module-content">
    <div class="columns">
      <div class="column-1-3 column--padding column-charcoal">
        <div class="js-match-height">
          <h2 class="module--txt-c">{% t newcomer_howto.requirements.title %}</h2>

          <div class="module--checklist module-content">
            <ul class="checklist">
              <li class="incomplete">{% t newcomer_howto.requirements.first %}</li>
              <li class="incomplete">{% t newcomer_howto.requirements.second %}</li>
              <li class="incomplete">{% t newcomer_howto.requirements.third %}</li>
            </ul>
          </div>
        </div>

        <p class="howto-cta module--txt-c">
          <a href="#" class="cd-popup-trigger-newcomer-signup border-btn border-btn--white-pink btn-large">
            {% t newcomer_howto.apply.cta %}
          </a>
        </p>
      </div>

      <div class="column-1-3 column--padding column-secondary">
        <div class="js-match-height">
          <h2 class="module--txt-c">{% t newcomer_howto.apply.title %}</h2>

          <div class="module--checklist module-content">
            <ul class="checklist">
              <li class="incomplete">{% t newcomer_howto.apply.first %}</li>
              <li class="incomplete">{% t newcomer_howto.apply.second %}</li>
              <li class="incomplete">{% t newcomer_howto.apply.third %}</li>
            </ul>
          </div>
        </div>

        <p class="howto-cta module--txt-c">
          <a href="#" class="cd-popup-trigger-newcomer-signup border-btn border-btn--white-pink btn-large">
            {% t newcomer_howto.apply.cta %}
          </a>
        </p>
      </div>

      <div class="column-1-3 column--padding column-charcoal">
        <div class="js-match-height">
          <h2 class="module--txt-c">{% t newcomer_howto.service.title %}</h2>

          <div class="module--checklist module-content">
            <ul class="checklist">
              <li class="incomplete">{% t newcomer_howto.service.first %}</li>
              <li class="incomplete">{% t newcomer_howto.service.second %}</li>
            </ul>
          </div>
        </div>

        <p class="howto-cta module--txt-c">
          <a href="#" class="cd-popup-trigger-newcomer-signup border-btn border-btn--white-pink btn-large">
            {% t newcomer_howto.apply.cta %}
          </a>
        </p>
      </div>


    </div>

  </div>

</section>
