<div class="ui grid section--newcomer-faq">
  <div class="two column stackable equal width row newcomer-faq-container">
    <div class="column section--newcomer-faq-left">
      <div class="row">
        <h2 class="section-title">{% t faq.links.newcomer_faq %}</h2>
        <h3 class="section-subtitle">{% t faq.newcomer.what.question %}</h3>
      </div>
      <div class="row">
        <p class="section-text">{% t faq.newcomer.what.answer %}</p>
      </div>
      <div class="row section-button-wrapper">
        <a href="{{ "/faq/newcomer/" | prepend: site.baseurl }}" class="border-btn border-btn--white-pink section-button">
          {% t global.read_more %}
        </a>
      </div>
    </div>
    <div class="column computer tablet only section-image"></div>
  </div>
</div>
