<section class="
  section--testimonial
  module
  module--padding
  module--black
  module--gray-bg
  module--txt-c">

  <div class="wrap">
    <div class="module-content">

      <div class="columns">

        <div class="column-1-2">
          <p class="testimonial-body">
            <span class="testimonial-quote-icon">"</span>
            {% t vasbyhem_testimonial.first_body %}
          </p>
          <p>
            <p class="testimonial-meta-author">Sara Brandt, Väsbyhem</p>
          </p>
        </div>

        <div class="column-1-2">
          <div class="profile-circle sara-brandt"></div>
        </div>

      </div>

    </div>
  </div>

  <br><br><br>

  <div class="wrap">
    <div class="module-content">

      <div class="columns">

        <div class="column-1-2">
          <div class="profile-circle sara-brandt"></div>
        </div>

        <div class="column-1-2">
          <p class="testimonial-body">
            <span class="testimonial-quote-icon">"</span>
            {% t vasbyhem_testimonial.first_body %}
          </p>
          <p>
            <p class="testimonial-meta-author">Sara Brandt, Väsbyhem</p>
          </p>
        </div>

      </div>

    </div>
  </div>

</section>
