<div class="cd-popup cd-popup-newcomer-signup">
  <div class="cd-popup-container">
    <section class="section--signup-popup">
      <div class="
        module-content
        module-content--centered
        module--txt-c
        module--black
        ">
        <h2 class="bordered bordered--secondary bordered--centered">{% t newcomer_signup_modal.title %}</h2>
        <p class="module--txt-l">{% t newcomer_signup_modal.description %}</p>
        <br>
        <p>
          <a href="{{ site.wintrgarden_signup_no_reg }}" class="js-wintrgarden-signup-no-reg primary-btn">{% t newcomer_signup_modal.cta_no_reg %}</a>
          <a href="{{ site.wintrgarden_signup_reg }}" class="js-wintrgarden-signup-reg primary-btn">{% t newcomer_signup_modal.cta_reg %}</a>
        </p>
      </div>
      <a href="#0" class="cd-popup-close img-replace"></a>
    </section>
  </div>
  <!-- cd-popup-container -->
</div>
<!-- cd-popup -->
