<div class="cd-popup cd-popup-promo">
  <div class="cd-popup-container">
    <section class="section--signup-popup">
      <div class="
    module-content
    module-content--centered
    module--txt-c
    module--black
    ">
        <h2 class="bordered bordered--secondary bordered--centered">{% t promo_code.title %}</h2>
        <p class="module--txt-l">{% t promo_code.description %}</p>
        <form class="promo-form" onsubmit="return submitPromoCode()">
          <div class="form-col form-col--full-width">
            <input type="password" placeholder="{% t promo_code.placeholder %}" id="promo-code-input" value="" />
          </div>
          <div class="form-response" id="promo-error"></div>
          <div class="form-response" id="promo-success"></div>
          <div class="form-col form-col--submit-btn">
            <input type="submit" value="{% t promo_code.submit %}" class="border-btn btn-large border-btn--blue">
          </div>
        </form>
      </div>
      <a href="#0" class="cd-popup-close img-replace"></a>
    </section>
  </div>
  <!-- cd-popup-container -->
</div>
<!-- cd-popup -->
