<div class="cd-popup cd-popup-signin">
  <div class="cd-popup-container">
    <section class="section--signup-popup">
      <div class="
    module-content
    module-content--centered
    module--black
    ">
        <h2 class="bordered bordered--primary module--txt-c">{% t signup_modal.title %}</h2>
        <p>{% t signup_modal.description %}</p>
        <div id="mc_embed_signup">
          <form action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST" class="signup-form">

            <input type=hidden name="oid" value="00D58000000cNvl">
            <input type=hidden name="retURL" value="justarrived.se?message=thanks" id="salesforce_retURL">
            <input type=hidden name="lead_source" value="Web">

            <script>
              function getCurrentURIForRedirect() {
                var ele = document.getElementById("salesforce_retURL");
                console.log('ele');
                ele.setAttribute("value", window.location.href + "?message=thanks");
              }

              //getCurrentURIForRedirect();
            </script>

            <!--  ----------------------------------------------------------------------  -->
            <!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
            <!--  these lines if you wish to test in debug mode.                          -->
            <!--  <input type="hidden" name="debug" value=1>                              -->
            <!--  <input type="hidden" name="debugEmail" value="richard.dearn@eins.se">   -->
            <!--  ----------------------------------------------------------------------  -->

            <div class="signup-error module--txt-c">
              <label for="mce-EMAIL" class="mailchimp-error">{% t form.email %}</label>
            </div>

            <div id="mc_embed_signup_scroll">

              <div class="form-col mc-field-group">
                <label>{% t form.email %} <span class="asterisk">*</span></label>
                <input type="email" value="" name="email" class="required email" id="mce-EMAIL" required>
              </div>
              <div class="form-col mc-field-group">
                <label for="mce-NAME">{% t form.name %} <span class="asterisk">*</span>
                </label>
                <input type="text" value="" maxlength="80" name="last_name" class="required" id="mce-LASTNAME" required>
              </div>
              <div class="form-col mc-field-group size1of2">
                <label for="mce-PHONE">{% t form.phone %}</label>
                <input type="number" maxlength="40" name="phone" class="" value="" id="mce-PHONE">
              </div>
              <div class="form-col mc-field-group">
                <label for="mce-COMPANY">{% t form.company %}</label>
                <input type="text" value="" maxlength="40" name="company" class="" id="mce-COMPANY">
              </div>
              <div class="form-col form-col--full-width mc-field-group">
                <label for="mce-CITY">{% t form.city %}</label>
                <input type="text" value="" name="00N580000088gDR" class="" id="mce-CITY">
              </div>
              <div class="mc-field-group input-group">
                <div class="input-group-content">
                  <p>{% t signup_modal.interested.title %} <span class="asterisk">*</span></p>
                  <ul>
                    <li>
                      <input type="radio" value="Posting jobs" name="00N580000088fVu" id="mce-MMERGE5-0">
                      <label for="mce-MMERGE5-0">{% t signup_modal.interested.post_jobs %}</label>
                    </li>
                    <li>
                      <input type="radio" value="Finding jobs" name="00N580000088fVu" id="mce-MMERGE5-1" checked>
                      <label for="mce-MMERGE5-1">{% t signup_modal.interested.find_jobs %}</label>
                    </li>
                    <li>
                      <input type="radio" value="Helping out" name="00N580000088fVu" id="mce-MMERGE5-2">
                      <label for="mce-MMERGE5-2">{% t signup_modal.interested.help %}</label>
                    </li>
                    <li>
                      <input type="radio" value="Donating" name="00N580000088fVu" id="mce-MMERGE5-3">
                      <label for="mce-MMERGE5-3">{% t signup_modal.interested.donate %}</label>
                    </li>
                    <li>
                      <input type="radio" value="Knowing more" name="00N580000088fVu" id="mce-MMERGE5-4">
                      <label for="mce-MMERGE5-4">{% t signup_modal.interested.know %}</label>
                    </li>
                  </ul>
                </div>
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
              <!-- prevent bot signups -->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_ac005505ee4f55f35fc7bdc5d_4cc4f7c8c5" tabindex="-1" value="">
              </div>
              <div class="clear">
                <input type="submit" value="{% t form.submit %}" name="submit" id="mc-embedded-subscribe" class="button border-btn btn-large border-btn--pink">
              </div>
            </div>
          </form>
        </div>
      </div>
      <a href="#0" class="cd-popup-close img-replace"></a>
    </section>
  </div>
  <!-- cd-popup-container -->
</div>
<!-- cd-popup -->
