---
layout: default
---

<div class="about-us">
  <div id="content">
    {% capture top_banner_title %}
      {% t about_us.top_banner.title %}
    {% endcapture %}
    {% include v3/sections/top_banner.html title=top_banner_title %}
    {% include v3/sections/we_disrupt_the_labour_market.html %}
    {% include v3/sections/win_win.html bg_color="black" %}
    {% include v3/sections/latest_blog_post.html %}
    {% include v3/sections/yesterday_today_tomorrow.html %}
    {% include v3/sections/two_column_company_newsletter.html %}
    {% include sections/say_hej.html %}
    {% include sections/covered_by.html %}
  </div>
</div>
