<script src="https://use.fontawesome.com/webfontloader/1.6.24/webfontloader.js"></script>
<script src="https://use.fontawesome.com/a891d007d4.js"></script>

<script src="{{ "/assets/js/libs/jquery-3.1.0.js" || prepend: site.github.url }}" charset="utf-8"></script>
<script src="{{ "/assets/js/libs/jquery.ajaxchimp.js" || prepend: site.github.url }}" charset="utf-8"></script>
<script src="{{ "/assets/js/libs/jquery.ajaxchimp.langs.js" || prepend: site.github.url }}" charset="utf-8"></script>
<script src="{{ "/assets/js/libs/modernizr.custom.min.js" || prepend: site.github.url }}" charset="utf-8"></script>
<script src="{{ "/assets/js/libs/cookie-disclaimer.js" || prepend: site.github.url }}" charset="utf-8"></script>
<script src="{{ "/assets/js/scripts.js" || prepend: site.github.url }}" charset="utf-8"></script>
<script src="{{ "/assets/js/pay-calculator.js" || prepend: site.github.url }}" charset="utf-8"></script>
<script src="{{ "/assets/js/hourly-pays-input-list.js" || prepend: site.github.url }}" charset="utf-8"></script>
<script src="{{ "/assets/js/promo-code.js" || prepend: site.github.url }}" charset="utf-8"></script>
<script src="{{ "/assets/js/ja-jobs.js" || prepend: site.github.url }}" charset="utf-8"></script>
<script src="{{ "/assets/js/cookie-notice.js" || prepend: site.github.url }}" charset="utf-8"></script>

<script type="text/javascript">
	_linkedin_data_partner_id = "17815";
	</script><script type="text/javascript">
	(function(){var s = document.getElementsByTagName("script")[0];
	var b = document.createElement("script");
	b.type = "text/javascript";b.async = true;
	b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
	s.parentNode.insertBefore(b, s);})();
</script>

<!-- Twitter universal website tag code -->
<script>
!function(e,n,u,a){e.twq||(a=e.twq=function(){a.exe?a.exe.apply(a,arguments):
a.queue.push(arguments);},a.version='1',a.queue=[],t=n.createElement(u),
t.async=!0,t.src='//static.ads-twitter.com/uwt.js',s=n.getElementsByTagName(u)[0],
s.parentNode.insertBefore(t,s))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','nvete');
twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->
