<script src="https://use.fontawesome.com/webfontloader/1.6.24/webfontloader.js"></script>
<script src="https://use.fontawesome.com/a891d007d4.js"></script>

<script charset="utf-8" src="{{ "/assets/js/libs/jquery-3.1.0.js" || prepend: site.github.url }}" ></script>
<script charset="utf-8" src="{{ "/assets/js/libs/jquery.ajaxchimp.js" || prepend: site.github.url }}" ></script>
<script charset="utf-8" src="{{ "/assets/js/libs/jquery.ajaxchimp.langs.js" || prepend: site.github.url }}" ></script>
<script charset="utf-8" src="{{ "/assets/js/libs/modernizr.custom.min.js" || prepend: site.github.url }}" ></script>
<script charset="utf-8" src="{{ "/assets/js/libs/cookie-disclaimer.js" || prepend: site.github.url }}" ></script>
<script charset="utf-8" src="{{ "/assets/js/scripts.js" || prepend: site.github.url }}" ></script>
<script charset="utf-8" src="{{ "/assets/js/pay-calculator.js" || prepend: site.github.url }}" ></script>
<script charset="utf-8" src="{{ "/assets/js/hourly-pays-input-list.js" || prepend: site.github.url }}" ></script>
<script charset="utf-8" src="{{ "/assets/js/promo-code.js" || prepend: site.github.url }}" ></script>
<script charset="utf-8" src="{{ "/assets/js/ja-jobs.js" || prepend: site.github.url }}" ></script>
<script charset="utf-8" src="{{ "/assets/js/cookie-notice.js" || prepend: site.github.url }}" ></script>
<script charset="utf-8" src="{{ "/assets/js/just-track.js" || prepend: site.github.url }}" ></script>
<script charset="utf-8" src="{{ "/assets/js/popups.js" || prepend: site.github.url }}" ></script>
<script charset="utf-8" src="{{ "/assets/js/just-i18n.js" || prepend: site.github.url }}" ></script>
<script charset="utf-8" src="{{ "/assets/js/utm-builder.js" || prepend: site.github.url }}" ></script>
<script charset="utf-8" src="{{ "/assets/js/site.js" || prepend: site.github.url }}" ></script>
<script type="text/javascript">
  Site.init(); // Init site JavaScript
</script>

<script type="text/javascript">
  PollerConfig = { url: 'https://throwawaypoll.herokuapp.com' };
</script>
<script charset="utf-8" src="{{ "/assets/js/xmas/poller.js" || prepend: site.github.url }}" ></script>
<script type="text/javascript">
  ALLREADY_SUBMITTED_XMAS_COUNT = {{site.xmas_already_submitted_count}};
  GA_XMAS_CATEGORY = '{{site.analytics.categories.xmas}}';

  function getXmasPoller() {
    var opts = {
      id: '{{site.xmas_poller_id}}',
      points: true
    };
    return new Poller(opts);
  }

  function updateXmasSupporters() {
    getXmasPoller().result(function(result) {
      var submitCount = result.length;
      var counterElements = document.querySelectorAll('.js-current-count');
      for (var i = 0; i < counterElements.length; i++) {
        counterElements[i].innerText = ALLREADY_SUBMITTED_XMAS_COUNT + submitCount;
      }

      var supporterList = [];
      for (var i = result.length - 1; i >= 0; i--) {
        var name = result[i][0];
        supporterList.push('<li><span class="primary-color supporter-name">' + name + '</span></li>')
      }
      $('.js-supporter-list').prepend(supporterList.join(''));

      var calculateFillHeight = function(count) {
        var percentFilled = (count / 150) * 100;
        var fillHeight = (percentFilled * 2.65) + 24;
        if (fillHeight > 285) {
          fillHeight = 285;
        }
        return fillHeight;
      }
      $('.counter-bg-overlay').css('height', calculateFillHeight(submitCount) + 'px');
    });
  }

  function submitXmas() {
    var firstName = document.getElementById('first_name').value;
    var lastName = document.getElementById('last_name').value;
    var company = document.getElementById('company').value;
    var role = document.getElementById('role').value;

    var fullName = firstName + ' ' + lastName + ', ' + role + ', ' + company;

    getXmasPoller().submit({x: fullName, y: 1}, function() {
      gaTrack(GA_XMAS_CATEGORY, 'submit', 'submit supporter form (fixed)');

      updateXmasSupporters();
    });

    // Let the form be submitted
    return true;
  }

  // MAIN
  updateXmasSupporters();
</script>

<script type="text/javascript">
	_linkedin_data_partner_id = "17815";
	</script><script type="text/javascript">
	(function(){var s = document.getElementsByTagName("script")[0];
	var b = document.createElement("script");
	b.type = "text/javascript";b.async = true;
	b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
	s.parentNode.insertBefore(b, s);})();
</script>

<!-- Twitter universal website tag code -->
<script>
!function(e,n,u,a){e.twq||(a=e.twq=function(){a.exe?a.exe.apply(a,arguments):
a.queue.push(arguments);},a.version='1',a.queue=[],t=n.createElement(u),
t.async=!0,t.src='//static.ads-twitter.com/uwt.js',s=n.getElementsByTagName(u)[0],
s.parentNode.insertBefore(t,s))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','nvete');
twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->

<script>
  /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
  function toggleHamburger() {
    var x = document.getElementById("responsive-header");
    if (x.className === "hide") {
        x.className = "responsive";
    } else {
        x.className = "hide";
    }
  }
</script>
