<style media="screen">
  .newsletter-form {
    max-width: 600px;
    margin: 20px auto;
  }

  .newsletter-form .email-field {
    max-width: 485px;
    display: inline-block;
  }

  .newsletter-form form {
    text-align: center;
  }

  .newsletter-form .email-field input {
    min-width: 200px;
  }

  .newsletter-form .submit-field {
    display: inline-block;
  }
  .newsletter-form .submit-field input {
    height: 40px;
  }
</style>

<div class="section--company-post-job-container">
  <div class="newsletter-form">
    <p>
      Kunskap och inspiration kring hur du kan bygga bättre affärer med hjälp av medarbetare som är nya i Sverige.
      Du kan så klart när som helst avregistrera dig för fler utskick.
    </p>
    <form action="https://justarrived.us13.list-manage.com/subscribe/post?u=ac005505ee4f55f35fc7bdc5d&amp;id=04495ff74a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <!-- <label for="mce-EMAIL">Subscribe to our mailing list</label> -->

      <div class="email-field">
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      </div>

      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ac005505ee4f55f35fc7bdc5d_04495ff74a" tabindex="-1" value=""></div>

      <div class="submit-field">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="primary-btn border-btn--pink section-button">
      </div>
    </form>
  </div>
</div>
