<footer class="footer" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
  <section class="
    module--padding-half
    module--txt-img
    module--white
    module--charcoal-bg
    footer-bg-image">

    <div class="title-footer module">
      <img class="footer-image" src="/assets/images/logos/ja_logo_vertical_white.png">
    </div>

    <div class="wrap">
      <div class="footer-col">
        <h3>{% t footer.get_started.title %}</h3>
        <ul class="footer-link-list">
          <li><a href="{{ site.app_signin_link }}">{% t footer.get_started.login %}</a></li>
          <li><a href="#" class="cd-popup-trigger-newcomer-signup">{% t footer.get_started.candidate_registration %}</a></li>
          <li><a href="#" class="cd-popup-trigger-signin">{% t footer.get_started.post_job %}</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h3>{% t footer.about_us.title %}</h3>
        <ul class="footer-link-list">
          <li><a href="{{ "/about-us/" | prepend: site.baseurl }}">{% t footer.about_us.about %}</a></li>
          <li><a href="{{ "/careers/" | prepend: site.baseurl }}">{% t footer.about_us.careers %}</a></li>
          <li><a href="{{ "/about-us/" | prepend: site.baseurl }}">{% t footer.about_us.team %}</a></li>
          <li><a href="{{ "/press/" | prepend: site.baseurl }}">{% t footer.about_us.press %}</a></li>
          <li><a href="{{ "/faq/" | prepend: site.baseurl }}">{% t footer.about_us.faq %}</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h3>{% t footer.contact_us.title %}</h3>
        <ul class="footer-link-list">
          <li><a href="mailto:{{site.contact_email}}">{{site.contact_email}}</a></li>
          <li>Just Arrived</li>
          <li>
            <a href="https://www.google.se/maps/place/Birger+Jarlsgatan+57C,+113+56+Stockholm/@59.3415145,18.0622277,17z/data=!3m1!4b1!4m5!3m4!1s0x465f9d684ea80717:0xe518a0937ab3f86c!8m2!3d59.3415145!4d18.0644164">
              Birger Jarlsgatan 57c <br>113 56 Stockholm
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-col">
        <h3>{% t footer.follow_us.title %}</h3>
        <div class="social-links">
          <a
            href="{{site.facebook_url}}"
            data-action="click"
            data-action-label="Footer Facebook click"
            category="{{ site.analytics.categories.social }}">
              <img src="/assets/images/social-media/facebook.png" class="social-media-icon">
          </a>
          <a
            href="{{site.twitter_url}}"
            data-action="click"
            data-action-label="Footer Twitter click"
            category="{{ site.analytics.categories.social }}">
              <img src="/assets/images/social-media/twitter.png" class="social-media-icon">
          </a>
          <a
            href="{{site.instagram_url}}"
            data-action="click"
            data-action-label="Footer Instagram click"
            category="{{ site.analytics.categories.social }}">
              <img src="/assets/images/social-media/instagram.png" class="social-media-icon">
          </a>
          <a
            href="{{site.linkedin_url}}"
            data-action="click"
            data-action-label="Footer LinkedIn click"
            category="{{ site.analytics.categories.social }}">
              <img src="/assets/images/social-media/linkedin.png" class="social-media-icon">
          </a>
          <a
            href="{{site.github_url}}"
            data-action="click"
            data-action-label="Footer Github click"
            category="{{ site.analytics.categories.social }}">
              <img src="/assets/images/social-media/github.png" class="social-media-icon">
          </a>
        </div>
      </div>
    </div>

    <div class="copy-footer module">
      <div id="inner-footer">
        <p class="source-org copyright">
          &copy; {{ site.time | date: '%Y' }} {% t global.app_name %}
        </p>
      </div>
    </div>

  </section>
</footer>

{% include modals/signup.html %}
{% include modals/job_card_popup.html %}
