<header class="header" role="banner" itemscope itemtype="http://schema.org/WPHeader">
	<div id="inner-header" class="wrap cf">

		<a href="/" rel="nofollow">
			<div class="header__logo">Just Arrived</div>
		</a>

		<div class="header__btns">
			<div class="lang-options">
				<a href="/"><span class="lang-en">English</span></a>
				<a href="/ar"><span class="lang-ar">Arabic</span></a>
			</div>
			<a href="#" class="primary-btn cd-popup-trigger-signin">I want a job</a>
			<a href="#" class="border-btn cd-popup-trigger-promo">Sign in with promo code</a>
		</div>

	</div>
</header>
