<div class="ui grid section--companies-information">
  <div class="sixteen wide column title-container">
    <h2>{% t company_page.companies_information.title %}</h2>
    <div class="company-small-bottom-border"></div>
  </div>


  <div class="sixteen wide column stackable equal width row">
    <div class="column information-text-container">
      <h3>{% t company_page.companies_information.first.title %}</h3>
      <p>{% t company_page.companies_information.first.body %}</p>
    </div>
    <div class="column information-text-container">
      <h3>{% t company_page.companies_information.second.title %}</h3>
      <p>{% t company_page.companies_information.second.body %}</p>
    </div>
    <div class="column information-text-container">
      <h3>{% t company_page.companies_information.third.title %}</h3>
      <p>{% t company_page.companies_information.third.body %}</p>
    </div>
  </div>

  <div class="sixteen wide column button-container">
    <p class="border-btn border-btn--white-pink">{% t company_page.companies_information.cta %}</p>
  </div>
</div>
