<div class="ui grid section--companies-grid">
  <h2 style=" width: 100%; text-align: center; padding: 1em 0 0 0;">Våra vanligaste uppdrag</h2>
  <div class="company-small-bottom-border"></div>
  <div class="doubling three column stackable row company-grid-container">
    <div class="column company-grid-cell company-grid-cell-one"> <!-- column padding overrides anything I do to padding-top or padding-bottom -->
      <div class="company-grid-cell-overlay">
        <div class="company-grid-cell-overlay-container">
          <div class="company-grid-cell-overlay-content">
            <h2>Support</h2>
            <div class="company-small-bottom-border"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="column company-grid-cell company-grid-cell-two">
      <div class="company-grid-cell-overlay">
        <div class="company-grid-cell-overlay-container">
          <div class="company-grid-cell-overlay-content">
            <h2>Anläggning</h2>
            <div class="company-small-bottom-border"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="column company-grid-cell company-grid-cell-three">
      <div class="company-grid-cell-overlay">
        <div class="company-grid-cell-overlay-container">
          <div class="company-grid-cell-overlay-content">
            <h2>Event</h2>
            <div class="company-small-bottom-border"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="column company-grid-cell company-grid-cell-four">
      <div class="company-grid-cell-overlay">
        <div class="company-grid-cell-overlay-container">
          <div class="company-grid-cell-overlay-content">
            <h2>Service</h2>
            <div class="company-small-bottom-border"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="column company-grid-cell company-grid-cell-five">
      <div class="company-grid-cell-overlay">
        <div class="company-grid-cell-overlay-container">
          <div class="company-grid-cell-overlay-content">
            <h2>Handel</h2>
            <div class="company-small-bottom-border"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="column company-grid-cell company-grid-cell-six">
      <div class="company-grid-cell-overlay">
        <div class="company-grid-cell-overlay-container">
          <div class="company-grid-cell-overlay-content">
            <h2>Och mycket mer!</h2>
            <div class="company-small-bottom-border"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
