<div class="ui grid section--company-faq">
  <div class="two column stackable equal width row">
    <div class="column">
      <div class="row">
        <h2 class="section-title">FAQ för företag</h2>
        <h3>Varför ska jag anställa via Just Arrived?</h3>
      </div>
      <div class="row">
        <p class="section-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
      <div class="row">
        <p class="border-btn border-btn--white-pink section-button">Läs mer</p>
      </div>
    </div>
    <div class="column computer tablet only section-image"></div>
  </div>
</div>
