<div class="ui grid section--companies-grid">
  <h2 style=" width: 100%; text-align: center; padding: 1em 0 0 0;">{% t company_page.common_jobs.title %}</h2>
  <div class="company-small-bottom-border"></div>
  <div class="doubling three column stackable row company-grid-container">
    <div class="column company-grid-cell company-grid-cell-one"> <!-- column padding overrides anything I do to padding-top or padding-bottom -->
      <div class="company-grid-cell-overlay">
        <div class="company-grid-cell-overlay-container">
          <div class="company-grid-cell-overlay-content">
            <h3>{% t company_page.common_jobs.first %}</h3>
            <div class="company-small-bottom-border"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="column company-grid-cell company-grid-cell-two">
      <div class="company-grid-cell-overlay">
        <div class="company-grid-cell-overlay-container">
          <div class="company-grid-cell-overlay-content">
            <h3>{% t company_page.common_jobs.second %}</h3>
            <div class="company-small-bottom-border"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="column company-grid-cell company-grid-cell-three">
      <div class="company-grid-cell-overlay">
        <div class="company-grid-cell-overlay-container">
          <div class="company-grid-cell-overlay-content">
            <h3>{% t company_page.common_jobs.third %}</h3>
            <div class="company-small-bottom-border"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="column company-grid-cell company-grid-cell-four">
      <div class="company-grid-cell-overlay">
        <div class="company-grid-cell-overlay-container">
          <div class="company-grid-cell-overlay-content">
            <h3>{% t company_page.common_jobs.forth %}</h3>
            <div class="company-small-bottom-border"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="column company-grid-cell company-grid-cell-five">
      <div class="company-grid-cell-overlay">
        <div class="company-grid-cell-overlay-container">
          <div class="company-grid-cell-overlay-content">
            <h3>{% t company_page.common_jobs.fifth %}</h3>
            <div class="company-small-bottom-border"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="column company-grid-cell company-grid-cell-six">
      <div class="company-grid-cell-overlay">
        <div class="company-grid-cell-overlay-container">
          <div class="company-grid-cell-overlay-content">
            <h3>{% t company_page.common_jobs.sixth %}</h3>
            <div class="company-small-bottom-border"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
