<div class="ui grid section--company-faq">
  <div class="two column stackable equal width row company-faq-container">
    <div class="column section--company-faq-left">
      <div class="row">
        <h3 class="section-subtitle">{% t faq.company.why.question %}</h3>
      </div>
      <div class="row">
        <p class="section-text">{% t faq.company.why.answer %}</p>
      </div>
      <div class="row section-button-wrapper">
        <a class="primary-btn border-btn--pink section-button">
          {% t global.read_more %}
        </a>
      </div>
    </div>
    <div class="column computer tablet only section-image"></div>
  </div>
</div>
