<section class="
  section--say-hej
  module
  module--txt-c
  module--padding
  module--white
  module--black-bg">
  <div class="wrap">
    <div class="module-content">
      <h2 class="bordered bordered--secondary bordered--centered">{% t company_contact_us.title %}</h2>

      <div class="columns columns--inline">
        <div class="column-1-2">
          <img class="profile-pic" src="{{ "/assets/images/profile-pictures/neven_jugo.jpg" | prepend: site.github.url }}">
          <p>
            <strong>Neven Jugo</strong>
            <br> Head of Sales
            <br>
            <a class="txt-link" href="mailto:neven.jugo@justarrived.se">neven.jugo@justarrived.se</a>
            <br>
            <a class="txt-link formatted-number" href="tel:+46709329962">+46 70 932 99 62</a>
          </p>
        </div>
        <div class="column-1-2">
          <img class="profile-pic" src="{{ "/assets/images/profile-pictures/per_strangberg.jpg" | prepend: site.github.url }}">
          <p>
            <strong>Per Strängberg</strong>
            <br> Customer Success Manager
            <br>
            <a class="txt-link" href="mailto:per.strangberg@justarrived.se">per.strangberg@justarrived.se</a>
            <br>
            <a class="txt-link formatted-number" href="tel:+46734348359">+46 73 434 83 59</a>
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
