<section class="
  module-howto
  module
  module--white">

  <div class="module-content">
    <div class="columns">
      <div class="column-1-3 column--padding column-secondary">
        <div class="js-match-height">
          <h2 class="module--txt-c">{% t company_howto.first.title %}</h2>

          <div class="module--checklist module-content">
            <ul class="checklist">
              <li class="incomplete">{% t company_howto.first.first %}</li>
              <li class="incomplete">{% t company_howto.first.second %}</li>
              <li class="incomplete">{% t company_howto.first.third %}</li>
            </ul>
          </div>
        </div>
        <p class="howto-cta module--txt-c">
          <a href="#" class="cd-popup-trigger-signin border-btn border-btn--white-pink btn-large">
            {% t company_howto.cta %}
          </a>
        </p>
      </div>

      <div class="column-1-3 column--padding column-primary">
        <div class="js-match-height">
          <h2 class="module--txt-c">{% t company_howto.second.title %}</h2>

          <div class="module--checklist module-content">
            <ul class="checklist">
              <li class="incomplete">{% t company_howto.second.first %}</li>
              <li class="incomplete">{% t company_howto.second.second %}</li>
              <li class="incomplete">{% t company_howto.second.third %}</li>
            </ul>
          </div>
        </div>

        <p class="howto-cta module--txt-c">
          <a href="#" class="cd-popup-trigger-signin border-btn border-btn--white-pink btn-large">
            {% t company_howto.cta %}
          </a>
        </p>
      </div>

      <div class="column-1-3 column--padding column-charcoal">
        <div class="js-match-height">
          <h2 class="module--txt-c">{% t company_howto.third.title %}</h2>

          <div class="module--checklist module-content">
            <ul class="checklist">
              <li class="incomplete">{% t company_howto.third.first %}</li>
              <li class="incomplete">{% t company_howto.third.second %}</li>
              <li class="incomplete">{% t company_howto.third.third %}</li>
              <li class="incomplete">{% t company_howto.third.forth %}</li>
            </ul>
          </div>

        </div>
        <p class="howto-cta module--txt-c">
          <a href="#" class="cd-popup-trigger-signin border-btn border-btn--white-pink btn-large">
            {% t company_howto.cta %}
          </a>
        </p>
      </div>
    </div>

  </div>

</section>
