<div class="ui grid section--company-post-job-container" id="post-job-now">

  <div class="three column stackable equal width row">
    <div class="column">
      <div class="post-job-image-container"><img class="post-job-image" src="/assets/images/v2/company-create-job.png"></img></div>
    </div>
    <div class="column">
      <form action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">

        <input type=hidden name="oid" value="00D58000000cNvl">
        <input type=hidden name="retURL" value="{{ site.company_submission_redirect_url }}" id="salesforce_retURL">
        <input type=hidden name="lead_source" value="Web">

        <div class="sixteen wide column single-input-container">
            <input type="email" value="" name="email" class="required email" id="mce-EMAIL" required placeholder="Name">
        </div>
        <div class="sixteen wide column single-input-container">
          <div class="column">
              <input class="double-input-left" type="text" value="" maxlength="40" name="company" id="mce-COMPANY" required placeholder="Company">
              <input class="double-input-right" type="text" value="" maxlength="40" name="city" id="mce-CITY" required placeholder="City">
          </div>
        </div>
        <div class="sixteen wide column single-input-container">
            <input type="number" value="" name="phone" class="required" id="mce-PHONE" required placeholder="Phone number">
        </div>
        </div>
        <div class="column">
          <textarea type="text" value="" name="description" id="mce-DESCRIPTION" required placeholder="What do you need help with?"></textarea>
        </div>
      </div>
      <!-- prevent bot signups -->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_ac005505ee4f55f35fc7bdc5d_4cc4f7c8c5" tabindex="-1" value="">
      </div>

      <div class="sixteen wide column form-post-now-button-container">
        <input type="submit" value="{% t company_page.top_banner.get_in_touch_cta %}" name="submit" id="mc-embedded-subscribe" class="primary-btn btn-large post-now-button">
      </div>
    </form>
</div>
