<form name="form_9084u3086368d810f43a0955c5bd000afc267" action="https://power.upsales.com/api/external/formSubmit" method="POST">
  <div class="ui grid section--company-post-job-container" id="post-job-now">
    <div class="three column stackable equal width row">
      <div class="column">
        <div class="post-job-image-container">
          <!-- <img class="post-job-image" src="/assets/images/v2/company-create-job.png" /> -->
          <h2 class="section-title" style="color:#e5007d;">{% t company_contact_form.title %}</h2>
          <p style="color:#ffffff;">{% t company_contact_form.subtitle %}</p>
        </div>
      </div>

      <div class="column">
        <div class="sixteen wide column single-input-container">
          <input maxlength="512" type="text" name="Contact.name" value="" required="required" placeholder="{% t form.name %}">
        </div>
        <div class="sixteen wide column single-input-container">
          <input maxlength="512" type="text" name="Client.name" value="" required="required" placeholder="{% t form.company %}">
        </div>
        <div class="sixteen wide column single-input-container">
          <input maxlength="512" type="email" name="Contact.email" value="" required="required" placeholder="{% t form.email %}">
        </div>
        <div class="sixteen wide column single-input-container">
          <input maxlength="512" type="text" name="Client.phone" required="required" placeholder="{% t form.phone %}">
        </div>
        <!-- REQUIRED FIELDS -->
        <input type="hidden" name="formCid" value="9084">
        <input type="hidden" name="formId" value="9084u3086368d810f43a0955c5bd000afc267">
        <input type="hidden" name="isFrame" value="false">
        <input type="text" value="" name="validation" style="display: none;">
        <!-- END OF REQUIRED FIELDS -->
        <div class="sixteen wide column form-post-now-button-container">
        </div>
      </div>

      <div class="column">
        <textarea maxlength="512" type="text" name="Extra.1506948557152" placeholder="{% t company_page.contact_form.job_description_placeholder %}"></textarea>
        <div class="form-post-now-button-container">
          <input type="submit" value="{% t company_page.top_banner.get_in_touch_cta %}" name="submit" id="mc-embedded-subscribe" class="primary-btn btn-large post-now-button">
        </div>
      </div>
    </div>
  </div>
</form>
