<div class="ui grid">

  <div class="three column stackable equal width row">
    <div class="column" style="text-align:center;">
      Image
    </div>
    <div class="column" style="text-align:center;">
      <div class="sixteen wide column" style="text-align:center;">
        First input
      </div>
      <div class="sixteen wide column" style="text-align:center;">
        <div class="column">
          Second input
        </div>
      </div>
      <div class="sixteen wide column" style="text-align:center;">
        Third input
      </div>
    </div>
    <div class="column" style="text-align:center;">
      Second Form
    </div>
  </div>

  <div class="sixteen wide column" style="text-align:center;">
    Post now
  </div>

</div>
