<div class="ui grid">
  <div class="sixteen wide column" style="text-align:center;">
    <h2>Rekommendation</h2>
  </div>

  <div class="equal width row">
    <div class="column" style="text-align:center;">Name 1</div>
    <div class="column" style="text-align:center;">Name 2</div>
    <div class="column" style="text-align:center;">Name 3</div>
  </div>

  <div class="sixteen wide column" style="text-align:center;">
    Image
  </div>

  <div class="sixteen wide column" style="text-align:center;">
    Text
  </div>

  <div class="sixteen wide column" style="text-align:center;">
    Name
  </div>

</div>
