<div class="ui grid section--company-recommendation">
  <div class="sixteen wide column section-title-container">
    <h2 class="section-title">{% t company_page.recommendations.title %}</h2>
  </div>

  <div class="equal width stackable row">
    <div id="p0" class="column company-recomendation-name-cell">
      <div class="title-cell"><h4>Sara Brandt</h4></div>
      <p>Väsbyhem</p>
    </div>
    <div id="p1" class="column company-recomendation-name-cell">
      <div class="title-cell center-border-title-cell"><h4>Johnny Warström, VD</h4></div>
      <p>Mentimeter</p>
    </div>
    <div id="p2" class="column company-recomendation-name-cell company-recomendation-name-cell-active">
      <div class="title-cell"><h4>Fredrik Skytt, VD</h4></div>
      <p>Utbudet</p>
    </div>
  </div>

  <div class="sixteen wide column">
    <div id="profile-image" class="profile-circle">
    </div>
  </div>

  <div id="company-recommendation-current-text" class="sixteen wide column">
  </div>

  <div id="company-recommendation-current-name" class="sixteen wide column section-footer">
      <p>Fredrik Skytt, VD, Utbudet</p>
      <div class="company-small-bottom-border"></div>
  </div>

</div>
