<div class="ui grid section--company-recommendation">
  <div class="sixteen wide column section-title-container">
    <h2 class="section-title">Rekommendation</h2>
  </div>

  <div class="equal width stackable row">
    <div class="column name-cell">
      <div class="title-cell"><h4>Sara Brandt</h4></div>
      <p>Västbyhem</p>
    </div>
    <div class="column name-cell">
      <div class="title-cell center-border-title-cell"><h4>Johnny Warström, VD</h4></div>
      <p>Mentimeter</p>
    </div>
    <div class="column name-cell name-cell-active">
      <div class="title-cell"><h4>Fredrik Skytt, VD</h4></div>
      <p>Utbudet</p>
    </div>
  </div>

  <div class="sixteen wide column">
    <div class="profile-circle fredrik-skytt">
    </div>
  </div>

  <div class="sixteen wide column">
    <p>För oss var det otroligt bra att anställa visa Just Arrived. Vi kontaktade Just Arrived på torsdagen och redan på måndagen hade vi en mycket duktig person som började på vårt kontor. Alla på kontoret tyckte det var fantastiskt bra att vi kunde hjälpa någon att komma in i sammhället.</p>
  </div>

  <div class="sixteen wide column section-footer">
      <p>Fredrik Skytt, VD, Utbudet</p>
      <div class="company-small-bottom-border"></div>
  </div>

</div>
