<section class="
  section--hero
  module
  module--padding
  module--white
  module--bg-cover
  module--bg-pink">
  <div class="table">
    <div class="table-cell">
      <div class="module-content">
        <h1>{% t top_banner_company.title %}</h1>
        <p>{% t top_banner_company.subtitle %}</p>

        <a href="#" class="cd-popup-trigger-signin border-btn border-btn--white-pink btn-large">
          {% t top_banner.signup_for_job %}
        </a>
      </div>
    </div>
  </div>
</section>
