<div class="section--top_banner_v2">

  <div class="section--top_banner_v2-form-wrapper">
    <h2>Skapa jobb och nå över 80 000 kandidater</h2>
    <p style="color: white;">
      Matcha med rätt medarbetare idag. Fyll i dina uppgifter så tar vi kontakt
    </p>
    <input style="width: 100%;" type="text" name="" placeholder="Kontorsassistent">
    <input style="width: 48%; display: inline-block; float: left;" type="text" name="" placeholder="Andreas König">
    <input style="width: 48%; display: inline-block; float: right;" type="text" name="" placeholder="Just Arrived">
    <a style="float: right;" class="primary-btn btn-large post-now-button">Post now</a>
  </div>

</div>

<div class="section--top_banner_v2_bottom_container">

  <div class="button-text-wrapper">
    <p class="mobile-hidden">Rätt medarbetare för era behov</p>
    <a class="primary-btn btn-large post-now-button">Get in touch</a>
  </div>

</div>
