<section class="
  section--hero
  module
  module--padding
  module--white
  module--bg-cover
  module--bg-charcoal">
  <div class="table">
    <div class="table-cell">
      <div class="module-content">
        <h1>{% t top_banner_company.title %}</h1>
        <p class="hero-text-wide hero-text-l">{% t top_banner_company.subtitle %}</p>
        <p class="hero-text-wide hero-text-l">{% t top_banner_company.subsubtitle %}</p>

        <a href="#company-howto" class="border-btn border-btn--white-pink btn-large">
          {% t top_banner.signup_for_job %}
        </a>
      </div>
    </div>
  </div>
</section>
