<div class="ui grid section--what-we-offer">

  <div class="sixteen wide column title-container">
    <h2 class="section-title">Vårt erbjudande</h2>
    <div class="company-small-bottom-border"></div>
  </div>

  <div class="sixteen wide column">
    <h3 class="section-subtitle">Integration</h3>
  </div>

  <div class="five column stackable equal width row what_we_offer_info_text">

    <div class="column">
      <h4>
        Vi är flexibla
      </h4>
      <p>
        Vi tillhandahåller rätt kandidat för rätt position och skräddarsyr våran tjänst efter era behov.
      </p>
    </div>

    <div class="column">
      <h4>
        Vi är snabba
      </h4>
      <p>
        Är det bråttom? Behöver du snabbt fylla en position? Vi kan tillhanda hålla rätt kandidat på 36 timmar.
      </p>
    </div>

    <div class="column">
      <h4>
        Det är enkelt
      </h4>
      <p>
        Vi tar hand om all administration och arbetsgivaransvar. Skatt, socialaavgifter och försärkingar tas om hand av oss. Vi skickar bara en faktura till er.
      </p>
    </div>

    <div class="column">
      <h4>
        Det är säkert
      </h4>
      <p>
        Vi vill att ni som bolag bara ska behöva tänka på era behov. Administration, lagar och regler tar vi hand om.
      </p>
    </div>

    <div class="column">
      <h4>
        Och bäst av allt
      </h4>
      <p>
        Du blir en del av lösningen för en hållbar integration.
      </p>
    </div>

  </div>

</div>
