<div class="ui grid section--what-we-offer">

  <div class="sixteen wide column title-container">
    <h2 class="section-title">{% t company_what_we_offer.title %}</h2>
    <div class="company-small-bottom-border"></div>
  </div>

  <div class="five column stackable equal width row what_we_offer_info_text">

    <div class="column">
      <h4>
        {% t company_what_we_offer.feature_list.flexibility.title %}
      </h4>
      <p>
        {% t company_what_we_offer.feature_list.flexibility.body %}
      </p>
    </div>

    <div class="column">
      <h4>
        {% t company_what_we_offer.feature_list.speed.title %}
      </h4>
      <p>
        {% t company_what_we_offer.feature_list.speed.body %}
      </p>
    </div>

    <div class="column">
      <h4>
        {% t company_what_we_offer.feature_list.simplicity.title %}
      </h4>
      <p>
        {% t company_what_we_offer.feature_list.simplicity.body %}
      </p>
    </div>

    <div class="column">
      <h4>
        {% t company_what_we_offer.feature_list.sustainability.title %}
      </h4>
      <p>
        {% t company_what_we_offer.feature_list.sustainability.body %}
      </p>
    </div>

    <div class="column">
      <h4>
        {% t company_what_we_offer.signoff.title %}
      </h4>
      <p>
        {% t company_what_we_offer.signoff.body %}
      </p>
    </div>

  </div>

</div>
