<section class="
    module
    module--padding
    module--txt-img
    module--white
    module--charcoal-bg">
  <div class="wrap">
    <div class="module-content module-content--right">
      <img src="{{ "/assets/images/inline/ja-model.png" | prepend: site.github.url }}">
    </div>
    <div class="module-content module-content--left">
      <h2 class="bordered bordered--white bordered--left">{% t company_what_we_offer.title %}</h2>
      <p>
        <strong>{% t company_what_we_offer.feature_list.flexibility.title %}</strong> <br>
      </p>
      <p>
        {% t company_what_we_offer.feature_list.flexibility.body %}
      </p>
      <p>
        <strong>{% t company_what_we_offer.feature_list.speed.title %}</strong> <br>
      </p>
      <p>
        {% t company_what_we_offer.feature_list.speed.body %}
      </p>
      <p>
        <strong>{% t company_what_we_offer.feature_list.simplicity.title %}</strong> <br>
      </p>
      <p>
        {% t company_what_we_offer.feature_list.simplicity.body %}
      </p>
      <p>
        <strong>{% t company_what_we_offer.feature_list.sustainability.title %}</strong> <br>
      </p>
      <p>
        {% t company_what_we_offer.feature_list.sustainability.body %}
      </p>
      <p>
        <strong>{% t company_what_we_offer.feature_list.prices.title %}</strong> <br>
      </p>
      <p>
        {% t company_what_we_offer.feature_list.prices.body %}
      </p>

      <p>
        <strong>{% t company_what_we_offer.signoff.title %}</strong> <br>
        {% t company_what_we_offer.signoff.body %}
      </p>
    </div>
  </div>
</section>
