<div class="ui grid">

  <div class="sixteen wide column" style="text-align:center;">
    <h2>Erbjudande</h2>
  </div>

  <div class="sixteen wide column" style="text-align:center;">
    <h3>Integration</h3>
  </div>

  <div class="five column stackable equal width row">

    <div class="column" style="text-align:center;">
      <h4>
        Vi är flexibla
      </h4>
      <p>
        Vi tillhandahåller Vi tillhandahåller Vi tillhandahåller Vi tillhandahåller Vi tillhandahåller
      </p>
    </div>

    <div class="column" style="text-align:center;">
      <h4>
        Vi är flexibla
      </h4>
      <p>
        Vi tillhandahåller Vi tillhandahåller Vi tillhandahåller Vi tillhandahåller Vi tillhandahåller
      </p>
    </div>

    <div class="column" style="text-align:center;">
      <h4>
        Vi är flexibla
      </h4>
      <p>
        Vi tillhandahåller Vi tillhandahåller Vi tillhandahåller Vi tillhandahåller Vi tillhandahåller
      </p>
    </div>

    <div class="column" style="text-align:center;">
      <h4>
        Vi är flexibla
      </h4>
      <p>
        Vi tillhandahåller Vi tillhandahåller Vi tillhandahåller Vi tillhandahåller Vi tillhandahåller
      </p>
    </div>

    <div class="column" style="text-align:center;">
      <h4>
        Vi är flexibla
      </h4>
      <p>
        Vi tillhandahåller Vi tillhandahåller Vi tillhandahåller Vi tillhandahåller Vi tillhandahåller
      </p>
    </div>

  </div>

</div>
