<section class="
  section--how-to
  module
  module--padding
  module--black
  module--gray-bg
  module--txt-c">
  <div class="wrap">
    <div class="module-content">
      <h2 class="bordered">{% t companies_why_us.title %}</h2>

      <div class="columns">
        <div class="column-1-4">
          <div class="icon icon--tick">
            <p>{% t companies_why_us.administration %}</p>
          </div>
        </div>
        <div class="column-1-4">
          <div class="icon icon--pen">
            <p>{% t companies_why_us.responsibility %}</p>
          </div>
        </div>
        <div class="column-1-4">
          <div class="icon icon--profile">
            <p>{% t companies_why_us.validation %}</p>
          </div>
        </div>
        <div class="column-1-4">
          <div class="icon icon--info">
            <p>{% t companies_why_us.service %}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
