<div style="display:inline-block;">
  {% include social/facebook_btn.html href=page.url %}
</div>
<div style="display:inline-block;float:right">
  {% include social/twitter_btn.html href=page.url %}
</div>

<hr style="margin: 30px 0;">

<div class="newsletter-form">
  <h3>{% t blog.footer.newsletter_header %}</h3>
  <p>
    {% t blog.footer.newsletter_body %}
  </p>
  <form action="https://justarrived.us13.list-manage.com/subscribe/post?u=ac005505ee4f55f35fc7bdc5d&amp;id=04495ff74a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
    <!-- <label for="mce-EMAIL">Subscribe to our mailing list</label> -->

    <div class="email-field">
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="{% t form.email %}" required>
    </div>

    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ac005505ee4f55f35fc7bdc5d_04495ff74a" tabindex="-1" value=""></div>

    <div class="submit-field">
      <input type="submit" value="{% t blog.footer.newsletter_subscribe %}" name="subscribe" id="mc-embedded-subscribe" class="primary-btn border-btn--pink section-button">
    </div>
  </form>
</div>
