<section class="
  section--hero
  section--hero-flat
  module
  module--padding
  module--white
  module--bg-cover
  module--bg-pink">
  <div class="table">
    <div class="table-cell">
      <div class="wrap">
        <div class="module-content">
          <h1>{% t tipsfabriken.top_banner.title %}</h1>
          <p>{% t tipsfabriken.top_banner.description.first %}</p>
          <p>{% t tipsfabriken.top_banner.description.second %}</p>
          <p>{% t tipsfabriken.top_banner.description.third %}</p>
          <p>{% t tipsfabriken.top_banner.description.forth %}</p>
        </div>
      </div>
    </div>
  </div>
</section>
