<div class="form-col">
  <label for="company_name">{% t form.company_name %} <span class="asterisk">*</span></label>
  <input type="text" value="" name="company_name" class="required" id="company_name" required>
</div>

<div class="form-col">
  <label for="company_org_number">{% t form.company_org_number %} <span class="asterisk">*</span></label>
  <input type="text" value="" name="company_org_number" class="required" id="company_org_number" required>
</div>

<div class="form-col form-col--full-width">
  <label for="address">{% t form.address %} <span class="asterisk">*</span></label>
  <input type="text" value="" name="address" class="required" id="address" required>
</div>

<div class="form-col form-col--full-width">
  <label>{% t form.company_logo_link %}</label>
  <input type="text" value="" name="company_logo_link" class="required" id="company_logo_link">
</div>
