<div class="form-col">
  <label for="company_name">{% t form.company_name %} <span class="asterisk">*</span></label>
  <input type="text" value="" name="company_name" class="required" id="company_name" required>
</div>

<div class="form-col">
  <label for="company_org_number">{% t form.company_org_number %} <span class="asterisk">*</span></label>
  <input type="text" value="" name="company_org_number" class="required" id="company_org_number" required>
</div>

<div class="form-col form-col--full-width">
  <label for="address">{% t form.address %} <span class="asterisk">*</span></label>
  <input type="text" value="" name="address" class="required" id="address" required>
</div>

<div class="form-col form-col--full-width">
  <label for="zip">{% t form.zip %} <span class="asterisk">*</span></label>
  <input type="text" value="" name="zip" class="required" id="zip" required>
</div>

<div class="form-col form-col--full-width">
  <label>{% t form.company_logo_link %}</label>
  <input type="text" value="" name="company_logo_link" class="required" id="company_logo_link">
</div>

<div class="form-col form-col--full-width">
  <label for="frilans_finans_terms">
    <input type="checkbox" name="frilans_finans_terms" id="frilans_finans_terms" value="Accepted" required>
    {% t form.company_fields.accept_frilans_finans_start %}
    <a href="https://www.frilansfinans.se/just-arrived-consultancy-agreement/" target="_blank" rel="noopener noreferrer" >
      {% t form.company_fields.accept_frilans_finans_end %}
    </a>
  </label>
  <br><br>
</div>
