<div class="form-col">
  <label>{% t form.job_hours %} <span class="asterisk">*</span></label>
  <input type="number" value="" placeholder="1...&#x221e;" name="job_hours" class="required" id="job_hours" min="1" required>
</div>

<div class="form-col">
  <label>{% t form.job_no_of_people %} <span class="asterisk">*</span></label>
  <input type="number" value="" placeholder="" name="job_no_of_people" class="required" id="job_no_of_people" min="1" required>
</div>

<div class="form-col">
  <label>{% t form.job_start_date %} <span class="asterisk">*</span></label>
  <input type="text" value="" placeholder="YYYY-MM-DD" name="job_start_date" class="required" id="job_start_date" required>
</div>

<div class="form-col">
  <label>{% t form.job_end_date %} <span class="asterisk">*</span></label>
  <input type="text" value="" placeholder="YYYY-MM-DD" name="job_end_date" class="required" id="job_end_date" required>
</div>

<div class="form-col form-col--full-width">
  <label>{% t form.job_description %} <span class="asterisk">*</span></label>
  <textarea name="job_description" rows="8" cols="40" class="required" id="job_description" required></textarea>
</div>
