<div class="form-col form-col--full-width">
  <label>{% t form.languages %} <span class="asterisk">*</span></label>
  <input type="text" value="" placeholder="{% t form.placeholder.languages %}" name="languages" class="required" id="languages" required>
</div>

<div class="form-col form-col--full-width">
  <label>{% t form.competencies %} <span class="asterisk">*</span></label>
  <input type="text" value="" placeholder="{% t form.placeholder.competencies %}" name="competencies" class="required" id="competencies">
</div>
