---
title: Blog
layout: post
description: Our blog
pagination:
  enabled: true
  sort_reverse: true
  collection: posts
  per_page: 10
---

<div class="blog-page">

  <div class="blog-title-container">
    <img class="blog-icon" src="/assets/images/blog/blog-icon.png">
    <h1>Just Arrived - Blog</h1>
    <div class="blog-small-bottom-border"></div>
  </div>

  <header class="post-header">
    <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <div class="post-excerpt-list">

    {% for post in paginator.posts %}
      <article class="post-content" lang="{{ post.locale }}">
        {% if post.list_cover %}
          <a href="{{ post.url | prepend: site.baseurl }}">
            <div
              class="post-list-cover"
              style="background-image: url({{ post.list_cover | prepend: site.github.url }});{% if post.list_cover_height %}height:{{ post.list_cover_height }};{% endif %}">

              </div>
          </a>
        {% endif %}

        <h2>
           <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
        </h2>
        <p class="blog-post-date-text">{{ post.date | date: "%b %-d, %Y" }}{% if post.locale %} • {{ post.locale | join: ', ' }}{% endif %}</p>
        <div class="blog-post-content-container">
          {{ post.content | strip_html | truncate: 300 }}<br/>
        </div>
        <a class="primary-btn border-btn--pink read-more-btn" href="{{ post.url | prepend: site.baseurl }}">{% t blog.excerpt_separator %}</a>

        {% if forloop.rindex > 1 %}
          <hr>
        {% endif %}

      </article>
    {% endfor %}

  </div>

  <!-- Pagination links -->
  <div class="post-pagination">

    {% for p in (1..paginator.total_pages) %}

      {% if p <= 1 %}
        <a href="{{ '/blog' | prepend: site.url }}" class="blog-pagination-link">

          {% if p == paginator.page %}
            <div class="blog-pagination-button blog-pagination-button-active">
              <p class="pagination-button-text pagination-button-text-active">{{ p }}</p>
            </div>
          {% else %}
            <div class="blog-pagination-button">
              <p class="pagination-button-text">{{ p }}</p>
            </div>
          {% endif %}

        </a>
      {% else %}
        <a href="{{ p | prepend: '/blog/page' | prepend: site.url }}" class="blog-pagination-link">

          {% if p == paginator.page %}
            <div class="blog-pagination-button blog-pagination-button-active">
              <p class="pagination-button-text pagination-button-text-active">{{ p }}</p>
            </div>
          {% else %}
            <div class="blog-pagination-button">
              <p class="pagination-button-text">{{ p }}</p>
            </div>
          {% endif %}

        </a>
      {% endif %}

    {% endfor %}
  </div>

  <div class="blog-separator"></div>

  <div class="blog-categories-container">
    <h2>{% t blog.post_by_tag_title %}</h2>
    <div class="blog-small-bottom-border"></div>
    <ul class="blog-categories-links blog-categories-medium">
      {% for tag in site.tags limit: 20 %}
        <li class="blog-categories-item"><a class="blog-categories-title" name="{{ tag | first }}"><strong>{{ tag | first }}</strong></a>
          <ul>
          {% for posts in tag %}
            {% for post in posts limit: 10 %}
              <li><a href="{{ post.url }}" class="blog-tag-link">{{ post.title | truncate: 70 }}</a></li>
            {% endfor %}
          {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>

</div>
