---
layout: default
---

<div class="home">
  <div id="content" class="xmas">

    {% include xmas/xmas_banner.html %}

    <section class="intro-section text-left">
      <p class="text"><strong>{% t xmas.company_section.body %}</strong></p>
      <p class="text">{% t xmas.company_section.body1 %}</p>
      <p class="text">{% t xmas.company_section.body2 %}</p>
      <p class="text">{% t xmas.company_section.body3 %}</p>

      <div class="how-it-works text-left">
        <h2 class="primary-color text-center">{% t xmas.how_it_works_section.title %}</h2>
        <p class="text">{% t xmas.how_it_works_section.body %}</p>

        <div clas="how-it-works-steps">
          <p class="text">
            <strong><a href="#xmas-register">1. {% t xmas.how_it_works_section.first.title %}</strong></a> - {% t xmas.how_it_works_section.first.body %} <br><br>
            <strong>2. {% t xmas.how_it_works_section.second.title %}</strong> - {% t xmas.how_it_works_section.second.body %} <br><br>
            <strong>3. {% t xmas.how_it_works_section.third.title %}</strong> - {% t xmas.how_it_works_section.third.body %}
          </p>
        </div>
      </div>
    </section>

    <section class="enfotin-images">
      <h2 class="secondary-color">#enfotin</h2>
      <div class="pics">
        <img class="hashtag-pic" src="/assets/images/xmas/enfotin/abdullah-miri.jpg" alt="Abdullah Miri" />
        <img class="hashtag-pic" src="/assets/images/xmas/enfotin/carolin-he.jpg" alt="Carolin He" />
        <img class="hashtag-pic" src="/assets/images/xmas/enfotin/mans-moller.jpg" alt="Måns Möller" />
        <img class="hashtag-pic" src="/assets/images/xmas/enfotin/michel-issa.jpg" alt="Michel Issa" />
        <img class="hashtag-pic" src="/assets/images/xmas/enfotin/ozz-nujen.jpg" alt="Özz Nujen" />
        <img class="hashtag-pic" src="/assets/images/xmas/enfotin/louise-samet.jpg" alt="Louise Samet" />
        <img class="hashtag-pic" src="/assets/images/xmas/enfotin/niklas-adalberth.jpg" alt="Niklas Adalberth" />
        <img class="hashtag-pic" src="/assets/images/xmas/enfotin/kina-zeidler.jpg" alt="Kina Zeidler" />
        <!-- <img class="hashtag-pic" src="/assets/images/xmas/enfotin/karin-heri.jpg" alt="Karin Heri" />
        <img class="hashtag-pic" src="/assets/images/xmas/enfotin/johan-ramsten.jpg" alt="Johan Ramsten" />
        <img class="hashtag-pic" src="/assets/images/xmas/enfotin/feffe-andersson.jpg" alt="Feffe Andersson" />
        <img class="hashtag-pic" src="/assets/images/xmas/enfotin/emma-rosman.jpg" alt="Emma Rosman" />
        <img class="hashtag-pic" src="/assets/images/xmas/enfotin/daniel-anundi.jpg" alt="Daniel Anundi" />
        <img class="hashtag-pic" src="/assets/images/xmas/enfotin/subhi-kahwaji.jpg" alt="Subhi Kahwaji" /> -->
      </div>
    </section>

    <section id="supporters" class="supporters">
      <h2 class="secondary-color">{% t xmas.latest_supporters.title %}</h2>
      <ul class="js-supporter-list">
        <li><span class="primary-color supporter-name">Ida Östensson, Ordförande, Make Equal</span></li>
        <li><span class="primary-color supporter-name">Johannes Schildt, CEO &amp; Co-founder, KRY</span></li>
        <li><span class="primary-color supporter-name">Rasmus Thomsen, VD, Adviser försäljning ab</span></li>
        <li><span class="primary-color supporter-name">Amir Mofidi, VD, Glamma.se</span></li>
        <li><span class="primary-color supporter-name">Karl Gip, Special Projects, Avito AB</span></li>
        <li><span class="primary-color supporter-name">Stephanie Linder, Employer Branding Manager, Klarna</span></li>
        <li><span class="primary-color supporter-name">Ati Serpoushan, Försäljningschef - Europa, Livearena TV</span></li>
        <li><span class="primary-color supporter-name">Stefan Lundell, Innehållschef, Breakit</span></li>
        <li><span class="primary-color supporter-name">Jonas Barck, CMO, Universum</span></li>
        <li><span class="primary-color supporter-name">Johan Ramsten, VD, Hallvarsson &amp; Halvarsson</span></li>
        <li><span class="primary-color supporter-name">Erik Hammarström, Grundare, Antrop</span></li>
        <li><span class="primary-color supporter-name">Johnny Warström, VD &amp; Grundare, Mentimeter</span></li>
        <li><span class="primary-color supporter-name">Jan Elofsson, VD &amp; Grundare, @wrk</span></li>
        <li><span class="primary-color supporter-name">Anna Omstedt Lindgren, VD &amp; Grundare, MedUniverse</span></li>
        <li><span class="primary-color supporter-name">Ishtar Touliat, VD &amp; Grundare, Women in Business</span></li>
      </ul>
    </section>

    {% include xmas/register_section.html %}

    <!-- OLD COUNTER -->
    <!-- <section class="counter">
      <div class="counter-diamond">
        <img class="counter-diamond-image" src="/assets/images/xmas/counter_blue.png" alt="counter" />
        <span class="counter-number js-current-count">0</span>
      </div>
      <p class="counter-summary">
        <span class="primary-color js-current-count">0</span>/150 {% t xmas.counter.registrered %}
      </p>
    </section> -->
    <section class="counter">
      <div class="counter-bg-base">
        <div class="counter-bg-overlay"></div>
        <div class="counter-bg-ring">
          <p class="counter-number-large js-current-count">0</p>
        </div>
      </div>
      <p class="counter-summary">
        <span class="primary-color js-current-count">0</span>/150 {% t xmas.counter.registrered %}
      </p>
    </section>

    <section class="about-section text-left">
      <h2 class="primary-color text-center">{% t xmas.about.title %}</h1>
      <p class="text">{% t xmas.about.body %}</p>
      <p class="text">{% t xmas.about.learn_more %}</p>
    </section>
  </div>
</div>

{% include xmas/xmas_salesforce_popup.html %}
