---
layout: default
---

<div class="home">
  <div id="content" class="xmas">

    {% include xmas/xmas_banner.html %}

    <section class="intro-section text-left">
      <p class="text"><strong>{% t xmas.company_section.body %}</strong></p>
      <p class="text">{% t xmas.company_section.body1 %}</p>
      <p class="text">{% t xmas.company_section.body2 %}</p>
      <p class="text">{% t xmas.company_section.body3 %}</p>

      <div class="how-it-works text-left">
        <h2 class="primary-color text-center">{% t xmas.how_it_works_section.title %}</h2>
        <div clas="how-it-works-steps">
          <p class="text">
            <strong style="font-size: 24px; color: black;">{% t xmas.how_it_works_section.company_subtitle %}</strong><br><br>
            <strong><a href="#xmas-register">1. {% t xmas.how_it_works_section.first.title %}</strong></a> - {% t xmas.how_it_works_section.first.body %} <br><br>
            <strong>2. {% t xmas.how_it_works_section.second.title %}</strong> - {% t xmas.how_it_works_section.second.body %} <br><br>
            <strong>3. {% t xmas.how_it_works_section.third.title %}</strong> - {% t xmas.how_it_works_section.third.body %}
          </p>
          <p class="text">
            <strong style="font-size: 24px; color: black;">{% t xmas.how_it_works_section.private_subtitle %}</strong><br><br>
            <strong>1. {% t xmas.how_it_works_section.newcomer_first %}</strong><br><br>
            <strong>2. {% t xmas.how_it_works_section.newcomer_second %}</strong> <br><br>
            <strong>3. {% t xmas.how_it_works_section.newcomer_third %}</strong>
          </p>
        </div>
      </div>
    </section>

    <section class="enfotin-images">
      <h2 class="secondary-color">#enfotin</h2>
      <div class="pics">
        <img class="hashtag-pic" src="/assets/images/xmas/enfotin/abdullah-miri.jpg" alt="Abdullah Miri" />
        <img class="hashtag-pic" src="/assets/images/xmas/enfotin/carolin-he.jpg" alt="Carolin He" />
        <img class="hashtag-pic" src="/assets/images/xmas/enfotin/mans-moller.jpg" alt="Måns Möller" />
        <img class="hashtag-pic" src="/assets/images/xmas/enfotin/michel-issa.jpg" alt="Michel Issa" />
        <img class="hashtag-pic" src="/assets/images/xmas/enfotin/ozz-nujen.jpg" alt="Özz Nujen" />
        <img class="hashtag-pic" src="/assets/images/xmas/enfotin/louise-samet.jpg" alt="Louise Samet" />
        <img class="hashtag-pic" src="/assets/images/xmas/enfotin/niklas-adalberth.jpg" alt="Niklas Adalberth" />
        <img class="hashtag-pic" src="/assets/images/xmas/enfotin/kina-zeidler.jpg" alt="Kina Zeidler" />
        <!-- <img class="hashtag-pic" src="/assets/images/xmas/enfotin/karin-heri.jpg" alt="Karin Heri" />
        <img class="hashtag-pic" src="/assets/images/xmas/enfotin/johan-ramsten.jpg" alt="Johan Ramsten" />
        <img class="hashtag-pic" src="/assets/images/xmas/enfotin/feffe-andersson.jpg" alt="Feffe Andersson" />
        <img class="hashtag-pic" src="/assets/images/xmas/enfotin/emma-rosman.jpg" alt="Emma Rosman" />
        <img class="hashtag-pic" src="/assets/images/xmas/enfotin/daniel-anundi.jpg" alt="Daniel Anundi" />
        <img class="hashtag-pic" src="/assets/images/xmas/enfotin/subhi-kahwaji.jpg" alt="Subhi Kahwaji" /> -->
      </div>
    </section>

    <section id="supporters" class="supporters">
      <h2 class="secondary-color">{% t xmas.latest_supporters.title %}</h2>
      <ul class="js-supporter-list supporter-list">
        <li><span class="primary-color supporter-name">Rickard Lyko, Founder, Lyko Group AB</span></li>
        <li><span class="primary-color supporter-name">My Klint, CEO &amp; Founder, My Virtual Reality AB</span></li>
        <li><span class="primary-color supporter-name">Richard Dearn, IT Architect, Eins</span></li>
        <li><span class="primary-color supporter-name">DINO SOLDIN, Fotograf , Dino Soldin Photo AB</span></li>
        <li><span class="primary-color supporter-name">Robert Axelsson, CEO &amp; Founder, 19@19 netWORKs</span></li>
        <li><span class="primary-color supporter-name">Ayda Moayedzadeh, Integrationsstrateg, Svenska kyrkan - Stockholms stift</span></li>
        <li><span class="primary-color supporter-name">Stina Linge, Fixare, Chalmers Ventures</span></li>
        <li><span class="primary-color supporter-name">Susanne Fuglsang, CEO, PROMAG</span></li>
        <li><span class="primary-color supporter-name">Birgitta Edberg, CMO, Privasee</span></li>
        <li><span class="primary-color supporter-name">Kenneth Odwar, CEO &amp; Founder, Young Endeavors</span></li>
        <li><span class="primary-color supporter-name">Mark Nilsson, Vd, Stenskivor Sverige AB</span></li>
        <li><span class="primary-color supporter-name">Kristina Åberg, CEO, Atmo Media Network AB</span></li>
        <li><span class="primary-color supporter-name">Crisolita Figueiredo, Husfru, Quality Hotel Grand Borås</span></li>
        <li><span class="primary-color supporter-name">Viktor Peterson, CEO, CLVR Works</span></li>
        <li><span class="primary-color supporter-name">jasmina maric, Assistant Professor, University Borås</span></li>
        <li><span class="primary-color supporter-name">Göran Burenstam Linder, VD, Sandå Sverige AB</span></li>
        <li><span class="primary-color supporter-name">Karin Nilsdotter, CEO &amp; Founder, Spaceport Sweden</span></li>
        <li><span class="primary-color supporter-name">Patrik Arnesson, CEO &amp; Founder, Fotball Addicts</span></li>
        <li><span class="primary-color supporter-name">Ahmad Armanazi , Marketing manager , Volvo</span></li>
        <li><span class="primary-color supporter-name">Lucas Wasniewski, CEO, Flowlife</span></li>
        <li><span class="primary-color supporter-name">Michael Toivio, Ceo, Toivio Innovation AB</span></li>
        <li><span class="primary-color supporter-name">Victoria Ahlén, VD, Vilostrada/Digistrada Global SL</span></li>
        <li><span class="primary-color supporter-name">Prisca Tachida Billgert , VD, Priscas Travel</span></li>
        <li><span class="primary-color supporter-name">Ulf Stenerhag, Managing Director, Thurne Teknik AB</span></li>
        <li><span class="primary-color supporter-name">Sara Sterner, CEO, Planeto</span></li>
        <li><span class="primary-color supporter-name">Finn Wikander, Product Management Director, Clear Channel</span></li>
        <li><span class="primary-color supporter-name">Günther Mårder, Vd, Företagarna</span></li>
        <li><span class="primary-color supporter-name">Sara Nilsson, Hållbarhetsansvarig, Almi Företagspartner Uppsala AB</span></li>
        <li><span class="primary-color supporter-name">Karsten Deppert, Ägare, Mindpark</span></li>
        <li><span class="primary-color supporter-name">Catrine Sageryd, VD, Mekina AB</span></li>
        <li><span class="primary-color supporter-name">Cecilia Snitth, Project Manager, Swedbank IT</span></li>
        <li><span class="primary-color supporter-name">Axel Steinert, Structural Engineer, WSP Sverige AB</span></li>
        <li><span class="primary-color supporter-name">Malin Ljungberg, Marknadskoordinator, Semantix Språkcentrum AB</span></li>
        <li><span class="primary-color supporter-name">Magnus Hedberg , Vd, Jusek</span></li>
        <li><span class="primary-color supporter-name">Charlotte Bergqvist, Founder &amp; Managing Director, Trinda Energy</span></li>
        <li><span class="primary-color supporter-name">Christian Landgren, VD, Iteam</span></li>
        <li><span class="primary-color supporter-name">Therese Kanterdickson, Icahandlare, Ica Nära Effkå</span></li>
        <li><span class="primary-color supporter-name">Ludvig Granberg, VD, Heymo</span></li>
        <li><span class="primary-color supporter-name">Stina Andersson, Co-Founder &amp; CEO, Stinaa.J</span></li>
        <li><span class="primary-color supporter-name">Aria Zargarian, Co-Founder, Naturligt Rent</span></li>
        <li><span class="primary-color supporter-name">Ludvig Granberg, VD, Hemsida24</span></li>
        <li><span class="primary-color supporter-name">Manel Rodrick, Owner, Yammo</span></li>
        <li><span class="primary-color supporter-name">Stefan Jutterdal, Förbundsordförande, Fysioterapeuterna</span></li>
        <li><span class="primary-color supporter-name">Petter Nylander, CEO, Universum</span></li>
        <li><span class="primary-color supporter-name">Jan Liljero, VD, Executives Global Network AB</span></li>
        <li><span class="primary-color supporter-name">Marco Forzati, CEO, Time Village</span></li>
        <li><span class="primary-color supporter-name">Göran Arrius, Ordförande, Saco</span></li>
        <li><span class="primary-color supporter-name">Oskar Wiklund, Medgrundare, Conneqtify</span></li>
        <li><span class="primary-color supporter-name">Magnus Hasselteg, CEO, Viva Media</span></li>
        <li><span class="primary-color supporter-name">Marlène Sellebråten, CEO &amp; Founder, Close To Market Analytics</span></li>
        <li><span class="primary-color supporter-name">Jonathan Kimber, CEO &amp; Founder, Klassiska Prestationer Sverige AB</span></li>
        <li><span class="primary-color supporter-name">Henrik Vikström, Founder &amp; CEO, Strategisk SEO AB</span></li>
        <li><span class="primary-color supporter-name">Magnus Svensson, Head of Business Development, Brinvest</span></li>
        <li><span class="primary-color supporter-name">Anton Höij, VD, Mealicious AB</span></li>
        <li><span class="primary-color supporter-name">Madelene Nilsson, COO, Wrapp</span></li>
        <li><span class="primary-color supporter-name">Madelene Kornfehl, Partner, Cloudberry</span></li>
        <li><span class="primary-color supporter-name">Alexander Riddermark, VD, Riddermarks bil AB</span></li>
        <li><span class="primary-color supporter-name">Shahbaz Hussain, Manager, Inovia AB</span></li>
        <li><span class="primary-color supporter-name">Christoffer Wallin, Founder &amp; CEO, Pindify</span></li>
        <li><span class="primary-color supporter-name">Johan Bendz, CMO, iZettle</span></li>
        <li><span class="primary-color supporter-name">John Eskilsson, CEO &amp; Founder, SignMax AB</span></li>
        <li><span class="primary-color supporter-name">Angeles Bermudez, Verksamhetsutvecklare, Migrationsverket</span></li>
        <li><span class="primary-color supporter-name">Malin Cronqvist, VD &amp; Grundare, Help to Help</span></li>
        <li><span class="primary-color supporter-name">Martin Janson, VD, S Tech AB</span></li>
        <li><span class="primary-color supporter-name">Niclas Jarhäll, CEO, International Engineering Supply AB</span></li>
        <li><span class="primary-color supporter-name">Mathias Söderqvist, VD, HomeCall</span></li>
        <li><span class="primary-color supporter-name">Fredrik Hagenius, Medgrundare, Campusbokhandeln &amp; YEoS</span></li>
        <li><span class="primary-color supporter-name">Mathias Härenstam, Chief Business Development Officer, Bravura</span></li>
        <li><span class="primary-color supporter-name">Sofie Månberg, VD &amp; Grundare, TETRIS Communications</span></li>
        <li><span class="primary-color supporter-name">Alexander Brännkärr, Grundare, Indivator</span></li>
        <li><span class="primary-color supporter-name">Niclas Jarhäll, VD, International Engineering Supply AB</span></li>
        <li><span class="primary-color supporter-name">Eric Mannheimer, CEO, Aliby Consulting AB</span></li>
        <li><span class="primary-color supporter-name">Jonatan Hedin, Analyschef, Universal Avenue</span></li>
        <li><span class="primary-color supporter-name">Emelie Demerud, VD, Axakon</span></li>
        <li><span class="primary-color supporter-name">Karl Kwarnmark, Global Explorer, Employer Branding Academy</span></li>
        <li><span class="primary-color supporter-name">Martin Borgs, Innovationschef, Miltton Labs</span></li>
        <li><span class="primary-color supporter-name">Pontus Gustafsson, Co-Founder &amp; Deputy CEO, Beleco</span></li>
        <li><span class="primary-color supporter-name">Henrik Feldt, CEO &amp; Founder, Qvitoo</span></li>
        <li><span class="primary-color supporter-name">David Carlsson, Brand Ambassador, Universal Avenue</span></li>
        <li><span class="primary-color supporter-name">Martin Tall, CEO &amp; Founder, Selfiejobs</span></li>
        <li><span class="primary-color supporter-name">Love Sahlin, VD &amp; Medgrundare, WTMG</span></li>
        <li><span class="primary-color supporter-name">Mikael Lagerström, CEO &amp; Founder, Sweden DesignLab</span></li>
        <li><span class="primary-color supporter-name">Christer Svensson, VD, Christer Svensson i Uppsala AB</span></li>
        <li><span class="primary-color supporter-name">Nils Nordström, Business Developer, FundedByMe</span></li>
        <li><span class="primary-color supporter-name">Madeleine Jonsson, CFO &amp; Konsultchef, Mindcamp</span></li>
        <li><span class="primary-color supporter-name">Omid Ghanbari, CEO &amp; Co-Founder, Matspar.se</span></li>
        <li><span class="primary-color supporter-name">Gustav Borgefalk, Founder/CBDO, Sqore</span></li>
        <li><span class="primary-color supporter-name">Mikael Blix, VD &amp; Medgrundare, Laget.se</span></li>
        <li><span class="primary-color supporter-name">Therese Gedda, VD &amp; Grundare, 30minMBA</span></li>
        <li><span class="primary-color supporter-name">Eric Langenskiöld, Managing Partner, Stormfors</span></li>
        <li><span class="primary-color supporter-name">Filip Lundin, VD, Sopköket</span></li>
        <li><span class="primary-color supporter-name">Josefine Granding Larsson, Byråchef , Rebel &amp; Bird</span></li>
        <li><span class="primary-color supporter-name">Andreas Sjöstedt, Founder, Byggler</span></li>
        <li><span class="primary-color supporter-name">Mattias Jansson, Vd, BBM I Uppsala AB</span></li>
        <li><span class="primary-color supporter-name">Maria Svensson Wiklander, VD, Noc webbyrå AB</span></li>
        <li><span class="primary-color supporter-name">Ida Östensson, Ordförande, Make Equal</span></li>
        <li><span class="primary-color supporter-name">Johannes Schildt, CEO &amp; Co-founder, KRY</span></li>
        <li><span class="primary-color supporter-name">Rasmus Thomsen, VD, Adviser försäljning ab</span></li>
        <li><span class="primary-color supporter-name">Amir Mofidi, VD, Glamma.se</span></li>
        <li><span class="primary-color supporter-name">Karl Gip, Special Projects, Avito AB</span></li>
        <li><span class="primary-color supporter-name">Stephanie Linder, Employer Branding Manager, Klarna</span></li>
        <li><span class="primary-color supporter-name">Ati Serpoushan, Försäljningschef - Europa, Livearena TV</span></li>
        <li><span class="primary-color supporter-name">Stefan Lundell, Innehållschef, Breakit</span></li>
        <li><span class="primary-color supporter-name">Jonas Barck, CMO, Universum</span></li>
        <li><span class="primary-color supporter-name">Johan Ramsten, VD, Hallvarsson &amp; Halvarsson</span></li>
        <li><span class="primary-color supporter-name">Erik Hammarström, Grundare, Antrop</span></li>
        <li><span class="primary-color supporter-name">Johnny Warström, VD &amp; Grundare, Mentimeter</span></li>
        <li><span class="primary-color supporter-name">Jan Elofsson, VD &amp; Grundare, @wrk</span></li>
        <li><span class="primary-color supporter-name">Anna Omstedt Lindgren, VD &amp; Grundare, MedUniverse</span></li>
        <li><span class="primary-color supporter-name">Ishtar Touliat, VD &amp; Grundare, Women in Business</span></li>
      </ul>
    </section>

    {% include xmas/register_section.html %}

    <section id="xmas-signups" class="progress-widget"></section>

    <section class="about-section text-left">
      <h2 class="primary-color text-center">{% t xmas.about.title %}</h1>
      <p class="text">{% t xmas.about.body %}</p>
      <p class="text">{% t xmas.about.learn_more %}</p>
      <p class="text">
        <a href="/blog/2016/12/09/idag-lanserar-vi-decemberutmaningen/">{% t xmas.about.blogpost %}</a>
      </p>
    </section>
  </div>
</div>

{% include xmas/xmas_salesforce_popup.html %}
