<section class="
  section--say-hej
  module
  module--txt-c
  module--padding
  module--white
  module--black-bg">
  <div class="wrap">
    <div class="module-content">
      <h2 class="bordered bordered--secondary bordered--centered">{% t arriver_contact_us.title %}</h2>
      <h4>
        <a href="/faq/#arriver">{% t arriver_contact_us.subtitle %}</a>
      </h4>

      <div class="columns columns--inline">
        <div>
          <img class="profile-pic" src="{{ "/assets/images/profile-pictures/anna_hornmark.jpg" | prepend: site.github.url }}">
          <p>
            <strong>Anna Hörnmark</strong>
            <br> Operations Manager
            <br>
            <a class="txt-link" href="mailto:anna.hornmark@justarrived.se">anna.hornmark@justarrived.se</a>
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
