<section class="
  module-arriver-howto
  module
  module--white">

  <div class="module-content">
    <div class="columns">
      <div class="column-1-2 column--padding column-secondary">
        <div class="js-match-height">
          <h2 class="module--txt-c">{% t arriver_howto.apply.title %}</h2>

          <div class="module--checklist module-content">
            <ul class="checklist">
              <li class="incomplete">{% t arriver_howto.apply.first %}</li>
              <li class="incomplete">{% t arriver_howto.apply.second %}</li>
              <li class="incomplete">{% t arriver_howto.apply.third %}</li>
              <li class="incomplete">{% t arriver_howto.apply.forth %}</li>
            </ul>
          </div>
        </div>

        <p class="module--txt-c">
          <a href="#" class="cd-popup-trigger-signin border-btn border-btn--white-pink btn-large">
            {% t arriver_howto.apply.cta %}
          </a>
        </p>
      </div>

      <div class="column-1-2 column--padding column-charcoal">
        <div class="js-match-height">
          <h2 class="module--txt-c">{% t arriver_howto.platform.title %}</h2>

          <div class="module--checklist module-content">
            <ul class="checklist">
              <li class="incomplete">{% t arriver_howto.platform.first %}</li>
              <li class="incomplete">{% t arriver_howto.platform.second %}</li>
              <li class="incomplete">{% t arriver_howto.platform.third %}</li>
            </ul>
          </div>

        </div>

        <p class="module--txt-c">
          <a href="{{ site.app_signin_link }}" class="border-btn border-btn--white-pink btn-large">
            {% t arriver_howto.platform.cta %}
          </a>
        </p>
      </div>
    </div>

  </div>

</section>
