<div class="ui middle equal width aligned padded stackable grid">
  <div class="row mobile-column-reverse">
    <div class="pink column">
      <div class="marketing-content">
        <h1 class="title">{% t section.central_station_event.title %}</h1>
        <p class="body">{% t section.central_station_event.body %}</p>

        <a href="http://go.upsales.com/wf/click?upn=CKE-2B7OzPSLpUlPPXfX584C6I9n0e2mr4btgihP1ziYov1IGWLXFp1QDXLqbm5T0UXSZ1Dy4myiED2N8wcSXFB7bF3kjLGIw7-2B3oIjd7ZFpzlX8NCBkhUQtCBdu-2BXX60Kfyv14eqBBxRG4f0BLhurWw-3D-3D_EewvicOlyuKQdTY-2FN1EhW-2FCfRZm1GLPWXktaaYLEOhgeKmG8cKDyKY8RyEVH-2FrowCpI76S3t6nSicf1oNHtHdD1KWpHzpXiwD9C9nvKrRquH1WPYMHLIDwLuryf0FyQf1MshbmnHNR4p7GJeLy4PN4JMV5AjIgpjwlHCQN-2BZmVkfyv1AVrCz2NeoSUaZOf9emlC-2FDq1A0J9xXn6ELo0TsW2Vg3kfC-2BZoHfjKX-2Bx2J3W6Uy83-2F9FKYWc4tiEQwy-2BAV-2B0irLnlJIdqPNpr49WWNJZ8eNbb5HQtazrrGxgZ3GI-3D" class="white-btn section-button">
          {% t nav.read_more %}
        </a>
      </div>
    </div>
    <div class="black column marketing-background centralen-event"></div>
  </div>
</div>
