<div class="ui middle equal width aligned padded stackable grid">
  <div class="row mobile-column-reverse">
    <div class="pink column">
      <div class="marketing-content">
        <h1 class="title">{% t section.central_station_event.title %}</h1>
        <p class="body">{% t section.central_station_event.body %}</p>

        <a href="#" class="white-btn section-button" style="visibility: hidden">
          {% t nav.read_more %}
        </a>
      </div>
    </div>
    <div class="black column marketing-background man-smiling-looking-slightly-right"></div>
  </div>
</div>
