<div class="ui middle equal width aligned padded centered stackable grid">
  <div class="white three column">
    <div class="marketing-content">
      <h1 class="title">{% t section.three_pitch.simple.title %}</h1>
      <p class="body">
        {% t section.three_pitch.simple.item0 %}<br>
        {% t section.three_pitch.simple.item1 %}<br>
        {% t section.three_pitch.simple.item2 %}
      </p>
    </div>
  </div>
  <div class="white three column">
    <div class="marketing-content">
      <h1 class="title">{% t section.three_pitch.safe.title %}</h1>
      <p class="body">
        {% t section.three_pitch.safe.item0 %}<br>
        {% t section.three_pitch.safe.item1 %}
      </p>
    </div>
  </div>
  <div class="white three column">
    <div class="marketing-content">
      <h1 class="title">{% t section.three_pitch.sustainable.title %}</h1>
      <p class="body">
        {% t section.three_pitch.sustainable.item0 %}<br>
        {% t section.three_pitch.sustainable.item1 %}<br>
        {% t section.three_pitch.sustainable.item2 %}
      </p>
    </div>
  </div>
</div>
