<div class="ui middle equal width aligned padded stackable grid">
  <div class="row">
    <div class="pink column marketing-background man-smiling-looking-slightly-right"></div>
    <div class="pink column">
      <div class="marketing-content">
        <h1 class="title">{% t section.consultant_at_just_arrived.title %}</h1>
        <p class="body">{% t section.consultant_at_just_arrived.body %}</p>

        <a href="{{site.app_guide_link}}?&utm_source={{site.utm.source}}&utm_medium={{site.utm.medium}}" class="white-btn section-button">
          {% t section.consultant_at_just_arrived.read_more_cta %}
        </a>
      </div>
    </div>
  </div>
</div>
