<div class="ui middle equal width aligned padded stackable grid">
  <div class="row">
    <div class="pink column marketing-background woman-working-on-computer">
      <div class="marketing-content">
        <h1 class="jumbotron-icon">@</h1>
      </div>
    </div>
    <div class="pink column">
      <div class="marketing-content">
        <h1 class="title">{% t section.create_job_subscription.title %}</h1>
        <p class="body">{% t section.create_job_subscription.body %}</p>

        <a href="{{site.app_subscriptions_link}}?&utm_source={{site.utm.source}}&utm_medium={{site.utm.medium}}" class="white-btn section-button">
          {% t section.create_job_subscription.create_cta %}
        </a>
      </div>
    </div>
  </div>
</div>
