<div class="ui middle equal width aligned padded stackable grid">
  <div class="row">
    <div class="pink column marketing-background smiling-man-looking-into-camera"></div>
    <div class="pink column">
      <div class="marketing-content">
        <h1 class="title">{% t section.create_profile.title %}</h1>
        <p class="body">{% t section.create_profile.body %}</p>

        <a href="{{site.app_register_link}}?&utm_source={{site.utm.source}}&utm_medium={{site.utm.medium}}" class="white-btn section-button">
          {% t section.create_profile.create_profile_cta %}
        </a>
      </div>
    </div>
  </div>
</div>
