<div class="ui middle equal width aligned padded stackable grid">
  <div class="row mobile-column-reverse">
    <div class="pink column column-mobile-hide">
      <div class="marketing-content">
        <h1 class="jumbotron-icon">@</h1>
      </div>
    </div>
    <div class="pink column">
      <div class="marketing-content">
        <h1 class="title">Jobbtips i mejlen</h1>
        <p class="body">Ge oss din mejladress så skickar tips när vi får in jobb.</p>

        <a href="{{site.app_subscriptions_link}}?&utm_source={{site.utm.source}}&utm_medium={{site.utm.medium}}" class="white-btn section-button">
          Skapa jobbmail
        </a>
      </div>
    </div>
  </div>
</div>
