<div class="ui middle equal width aligned padded stackable grid">
  <div class="row mobile-column-reverse">
    <div class="pink column marketing-background people-during-workshop"></div>
    <div class="pink column">
      <div class="marketing-content">
        <h1 class="title">Skapa profil</h1>
        <p class="body">Registrera dig hos Just Arrived idag. Då kan vi hitta dig när vi har jobb som passar din profil.</p>

        <a href="{{site.app_register_link}}?&utm_source={{site.utm.source}}&utm_medium={{site.utm.medium}}" class="white-btn section-button">
          Registera profil
        </a>
      </div>
    </div>
  </div>
</div>
