<div class="ui middle equal width aligned padded stackable grid">
  <div class="row">
    <div class="pink column marketing-background friendly-woman-smiling-looking-into-camera"></div>
    <div class="pink column">
      <div class="marketing-content">
        <h1 class="title">{% t section.find_employees.title %}</h1>
        <p class="body">{% t section.find_employees.body %}</p>

        <a href="/company" class="white-btn section-button">
          {% t nav.read_more %}
        </a>
      </div>
    </div>
  </div>
</div>
