<div class="ui middle equal width aligned padded stackable grid">
  <div class="row">
    <div class="pink column marketing-background smiling-man-looking-into-camera"></div>
    <div class="pink column">
      <div class="marketing-content">
        <h1 class="title">Vi hjälper dig att hitta medarbetare med stor potential</h1>
        <p class="body">Snabbt, enkelt och tryggt!</p>

        <a href="/company" class="white-btn section-button">
          Läs mer
        </a>
      </div>
    </div>
  </div>
</div>
