<div class="ui middle equal width aligned padded stackable grid">
  <div class="row mobile-column-reverse">
    <div class="black column">
      <div class="marketing-content">
        <h1 class="title">{% t section.first_step_to_job.title %}</h1>
        <p class="body">{% t section.first_step_to_job.body %}</p>

        <a href="/newcomer" class="white-btn section-button">
          {% t nav.read_more %}
        </a>
      </div>
    </div>
    <div class="black column marketing-background happy-man-looking-right"></div>
  </div>
</div>
