{% for post in site.posts limit: 1 %}
<div class="ui middle equal width aligned padded stackable grid">
  <div class="row mobile-column-reverse">
    <div
     class="black column marketing-background"
     style="background: url({{post.list_cover}})">
     </div>
    <div class="column">
      <div class="marketing-content">
        <h1 class="title">Nytt från bloggen</h1>
        <p class="body">
          <a href="{{ post.url | prepend: site.baseurl }}">"{{ post.title | escape }}"</a><br>
          <em>{{ post.date | date: "%b %-d, %Y" }}</em>
        </p>

        <a href="{{ post.url | prepend: site.baseurl }}" class="secondary-btn section-button">
          Läs mer
        </a>
      </div>
    </div>
  </div>
{% endfor %}
</div>
