<div class="ui middle equal width aligned padded stackable grid">
  <div class="row mobile-column-reverse">
    <div class="black column marketing-background three-people-cooperating-on-computer"></div>
    <div class="column">
      <div class="marketing-content">
        <h1 class="title">Nytt från bloggen</h1>
        <p class="body">3 tips för dig som har medarbetare som inte pratar flytande svenska</p>

        <a href="/company" class="primary-btn border-btn--pink section-button">
          Läs mer
        </a>
      </div>
    </div>
  </div>
</div>
