<div class="ui middle equal width aligned padded stackable grid">
  <div class="row">
    <div class="pink column tablet-hide">
      <div class="marketing-content">
        <h1 class="text-centered">{% t section.company_newsletter.title %}</h1>
        <h1 class="jumbotron-icon">@</h1>
      </div>
    </div>
    <div class="pink column">
      <div class="marketing-content">
        {% include company_newsletter_signup_form.html hide_title_on_desktop=true %}
      </div>
    </div>
  </div>
</div>
