<div class="ui middle equal width aligned padded stackable grid">
  <div class="row mobile-column-reverse">
    <div class="black column">
      <div class="marketing-content">
        <h1 class="title">{% t section.we_change_the_market.title %}</h1>
        <p class="body">{% t section.we_change_the_market.body %}</p>

        <a href="{% tl about_us %}" class="white-btn section-button">
          {% t nav.about_us %}
        </a>
      </div>
    </div>
    <div class="pink column marketing-background man-smiling-looing-straight-into-camera"></div>
  </div>
</div>
