<div class="ui middle equal width aligned padded stackable grid">
  <div class="black two column centered stackable equal width row">
    <div class="column">
      <div class="marketing-content">
        <h1 class="title">Vi förändrar arbetsmarknaden</h1>
        <p class="body">Genom att ta  tillvara på kompetens och erfarenhet som utrikesfödda kommer med  kan vi  bygga bättre affärer, bättre organisationer och ett bättre samhälle.</p>

        <a href="/company" class="white-btn section-button">
          Läs mer
        </a>
      </div>
    </div>
  </div>
</div>
