{% if include.bg_color %}
  {% assign bg_color = include.bg_color %}
{% else %}
  {% assign bg_color = 'white' %}
{% endif %}

{% if bg_color == 'white' %}
  {% assign btn_class = 'secondary-btn' %}
{% else %}
  {% assign btn_class = 'white-btn' %}
{% endif %}


<div class="ui middle equal width aligned padded stackable grid">
  <div class="row mobile-column-reverse">
    <div class="{{bg_color}} column">
      <div class="marketing-content">
        <h1 class="title">Win-win har aldrig varit enklare!</h1>
        <p class="body">Det ska vara enkelt för arbetsgivare och utrikesfödda kandidater att mötas. Det är därför vi finns. </p>

        <a href="/company" class="{{btn_class}} section-button">
          Läs mer
        </a>
      </div>
    </div>
    <div class="{{bg_color}} column marketing-background three-people-cooperating-on-computer"></div>
  </div>
</div>
