<div class="ui middle equal width aligned padded stackable grid">
  <div class="row mobile-column-reverse">
    <div class="black column">
      <div class="marketing-content">
        <h1 class="title">{% t section.past_and_future.title %}</h1>
        <p class="body">{% t section.past_and_future.body %}</p>

        <a href="{% tl company %}" class="white-btn section-button">
          {% t nav.read_more %}
        </a>
      </div>
    </div>
    <div class="black column marketing-background woman-smiling-looking-into-camera"></div>
  </div>
</div>
