<div class="ui middle equal width aligned padded stackable grid">
  <div class="row mobile-column-reverse">
    <div class="black column">
      <div class="marketing-content">
        <h1 class="title">Igår, idag och imorgon</h1>
        <p class="body">Grunden till Just Arrived lades hösten 2015 när flyktingströmmen ökade. 2016 startade Just Arrived Bemanning AB. Vi har idag verksamhet i Stockholm och Göteborg och ser framöver fram emot att hjälpa ännu fler arbetsgivare och kandidater i fler städer att mötas.</p>

        <a href="/company" class="white-btn section-button">
          Läs mer
        </a>
      </div>
    </div>
    <div class="black column marketing-background woman-smiling-looking-into-camera"></div>
  </div>
</div>
