---
layout: post
---

<div class="xmas-submit-thanks">
  <h1>{% t xmas.thanks.title %}</h1>
  <p>{% t xmas.thanks.description %}</p>
  <p>
    <a href="/decemberutmaningen#supporters">{% t xmas.thanks.back_to_campaign %}</a>
  </p>
  <p>
    {% include social/facebook_btn.html href="http://justarrived.se/decemberutmaningen" %}
    {% include social/twitter_btn.html href="http://justarrived.se/decemberutmaningen" text="Vårt företag antog precis Decemberutmaningen - att hjälpa fler nyanlända få #enfotin på arbetsmarknaden. Nu utmanar vi andra företag att göra detsamma!" %}
  </p>
</div>
