<!DOCTYPE html>
<html lang="{{ site.lang }}">

{% include head.html %}

{% capture locale_direction %}{% if site.rtl_languages contains site.lang %}rtl{% else %}ltr{% endif %}{% endcapture %}
<body id="body" data-lang="{{ site.lang }}" class="{{ site.lang }}-locale {{ locale_direction }}-locale-direction" dir="{{ locale_direction }}" itemscope="" itemtype="http://schema.org/WebPage">
  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <div class="container">
    {% include nav.html %}

    {{ content }}

    {% include footer.html %}
  </div>

{% include bottom.html %}

</body>

</html>
