<!DOCTYPE html>
<html lang="{{ site.lang }}">

{% include head.html %}

{% capture locale_direction %}{% if site.rtl_languages contains site.lang %}rtl{% else %}ltr{% endif %}{% endcapture %}
<body data-lang="{{ site.lang }}" class="{{ site.lang }}-locale {{ locale_direction }}-locale-direction" dir="{{ locale_direction }}" itemscope="" itemtype="http://schema.org/WebPage">

  <div class="container">
    {% include nav.html %}

    {{ content }}

    {% include footer.html %}
  </div>

{% include bottom.html %}

</body>

</html>
