---
layout: default
---

{% assign author = site.authors[page.author] %}

<section class="
section--blog
module
module--padding
module--black
module--white-bg
" dir="ltr">
  <div class="
  module-content
  module-content--centered
  module--black
  ">

  <div class="wrap">
    <div class="post">
        <header class="post-header">
          {% if page.hide_post_title != true %}<h1 class="post-title">{{ page.title }}</h1>{% endif %}
          {% if page.no_meta_section != true %}
          <p class="post-meta">
            {{ page.date | date: "%b %-d, %Y" }}
            {% if author %} • {{ author.display_name }} {% if author.github %} <a href="https://github.com/{{ author.github }}"><i class="fa fa-github-square" aria-hidden="true"></i></a>{% endif %}{% endif %}
            {% if page.meta %} • {{ page.meta }}{% endif %}
          </p>
          {% endif %}
        </header>

        <article class="post-content" lang="{{ post.locale }}">
          {{ content }}
        </article>

      </div>
    </div>
  </div>
</section>
