---
layout: default

redirect_from:
  - /newcomer/

namespace: newcomer

permalink:      /hitta-jobb-i-sverige/
permalink_sv:   /hitta-jobb-i-sverige/
permalink_en:   /find-jobs-in-sweden/
permalink_ar:   /العمال/
---

{% capture top_banner_title %}{% t newcomer.top_banner.title %}{% endcapture %}
{% capture job_cards_title %}{% t newcomer.job_cards.title %}{% endcapture %}

{% include v3/sections/top_banner.html title=top_banner_title %}
{% include v3/sections/we_take_care_of_your_potential.html %}
{% include v3/sections/create_your_profile.html %}
{% include sections/job_cards.html title=job_cards_title %}
{% include v3/sections/create_a_job_subscription.html %}
{% include v3/sections/newcomer_good_to_know.html %}
{% include v3/sections/consultant_at_just_arrived.html %}
{% include sections/newcomer/contact_us.html %}
{% include sections/job_cards.html title=job_cards_title %}
