<div class="guide-meny-column">
  <div _ngcontent-c23="" class="ui list guide-menu-container guide-border-left" style="direction: ltr;">
    <!---->
    <div _ngcontent-c23="" class="guide-menu-section">

      <a _ngcontent-c23="" href="/guide/section/1/innan-du-soker-jobb">
        <div _ngcontent-c23="" class="guide-menu-section-title">
          <basic-title-text _ngcontent-c23="" color="black" fontsize="small" _nghost-c11="">
            <div _ngcontent-c11="" class="bold left small black title"
              style="direction: ltr; display: block; margin: 1.8rem 0px 1rem;">
              <!---->
              <div _ngcontent-c11="" style="display: inline;">
                Innan du söker jobb
              </div>
              <!---->
            </div>
          </basic-title-text>
        </div>
      </a>

      <!---->
      <div _ngcontent-c23="" class="guide-menu-section-item">
        <basic-link _ngcontent-c23="" fontsize="small" hovercolor="pink" marginbottom=".5rem" margintop="0"
          _nghost-c12="" tabindex="0">
          <!---->
          <!----><a _ngcontent-c12="" data-hover="Det här behöver du för att börja jobba i Sverige"
            class="cl-effect-1 direction-ltr gray hover-pink left link normal small"
            href="/guide/section/1/innan-du-soker-jobb/article/1/det-har-behover-du-for-att-jobba-i-sverige"
            style="direction: ltr; display: block; margin: 0px 0px 0.5rem; padding-bottom: 0px; padding-top: 0px; text-decoration: none;">
            Det här behöver du för att börja jobba i Sverige
          </a>
        </basic-link>
      </div>
      <div _ngcontent-c23="" class="guide-menu-section-item">
        <basic-link _ngcontent-c23="" fontsize="small" hovercolor="pink" marginbottom=".5rem" margintop="0"
          _nghost-c12="" tabindex="0">
          <!---->
          <!----><a _ngcontent-c12="" data-hover="Kort om LMA och AT-UND "
            class="cl-effect-1 direction-ltr gray hover-pink left link normal small"
            href="/guide/section/1/innan-du-soker-jobb/article/2/kort-om-lma-och-at-und"
            style="direction: ltr; display: block; margin: 0px 0px 0.5rem; padding-bottom: 0px; padding-top: 0px; text-decoration: none;">
            Kort om LMA och AT-UND
          </a>
        </basic-link>
      </div>
      <div _ngcontent-c23="" class="guide-menu-section-item">
        <basic-link _ngcontent-c23="" fontsize="small" hovercolor="pink" marginbottom=".5rem" margintop="0"
          _nghost-c12="" tabindex="0">
          <!---->
          <!----><a _ngcontent-c12="" data-hover="Personnummer och samordningsnummer"
            class="cl-effect-1 direction-ltr gray hover-pink left link normal small"
            href="/guide/section/1/innan-du-soker-jobb/article/3/personnummer-och-samordningsnummer"
            style="direction: ltr; display: block; margin: 0px 0px 0.5rem; padding-bottom: 0px; padding-top: 0px; text-decoration: none;">
            Personnummer och samordningsnummer
          </a>
        </basic-link>
      </div>
      <div _ngcontent-c23="" class="guide-menu-section-item">
        <basic-link _ngcontent-c23="" fontsize="small" hovercolor="pink" marginbottom=".5rem" margintop="0"
          _nghost-c12="" tabindex="0">
          <!---->
          <!----><a _ngcontent-c12="" data-hover="Därför behöver du ha ett bankkonto"
            class="cl-effect-1 direction-ltr gray hover-pink left link normal small"
            href="/guide/section/1/innan-du-soker-jobb/article/4/darfor-behover-du-ett-bankkonto"
            style="direction: ltr; display: block; margin: 0px 0px 0.5rem; padding-bottom: 0px; padding-top: 0px; text-decoration: none;">
            Därför behöver du ha ett bankkonto
          </a>
        </basic-link>
      </div>
      <div _ngcontent-c23="" class="guide-menu-section-item">
        <basic-link _ngcontent-c23="" fontsize="small" hovercolor="pink" marginbottom=".5rem" margintop="0"
          _nghost-c12="" tabindex="0">
          <!---->
          <!----><a _ngcontent-c12="" data-hover="Vad ska jag prata för språk för att kunna jobba i Sverige?"
            class="cl-effect-1 direction-ltr gray hover-pink left link normal small"
            href="/guide/section/1/innan-du-soker-jobb/article/5/vad-ska-jag-prata-for-sprak-for-att-kunna-jobba-i-sverige"
            style="direction: ltr; display: block; margin: 0px 0px 0.5rem; padding-bottom: 0px; padding-top: 0px; text-decoration: none;">
            Vad ska jag prata för språk för att kunna jobba i Sverige?
          </a>
        </basic-link>
      </div>
      <div _ngcontent-c23="" class="guide-menu-section-item">
        <basic-link _ngcontent-c23="" fontsize="small" hovercolor="pink" marginbottom=".5rem" margintop="0"
          _nghost-c12="" tabindex="0">
          <!---->
          <!----><a _ngcontent-c12="" data-hover="Myndigheter som är bra att ha koll på"
            class="cl-effect-1 direction-ltr gray hover-pink left link normal small"
            href="/guide/section/1/innan-du-soker-jobb/article/6/myndigheter-som-ar-bra-att-ha-koll-pa"
            style="direction: ltr; display: block; margin: 0px 0px 0.5rem; padding-bottom: 0px; padding-top: 0px; text-decoration: none;">
            Myndigheter som är bra att ha koll på
          </a>
        </basic-link>
      </div>
    </div>
    <div _ngcontent-c23="" class="guide-menu-section">

      <a _ngcontent-c23="" href="/guide/section/2/att-soka-jobb">
        <div _ngcontent-c23="" class="guide-menu-section-title">
          <basic-title-text _ngcontent-c23="" color="black" fontsize="small" _nghost-c11="">
            <div _ngcontent-c11="" class="bold left small black title"
              style="direction: ltr; display: block; margin: 1.8rem 0px 1rem;">
              <!---->
              <div _ngcontent-c11="" style="display: inline;">
                Att söka jobb
              </div>
              <!---->
            </div>
          </basic-title-text>
        </div>
      </a>

      <!---->
      <div _ngcontent-c23="" class="guide-menu-section-item">
        <basic-link _ngcontent-c23="" fontsize="small" hovercolor="pink" marginbottom=".5rem" margintop="0"
          _nghost-c12="" tabindex="0">
          <!---->
          <!----><a _ngcontent-c12="" data-hover="Så hittar du jobben i Sverige"
            class="cl-effect-1 direction-ltr gray hover-pink left link normal small"
            href="/guide/section/2/att-soka-jobb/article/7/sa-hittar-du-jobben-i-sverige"
            style="direction: ltr; display: block; margin: 0px 0px 0.5rem; padding-bottom: 0px; padding-top: 0px; text-decoration: none;">
            Så hittar du jobben i Sverige
          </a>
        </basic-link>
      </div>
      <div _ngcontent-c23="" class="guide-menu-section-item">
        <basic-link _ngcontent-c23="" fontsize="small" hovercolor="pink" marginbottom=".5rem" margintop="0"
          _nghost-c12="" tabindex="0">
          <!---->
          <!----><a _ngcontent-c12="" data-hover="Olika sätt att söka jobb"
            class="cl-effect-1 direction-ltr gray hover-pink left link normal small"
            href="/guide/section/2/att-soka-jobb/article/8/olika-satt-att-soka-jobb"
            style="direction: ltr; display: block; margin: 0px 0px 0.5rem; padding-bottom: 0px; padding-top: 0px; text-decoration: none;">
            Olika sätt att söka jobb
          </a>
        </basic-link>
      </div>
      <div _ngcontent-c23="" class="guide-menu-section-item">
        <basic-link _ngcontent-c23="" fontsize="small" hovercolor="pink" marginbottom=".5rem" margintop="0"
          _nghost-c12="" tabindex="0">
          <!---->
          <!----><a _ngcontent-c12="" data-hover="Så bygger du nätverk för att hitta jobb"
            class="cl-effect-1 direction-ltr gray hover-pink left link normal small"
            href="/guide/section/2/att-soka-jobb/article/9/sa-bygger-du-natverk-for-att-hitta-jobb"
            style="direction: ltr; display: block; margin: 0px 0px 0.5rem; padding-bottom: 0px; padding-top: 0px; text-decoration: none;">
            Så bygger du nätverk för att hitta jobb
          </a>
        </basic-link>
      </div>
      <div _ngcontent-c23="" class="guide-menu-section-item">
        <basic-link _ngcontent-c23="" fontsize="small" hovercolor="pink" marginbottom=".5rem" margintop="0"
          _nghost-c12="" tabindex="0">
          <!---->
          <!----><a _ngcontent-c12="" data-hover="Så skriver du CV"
            class="cl-effect-1 direction-ltr gray hover-pink left link normal small"
            href="/guide/section/2/att-soka-jobb/article/10/sa-skriver-ditt-cv"
            style="direction: ltr; display: block; margin: 0px 0px 0.5rem; padding-bottom: 0px; padding-top: 0px; text-decoration: none;">
            Så skriver du CV
          </a>
        </basic-link>
      </div>
      <div _ngcontent-c23="" class="guide-menu-section-item">
        <basic-link _ngcontent-c23="" fontsize="small" hovercolor="pink" marginbottom=".5rem" margintop="0"
          _nghost-c12="" tabindex="0">
          <!---->
          <!----><a _ngcontent-c12="" data-hover="CV mall"
            class="cl-effect-1 direction-ltr gray hover-pink left link normal small"
            href="/guide/section/2/att-soka-jobb/article/17/cv-mall"
            style="direction: ltr; display: block; margin: 0px 0px 0.5rem; padding-bottom: 0px; padding-top: 0px; text-decoration: none;">
            CV mall
          </a>
        </basic-link>
      </div>
      <div _ngcontent-c23="" class="guide-menu-section-item">
        <basic-link _ngcontent-c23="" fontsize="small" hovercolor="pink" marginbottom=".5rem" margintop="0"
          _nghost-c12="" tabindex="0">
          <!---->
          <!----><a _ngcontent-c12="" data-hover="Så skriver du ett personligt brev"
            class="cl-effect-1 direction-ltr gray hover-pink left link normal small"
            href="/guide/section/2/att-soka-jobb/article/11/att-skriva-ett-personligt-brev"
            style="direction: ltr; display: block; margin: 0px 0px 0.5rem; padding-bottom: 0px; padding-top: 0px; text-decoration: none;">
            Så skriver du ett personligt brev
          </a>
        </basic-link>
      </div>
      <div _ngcontent-c23="" class="guide-menu-section-item">
        <basic-link _ngcontent-c23="" fontsize="small" hovercolor="pink" marginbottom=".5rem" margintop="0"
          _nghost-c12="" tabindex="0">
          <!---->
          <!----><a _ngcontent-c12="" data-hover="Så förbereder du dig för en intervju"
            class="cl-effect-1 direction-ltr gray hover-pink left link normal small"
            href="/guide/section/2/att-soka-jobb/article/12/sa-forbereder-du-dig-for-en-intervju"
            style="direction: ltr; display: block; margin: 0px 0px 0.5rem; padding-bottom: 0px; padding-top: 0px; text-decoration: none;">
            Så förbereder du dig för en intervju
          </a>
        </basic-link>
      </div>
      <div _ngcontent-c23="" class="guide-menu-section-item">
        <basic-link _ngcontent-c23="" fontsize="small" hovercolor="pink" marginbottom=".5rem" margintop="0"
          _nghost-c12="" tabindex="0">
          <!---->
          <!----><a _ngcontent-c12="" data-hover="Anställningsavtalet"
            class="cl-effect-1 direction-ltr gray hover-pink left link normal small"
            href="/guide/section/2/att-soka-jobb/article/13/tank-pa-det-har-nar-du-skriver-anstallningsavtal"
            style="direction: ltr; display: block; margin: 0px 0px 0.5rem; padding-bottom: 0px; padding-top: 0px; text-decoration: none;">
            Anställningsavtalet
          </a>
        </basic-link>
      </div>
      <div _ngcontent-c23="" class="guide-menu-section-item">
        <basic-link _ngcontent-c23="" fontsize="small" hovercolor="pink" marginbottom=".5rem" margintop="0"
          _nghost-c12="" tabindex="0">
          <!---->
          <!----><a _ngcontent-c12="" data-hover="Olika anställningsformer"
            class="cl-effect-1 direction-ltr gray hover-pink left link normal small"
            href="/guide/section/2/att-soka-jobb/article/15/olika-anstallningsformer"
            style="direction: ltr; display: block; margin: 0px 0px 0.5rem; padding-bottom: 0px; padding-top: 0px; text-decoration: none;">
            Olika anställningsformer
          </a>
        </basic-link>
      </div>
      <div _ngcontent-c23="" class="guide-menu-section-item">
        <basic-link _ngcontent-c23="" fontsize="small" hovercolor="pink" marginbottom=".5rem" margintop="0"
          _nghost-c12="" tabindex="0">
          <!---->
          <!----><a _ngcontent-c12="" data-hover="LAS och kollektivavtal - vad innebär det?"
            class="cl-effect-1 direction-ltr gray hover-pink left link normal small"
            href="/guide/section/2/att-soka-jobb/article/14/Det%20finns%20n%C3%A5gra%20olika%20begrepp%20som%20%C3%A4r%20bra%20att%20k%C3%A4nna%20till%20n%C3%A4r%20du%20ska%20b%C3%B6rja%20jobba.%20H%C3%A4r%20g%C3%A5r%20vi%20igenom%20n%C3%A5gra%20av%20de%20viktigaste."
            style="direction: ltr; display: block; margin: 0px 0px 0.5rem; padding-bottom: 0px; padding-top: 0px; text-decoration: none;">
            LAS och kollektivavtal - vad innebär det?
          </a>
        </basic-link>
      </div>
      <div _ngcontent-c23="" class="guide-menu-section-item">
        <basic-link _ngcontent-c23="" fontsize="small" hovercolor="pink" marginbottom=".5rem" margintop="0"
          _nghost-c12="" tabindex="0">
          <!---->
          <!----><a _ngcontent-c12="" data-hover="Tips från andra: &quot;Så byggde jag upp mitt nätverk i Sverige&quot;"
            class="cl-effect-1 direction-ltr gray hover-pink left link normal small"
            href="/guide/section/2/att-soka-jobb/article/16/tips-fran-andra"
            style="direction: ltr; display: block; margin: 0px 0px 0.5rem; padding-bottom: 0px; padding-top: 0px; text-decoration: none;">
            Tips från andra: "Så byggde jag upp mitt nätverk i Sverige"
          </a>
        </basic-link>
      </div>
    </div>
    <div _ngcontent-c23="" class="guide-menu-section">

      <a _ngcontent-c23="" href="/guide/section/3/att-jobba-i-sverige">
        <div _ngcontent-c23="" class="guide-menu-section-title">
          <basic-title-text _ngcontent-c23="" color="black" fontsize="small" _nghost-c11="">
            <div _ngcontent-c11="" class="bold left small black title"
              style="direction: ltr; display: block; margin: 1.8rem 0px 1rem;">
              <!---->
              <div _ngcontent-c11="" style="display: inline;">
                Att jobba i Sverige
              </div>
              <!---->
            </div>
          </basic-title-text>
        </div>
      </a>

      <!---->
      <div _ngcontent-c23="" class="guide-menu-section-item">
        <basic-link _ngcontent-c23="" fontsize="small" hovercolor="pink" marginbottom=".5rem" margintop="0"
          _nghost-c12="" tabindex="0">
          <!---->
          <!----><a _ngcontent-c12="" data-hover="Svenska arbetsplatser - så fungerar det"
            class="cl-effect-1 direction-ltr gray hover-pink left link normal small"
            href="/guide/section/3/att-jobba-i-sverige/article/38/lite_kort_om_hur_det_fungerar_p%C3%A5_svenska_arbetsplatser"
            style="direction: ltr; display: block; margin: 0px 0px 0.5rem; padding-bottom: 0px; padding-top: 0px; text-decoration: none;">
            Svenska arbetsplatser - så fungerar det
          </a>
        </basic-link>
      </div>
      <div _ngcontent-c23="" class="guide-menu-section-item">
        <basic-link _ngcontent-c23="" fontsize="small" hovercolor="pink" marginbottom=".5rem" margintop="0"
          _nghost-c12="" tabindex="0">
          <!---->
          <!----><a _ngcontent-c12="" data-hover="Om du blir sjuk eller om dina barn blir sjuka"
            class="cl-effect-1 direction-ltr gray hover-pink left link normal small"
            href="/guide/section/3/att-jobba-i-sverige/article/39/om_du_blir_sjuk_eller_att_dina_barn_blir_sjuka"
            style="direction: ltr; display: block; margin: 0px 0px 0.5rem; padding-bottom: 0px; padding-top: 0px; text-decoration: none;">
            Om du blir sjuk eller om dina barn blir sjuka
          </a>
        </basic-link>
      </div>
      <div _ngcontent-c23="" class="guide-menu-section-item">
        <basic-link _ngcontent-c23="" fontsize="small" hovercolor="pink" marginbottom=".5rem" margintop="0"
          _nghost-c12="" tabindex="0">
          <!---->
          <!----><a _ngcontent-c12="" data-hover="Semester och ledighet"
            class="cl-effect-1 direction-ltr gray hover-pink left link normal small"
            href="/guide/section/3/att-jobba-i-sverige/article/40/semester_och_ledighet"
            style="direction: ltr; display: block; margin: 0px 0px 0.5rem; padding-bottom: 0px; padding-top: 0px; text-decoration: none;">
            Semester och ledighet
          </a>
        </basic-link>
      </div>
      <div _ngcontent-c23="" class="guide-menu-section-item">
        <basic-link _ngcontent-c23="" fontsize="small" hovercolor="pink" marginbottom=".5rem" margintop="0"
          _nghost-c12="" tabindex="0">
          <!---->
          <!----><a _ngcontent-c12="" data-hover="Att jobba som konsult hos ett bemanningsföretag"
            class="cl-effect-1 direction-ltr gray hover-pink left link normal small"
            href="/guide/section/3/att-jobba-i-sverige/article/41/att_jobba_som_konsult_hos_ett_bemanningsf%C3%B6retag"
            style="direction: ltr; display: block; margin: 0px 0px 0.5rem; padding-bottom: 0px; padding-top: 0px; text-decoration: none;">
            Att jobba som konsult hos ett bemanningsföretag
          </a>
        </basic-link>
      </div>
      <div _ngcontent-c23="" class="guide-menu-section-item">
        <basic-link _ngcontent-c23="" fontsize="small" hovercolor="pink" marginbottom=".5rem" margintop="0"
          _nghost-c12="" tabindex="0">
          <!---->
          <!----><a _ngcontent-c12="" data-hover="Att arbeta som frilansare"
            class="cl-effect-1 direction-ltr gray hover-pink left link normal small"
            href="/guide/section/3/att-jobba-i-sverige/article/42/att_arbeta_som_frilansare"
            style="direction: ltr; display: block; margin: 0px 0px 0.5rem; padding-bottom: 0px; padding-top: 0px; text-decoration: none;">
            Att arbeta som frilansare
          </a>
        </basic-link>
      </div>
      <div _ngcontent-c23="" class="guide-menu-section-item">
        <basic-link _ngcontent-c23="" fontsize="small" hovercolor="pink" marginbottom=".5rem" margintop="0"
          _nghost-c12="" tabindex="0">
          <!---->
          <!----><a _ngcontent-c12="" data-hover="Tips från andra “I Sverige kan du vara ärlig mot din chef”"
            class="cl-effect-1 direction-ltr gray hover-pink left link normal small"
            href="/guide/section/3/att-jobba-i-sverige/article/18/tips-fran-abdulla-i-sverige-kan-du-vara-%C3%A4rlig-mot-din-chef"
            style="direction: ltr; display: block; margin: 0px 0px 0.5rem; padding-bottom: 0px; padding-top: 0px; text-decoration: none;">
            Tips från andra “I Sverige kan du vara ärlig mot din chef”
          </a>
        </basic-link>
      </div>
    </div>
  </div>
</div>
