<section class="
  module
  register
  module--padding
  module--white
  module--bg-cover" style="background-image: url({{ "/assets/images/xmas/register-section.png" | prepend: site.github.url }});">
  <div class="table">
    <div class="table-cell">
      <div class="wrap">
        <div class="module-content">
          <h2>What are you waiting for?</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies pellentesque neque. Fusce at pharetra mauris. Maecenas placerat ex lectus, nec hendrerit mauris dictum sed. Donec at mollis ex.
          </p>
          <button class="register-button" id="button">
            Register now
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
