<section class="
section--introduction
module
module--padding
module--black
module--white-bg
">
  <div class="
module-content
module-content--centered
module--black
">
    <h2 class="bordered bordered--primary bordered--centered module--txt-c">{% t company_form.title %}</h2>
    <p>{% t company_form.description %}</p>

    <form action="https://formspree.io/{{ site.job_submission_email }}" method="POST" class="signup-form">
      <h3>{% t form.sections.company %}</h3>
      {% include forms/partials/company_fields.html %}

      <h3>{% t form.sections.contact %}</h3>
      {% include forms/partials/company_contact_fields.html %}

      <h3>{% t form.sections.employee %}</h3>
      {% include forms/partials/job_employee_fields.html %}

      <h3>{% t form.sections.job %}</h3>
      {% include forms/partials/job_fields.html %}

      {% include forms/partials/submit_button.html %}
    </form>
  </div>
</section>
