<section class="
section--introduction
module
module--padding
module--black
module--white-bg
">
  <div class="
module-content
module-content--centered
module--black
">
    <h2 class="bordered bordered--primary module--txt-c">{% t job_form.title %}</h2>
    <p>{% t job_form.description %}</p>

    <form action="https://formspree.io/{{ site.submission_email }}" method="POST" class="signup-form">
      <div class="form-col form-col--full-width">
        <label for="company_name">{% t form.company_name %} <span class="asterisk">*</span></label>
        <input type="company_name" value="" name="company_name" class="required" id="company_name" required>
      </div>

      <h3>{% t form.sections.employee %}</h3>
      {% include forms/partials/job_employee_fields.html %}

      <h3>{% t form.sections.job %}</h3>
      {% include forms/partials/job_fields.html %}

      {% include forms/partials/submit_button.html %}
    </form>
  </div>
</section>
